<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Mở rộng</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/timbus/build/home.html">
                <img src="./assets/img/logohanoibus.png" alt="Transerco">
            </a>
        </div>



        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">DỊCH VỤ VÉ THÁNG <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/timbus/build/dang-ky-ve-thang.html">ĐĂNG KÝ VÉ THÁNG</a></li>
                        <li><a href="/timbus/build/dang-ky-tem-thang.html">ĐĂNG KÝ TEM THÁNG</a></li>
                    </ul>
                </li>
                <li><a href="/timbus/build/home.html">TÌM ĐƯỜNG</a>
                </li>
                <li><a href="/timbus/build/tin-bus.html">TIN BUÝT</a>
                </li>
                <li><a href="/timbus/build/luong-tuyen.html">LUỒNG TUYẾN</a></li>

                <li><a href="/timbus/build/huong-dan.html">HƯỚNG DẪN</a></li>
                <li><a href="/timbus/build/feedback.html">GÓP Ý</a></li>
                <li><a href="http://transerco.com.vn" target="_blank">GIỚI THIỆU</a></li>
                <li><a style="font-weight: bold; color: #ED3237 !important; text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;">HOTLINE: 1900 1296</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
