<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap" rel="stylesheet">
    <link href="https://api.binhanh.vn/Scripts/MapAPI.v1.2/leaflet.markercluster-1.4.1/MarkerCluster.css" rel="stylesheet">
    <link href="https://api.binhanh.vn/Scripts/MapAPI.v1.2/leaflet.markercluster-1.4.1/MarkerCluster.Default.css" rel="stylesheet">
    <link href="https://api.binhanh.vn/Scripts/MapAPI.v1.2/leaflet.1.2.0/leaflet.css" rel="stylesheet">
    <link href="https://api.binhanh.vn/Scripts/MapAPI.v1.2/leaflet.draw/leaflet.draw.css" rel="stylesheet">
    <link href="https://api.binhanh.vn/Scripts/MapAPI.v1.2/leaflet.fullscreen/leaflet.fullscreen.css" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
    <link href="./assets/css/jquery-ui.css" rel="stylesheet">
</head>
<body onload="onLoad();" class="{{bodyClasses}}">

{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-1.12.4.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/slick.js"></script>
<script src="./assets/js/jquery-ui.js"></script>
<script src="./assets/js/jquery.timer.js"></script>
<script src="./assets/js/jquery.jcarousel.js"></script>
<script src="./assets/js/transerco2.js"></script>
<script type="text/javascript" src="https://api.binhanh.vn/api/js?key=AC4FC5EF-E047-456C-BAB3-98FEE61E0FE3&amp;mt=leafletbamap"></script>
<script src="https://api.binhanh.vn/Scripts/MapAPI.v1.2/mapcore/ConfigMapstraction.js"></script>

<script src="https://api.binhanh.vn/Scripts/MapAPI.v1.2/leaflet.1.2.0/leaflet.js"></script>
<script src="https://api.binhanh.vn/Scripts/MapAPI.v1.2/leaflet.draw/leaflet.draw.js"></script>
<script src="https://api.binhanh.vn/Scripts/MapAPI.v1.2/leaflet.fullscreen/Leaflet.fullscreen.js"></script>
<script src="https://api.binhanh.vn/Scripts/MapAPI.v1.2/leaflet.draw/leaflet.editing.js"></script>
<script src="https://api.binhanh.vn/Scripts/MapAPI.v1.2/leaflet.draw/Path.drag.js"></script>
<script src="https://api.binhanh.vn/Scripts/MapAPI.v1.2/mapcore/mxn.js?(leafletbamap)&amp;v=20171226_v1657"></script>
<script type="text/javascript" src="https://api.binhanh.vn/Scripts/MapAPI.v1.2/mapcore/mxn.core.js?version=3302021_85116"></script>
<script type="text/javascript" src="https://api.binhanh.vn/Scripts/MapAPI.v1.2/mapcore/mxn.leafletbamap.core.js?version=3302021_85116"></script>
<script src="https://api.binhanh.vn/Scripts/MapAPI.v1.2/leaflet.markercluster-1.4.1/leaflet.markercluster.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        var availableTags = JSON.parse($('.hdfInfoRouteCss').text());//Lấy các điểm trong
        //*sign
        $("#banner-search-key").autocomplete({
            source: availableTags,
            minLength: 1
        });
    });
    //*sign
    function changeSearchType(obj) {
        var availableTags;
        var minLength = 1;
        switch ($('#banner-search-type').val()) {
            case "1":
                availableTags = JSON.parse($('.hdfInfoRouteCss').text());
                break;
            case "2":
                availableTags = JSON.parse($('.hdfInfoStopCss').text());
                minLength = 3;
                break;
            case "3":
                availableTags = JSON.parse($('.hdfInfoTicketsCss').text());
                minLength = 3;
                break;
            case "4":
                availableTags = JSON.parse($('.hdfInfoParkCss').text());
                minLength = 3;
                break;
            case "5":
                availableTags = JSON.parse($('.hdfInfoTravelCss').text());
                minLength = 3;
                break;
            default:
                availableTags = [];
                break;
        }

        $("#banner-search-key").autocomplete({
            //source: availableTags,
            source: function (request, response) { // Chuyển sang lấy theo ajax
                var searchType = $('#banner-search-type').val();
                switch (searchType) {
                    case "3":
                        $.ajax({
                            url: "img/search/action.ashx",
                            type: "POST",
                            dataType: "json",
                            data: {
                                act: 'listDiemBanVe',
                                keyword: ExtractLast(request.term)
                            },
                            success: function (data) {
                                response(data);
                            }
                        });
                        break;
                    case "2":
                        $.ajax({
                            url: "img/search/action.ashx",
                            type: "POST",
                            dataType: "json",
                            data: {
                                act: 'listDiemDung',
                                keyword: ExtractLast(request.term)
                            },
                            success: function (data) {
                                response(data);
                            }
                        });
                        break;
                    case "4":
                        $.ajax({
                            url: "img/search/action.ashx",
                            type: "POST",
                            dataType: "json",
                            data: {
                                act: 'listDiemGuiXe',
                                keyword: ExtractLast(request.term)
                            },
                            success: function (data) {
                                response(data);
                            }
                        });
                        break;
                    case "5":
                        $.ajax({
                            url: "img/search/action.ashx",
                            type: "POST",
                            dataType: "json",
                            data: {
                                act: 'listDiemDichVu',
                                keyword: ExtractLast(request.term)
                            },
                            success: function (data) {
                                response(data);
                            }
                        });
                        break;
                    default:
                        response(availableTags);
                        break;
                }
            },
            minLength: minLength,
            max: 20,
            scroll: true,
            select: function (event, ui) {
                var type = $('#banner-search-type').val();
                switch (type) {
                    //! Với trường hợp là tra cứu điểm bán vé thì truy vấn trực tiếp trong DB
                    //! Hiện tại lại không dùng ID để tìm nữa. Vãi đạn.
                    case "3":
                        $('#hdTicketsID').val(ui.item.id);
                        break;
                    default:
                }
            }
        });

        TSC.changeSearchType(obj);
    }
    function SplitString(val) {
        return val.split(/,\s*/);
    };
    function ExtractLast(term) {
        var that = this;
        return that.SplitString(term).pop();
    };
</script>
<script type="text/javascript">
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments);
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-106744498-1', 'auto');
    ga('send', 'pageview');

    //Khởi tạo giá trị trên giao diện!*sign
    $(document).ready(function () {
        initControls();

        $('#lft-rt-opt input[name=rbPoint]').on('change', function () {
            //Theo google
            if ($('input[name=rbPoint]:checked', "#lft-rt-opt").val() == 1) {
                console.log(1);//Lấy trực tiếp từ control luôn cho nó chính xác
                $('#lft-rt-opt-clr').trigger('click');
                $('#lft-rt-opt-fr-auto').hide();
                $('#lft-rt-opt-to-auto').hide();
                $('#lft-rt-opt-fr').show();
                $('#lft-rt-opt-to').show();
            } else {
                console.log(2);
                $('#lft-rt-opt-clr').trigger('click');
                $('#lft-rt-opt-fr-auto').show();
                $('#lft-rt-opt-to-auto').show();
                $('#lft-rt-opt-fr').hide();
                $('#lft-rt-opt-to').hide();
            }
        });

        var data = JSON.parse($('.hdfInfoStopCss').text());//Lấy các điểm dừng
        var minLengthStopPoint = 3;
        //*sign thêm auto complete cho điểm đi và điểm đến!
        $("#lft-rt-opt-fr-auto").autocomplete({
            source: data,
            minLength: minLengthStopPoint,
            max: 20,
            scroll: true
        });

        $('#lft-rt-opt-to-auto').autocomplete({
            source: data,
            minLength: minLengthStopPoint,
            max: 20,
            scroll: true
        });
    });

    function initControls() {
        $("#rbPointByGoogle").prop('checked', true);
    }

    function linkAndUpdateAdvert(resid, url) {
        console.log(resid);
        console.log(url);
    }
</script>

<script type="text/javascript">
    function hide_float_right() {

        var content = document.getElementById('float_content_right');

        var hide = document.getElementById('hide_float_right');

        if (content.style.display == "none") { content.style.display = "block"; hide.innerHTML = '<a href="javascript:hide_float_right()">Tắt quảng cáo [X]</a>'; }

        else {
            content.style.display = "none"; hide.innerHTML = '<a href="javascript:hide_float_right()">Xem...</a>';

        }
    }
</script>
<script type="text/javascript">
    var gMapType = '2';
</script>
</body>
</html>