<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/jquery-ui.css" rel="stylesheet">
    <link href="./assets/css/ticket.register.css" rel="stylesheet">
    <link href="./assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="./assets/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="./assets/css/jquery-confirm.min.css" rel="stylesheet">

</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-1.12.4.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/moment.js"></script>
<script src="./assets/js/jquery-ui.js"></script>
<script src="./assets/js/bootstrap-select.min.js"></script>
<script src="./assets/js/jquery.validate.min.js"></script>
<script src="./assets/js/additional-methods.min.js"></script>
<script src="./assets/js/bootstrap-dialog.min.js"></script>
<script src="./assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="./assets/js/bootstrap-tooltip.js"></script>
<script src="./assets/js/ticket.register.js"></script>
<script src="./assets/js/jquery-confirm.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        //! Khởi tạo đối tượng
        var dangKy = new DangKyVe();
        //! Lấy về danh sách ngày lễ, ngày nghỉ
        var danhSachNgayLe = '2021-02-11,2021-02-12,2021-02-13,2021-02-14,2021-02-15,2021-02-16,2021-02-17';
        var danhsachNgayNghi = '0';
        var danhsachLoaiVe = 'Hồ sơ đang được xử lý,Hồ sơ đăng ký cần bổ sung ,Hồ sơ đang được xử lý,Thẻ đang được xử lý,Thẻ tại điểm bán vé,Khách hàng đã nhận thẻ,Thẻ đang được xử lý,Thẻ đang được xử lý,Giao dịch bị hủy,Khách hàng đã nhận thẻ,Khách hàng đã nhận thẻ,Giao dịch bị hủy,Giao dịch bị hủy,Giao dịch bị hủy,Giao dịch bị hủy,Giao dịch bị hủy';

        //! Chuyển thành mảng
        danhSachNgayLe = danhSachNgayLe.split(",");
        danhsachNgayNghi = danhsachNgayNghi.split(",");
        danhsachLoaiVe = danhsachLoaiVe.split(",");
        //! Đối tượng tùy chọn
        var tuyChon = {
            ngayBatDauThang:
                '25',
            ngayNhanTheSomNhat:
                '3',
            ngayNhanTheMuonNhat:
                '35',
            ngayNghi: danhsachNgayNghi,
            ngayLe: danhSachNgayLe,
            phiBinhThuongLienTuyen:
                '200000.0000',
            phiUuTienLienTuyen: '100000.0000',
            phiUuTienMotTuyen: '55000.0000',
            phiBinhThuongMotTuyen:
                '100000.0000',
            danhSachTrangThaiVe: danhsachLoaiVe,
            mauCmndMatTruoc: 'http://timbus.vn/images/register/cmt-t.jpg',
            mauCmndMatSau: 'http://timbus.vn/images/register/cmt-s.jpg',
            mauHssvMatTruoc: 'http://timbus.vn/images/register/thesv-t.jpg',
            mauHssvMatSau: 'http://timbus.vn/images/register/thesv-s.jpg',
            mauCnMatTruoc: 'http://timbus.vn/images/register/image-CN.jpg',
            mauCnMatSau: 'http://timbus.vn/images/register/image-CN.jpg',
            baseImageUrl: 'http://timbus.vn/images/register/',
            isRedirect:false,
            isM:false
        };
        //! Gọi hàm khởi tạo
        dangKy.khoiTao(tuyChon);
        //! Khởi tạo Dialog
        dangKy.InitDialog($('#imgManager'), 'dangKy');

        var clientID = parseInt(0);
        dangKy.ClientID = clientID;
    });
</script>

</body>
</html>