<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/jquery-ui.css" rel="stylesheet">
    <link href="./assets/css/stamp.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-1.12.4.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/moment.js"></script>
<script src="./assets/js/jquery-ui.js"></script>
<script src="./assets/js/bootstrap-select.min.js"></script>
<script src="./assets/js/jquery.validate.min.js"></script>
<script src="./assets/js/additional-methods.min.js"></script>
<script src="./assets/js/bootstrap-dialog.min.js"></script>
<script src='https://www.google.com/recaptcha/api.js?hl=vi' type="text/javascript"></script>
<script>

    var clientID = parseInt(0);
    //2014-02-27,2014-02-01 Định dạng
    var holidays = '2021-02-11,2021-02-12,2021-02-13,2021-02-14,2021-02-15,2021-02-16,2021-02-17';
    var arrHolidays=[];
    if(holidays!=''){
        $.each(holidays.split(','),function(a,b,c){
            arrHolidays.push(b);
        });
    }
    $('div#imgManager').on('dialogclose', function(event,ui,xyz) {
        if($('#hdAnhTem').attr('data-name')){
            $("#imgUp").val($('#hdAnhTem').attr('data-name'));
            var img = $('<img/>', {
                id: 'dynamic',
                style: 'width: 100%'
            });
            $(".image-preview-input-title").text("Thay đổi");
            $(".image-preview-clear").show();
            $(".image-preview-filename").val($('#hdAnhTem').attr('data-name'));
            img.attr('src', $('#hdAnhTem').attr('data-content'));
            $(".image-preview").attr("data-content", $(img)[0].outerHTML).popover("show");
        }
    });
    var imgManager = $('#imgManager');
    imgManager.dialog(
        {
            autoOpen: false ,
            width: 'auto',
            height: 'auto',
            position: { my: "left top",at: "left top",of:".tab-content"}
        });

    function openImageManager(){
        $('#hdAnhTem').attr('data-name','');
        $('.image-preview').popover('hide');
        imgManager.load('/Ctr/ImageManager.aspx?container=imgManager&return=hdAnhTem&width=340&height=227&compressed=0');
        imgManager.dialog('open');
    }
    $(document).on('click', '#close-preview', function () {
        $('.image-preview').popover('hide');
        // Hover befor close the preview
        $('.image-preview').hover(
            function () {
                $('.image-preview').popover('show');
            },
            function () {
                $('.image-preview').popover('hide');
            }
        );
    });
    $(document).ready(function () {
        $('#termsandcon').hide();
        $('body')
            .on('focus', 'textarea', function () {
                $(this).closest('.input-controls-container').addClass('expand');
            })
            .on('blur', 'textarea', function () {
                if ($.trim($(this).val())) {
                    return;
                }
                $(this).closest('.input-controls-container').removeClass('expand');
            });

        $("input[id$='dateLimited']").datepicker({
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            changeYear: true,
            yearRange: 'c:c+100',
            minDate:0
        });


        $("input[id$='dateBirth']").datepicker({
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            changeYear: true,
            defaultDate: '01-01-2000',
            yearRange: "-100:+0",
            maxDate: -2190,
        }).on('change', function () {
            $(this).valid();
        });
        //$("#dateBirth").datepicker('setDate', '01-01-2000');
        $("input[id$='phone']").keydown(function (e) {
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
                (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                return;
            }
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

        $("input[id$='datepickerReceive']").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: 'c:c+1',
            minDate: 2,
            maxDate: 90,
            dateFormat: 'dd-mm-yy',
            beforeShowDay: function (date) {
                var day = date.getDay();
                var rs = [true];
                var sp ='0';
                //Cấu hình chặn ngày
                $.each(sp.split(','), function (a, b, c) {
                    if (day == parseInt(b))
                        rs = [false];
                });
                //Cấu hình chặn nghỉ lễ
                if(rs!=[false]){
                    var datestring = jQuery.datepicker.formatDate('yy-mm-dd', date);
                    if(holidays.indexOf(datestring)!=-1){
                        rs=[false];
                    }
                }
                return rs;
            }
        }).on('change', function () {
            $(this).valid();
        });

        var closebtn = $('<button/>', {
            type: "button",
            text: 'x',
            id: 'close-preview',
            style: 'font-size: initial;',
        });
        closebtn.attr("class", "close pull-right");
        // Set the popover default content
        $('.image-preview').popover({
            trigger: 'manual',
            html: true,
            title: "<strong>Xem trước</strong>" + $(closebtn)[0].outerHTML,
            content: "Không có ảnh nào",
            placement: 'bottom'
        });
        // Clear event
        $('.image-preview-clear').click(function () {
            $('.image-preview').attr("data-content", "").popover('hide');
            $('.image-preview-filename').val("");
            $('.image-preview-clear').hide();
            $('.image-preview-input input:file').val("");
            $(".image-preview-input-title").text("Tải ảnh");
        });
        // Create the preview image
        $(".image-preview-input input:file").change(function () {
            var img = $('<img/>', {
                id: 'dynamic',
                style: 'width: 100%'
            });
            var file = this.files[0];
            var reader = new FileReader();
            // Set preview image into the popover data-content
            reader.onload = function (e) {
                $(".image-preview-input-title").text("Thay đổi");
                $(".image-preview-clear").show();
                $(".image-preview-filename").val(file.name);
                img.attr('src', e.target.result);
                $(".image-preview").attr("data-content", $(img)[0].outerHTML).popover("show");
            }
            reader.readAsDataURL(file);
        });
        jQuery.validator.addMethod("smv", function (value, element) {
            return $('#stmonth input:checked').length > 0;
        }, 'Hãy chọn tháng');

        $.validator.addMethod('filesize', function (value, element, param) {
            return this.optional(element) || (element.files[0].size <= param)
        }, 'Kích cỡ file cho phép nhỏ hơn 5MB');

        $("#regisForm").validate({
            ignore: [],
            rules: {
                fullname: {
                    required: {
                        depends: function () {
                            return $.trim($(this).val()) == "";
                        }
                    },
                    maxlength: 150,
                    minlength: 6
                },
                dateBirth: {
                    required: {
                        depends: function () {
                            return $.trim($(this).val()) == "";
                        }
                    }
                },
                phone:
                    {
                        required: {
                            depends: function () {
                                return $.trim($(this).val()) == "";
                            }
                        },
                        minlength: 10,
                        maxlength: 11,
                        number: true
                    },
                address: {
                    required: {
                        depends: function () {
                            return $.trim($(this).val()) == "";
                        }
                    },
                    minlength: 4,
                    maxlength: 300
                },
                //imgPath:
                //    {
                //        required: true,
                //        extension: "jpg,jpeg,png",
                //        filesize: 5242880
                //    },
                datepickerReceive: {
                    required: {
                        depends: function () {
                            return $.trim($(this).val()) == "";
                        }
                    }
                },
                chkAgre: "required",
                groupMonth: { smv: true },
                note: {
                    maxlength: 500
                },
                imgUp: {
                    required: {
                        depends: function () {
                            return $.trim($(this).val()) == "";
                        }
                    },
                },
                cardcode:{
                    required: {
                        depends: function () {
                            return $.trim($(this).val()) == "";
                        }
                    },
                    maxlength: 50
                },
                dateLimited: {
                    required: {
                        depends: function () {
                            return $.trim($(this).val()) == "";
                        }
                    }
                }
            },
            messages: {
                groupMonth: "Chọn ít nhất 1 tháng",
                //imgPath: {
                //    required: "Hãy chọn ảnh",
                //    extension: "Chỉ chấp nhận loại file jpg,jpeg,png",
                //    filesize: "Kích cỡ file không được vượt quá 5MB"
                //},
                fullname: {
                    required: "Bạn phải nhập đầy đủ họ và tên",
                    maxlength: "Độ dài tối đa là 150 ký tự",
                    minlength: "Độ dài tối thiểu là 6 ký tự"
                },
                dateBirth: "Bạn phải nhập ngày sinh",
                phone: {
                    required: "Bạn phải nhập số điện thoại",
                    number:"Chỉ bao gồm các ký tự số",
                    minlength: "Số điện thoại ít nhất 10 số",
                    maxlength:"Số điện thoại tối đa 11 số"
                },
                address: {
                    required: "Bạn phải nhập địa chỉ giao tem",
                    maxlength: "Độ dài tối đa là 300 ký tự",
                    minlength: "Độ dài tối thiểu là 4 ký tự"
                },
                datepickerReceive: "Bạn phải nhập ngày nhận tem",
                note: {
                    maxlength: "Độ dài tối đa là 500 ký tự",
                },
                imgUp:{
                    required: "Bạn phải nhập ảnh vé tháng",
                },
                cardcode:{
                    required: "Bạn phải nhập mã thẻ",
                    maxlength: "Độ dài tối đa là 50 ký tự",
                },
                dateLimited:{
                    required:"Bạn phải nhập ngày hết hạn"
                }
            },
            errorElement: "em",
            highlight: function (element, errorClass, validClass) {
                if(element.id=="chkAgre"){
                    $(element).parents(".input-group").addClass("has-error").removeClass("has-success");
                }
                else{
                    $(element).parents(".cols-sm-10").addClass("has-error").removeClass("has-success");
                }
            },
            unhighlight: function (element, errorClass, validClass) {
                if(element.id=="chkAgre"){
                    $(element).parents(".input-group").addClass("has-success").removeClass("has-error");
                }
                else{
                    $(element).parents(".cols-sm-10").addClass("has-success").removeClass("has-error");
                }

            },
            errorPlacement: function (error, element) {
                if (element[0].id == 'groupMonth') {
                    error.addClass("help-block");
                    error.insertAfter(element)
                }
                //else if (element[0].id == 'imgPath') {
                //    error.addClass("help-block");
                //    error.insertBefore(element)
                //}
                else {
                    error.addClass("help-block");

                    if (element.prop("type") === "checkbox") {
                        error.insertAfter(element.parent("label"));
                    } else {
                        error.insertAfter(element.parents(".cols-sm-10"));
                    }
                }
                //return true;
            },
            submitHandler: function (form) {
                if (window.FormData !== undefined) {
                    $('.loader').show();
                    // Add the uploaded image content to the form data collection
                    var fileName = '';
                    var strImage ='';
                    if ($('#hdAnhTem').attr('data-content')) {
                        fileName = $('#hdAnhTem').attr('data-name');
                        strImage=  $('#hdAnhTem').attr('data-content');
                    }
                    else if( $("#imgUp").val()){
                        fileName = $("#imgUp").val();
                    }
                    var m = '';
                    $.each($('#stmonth input:checked'), function (val, ele) {
                        m += ele.value + ',';
                    });
                    $.ajax({
                        url: "Reg.asmx/Register",
                        type: "POST",
                        //data: $("#regisForm").serialize(),
                        data:
                            {
                                fullname: $('#fullname').val(),
                                dateBirth: $('#dateBirth').val(),
                                phone: $('#phone').val(),
                                state: $('#state').val(),
                                address: $('#address').val(),
                                rdStamp: $($('#pricemonth input:checked')[0]).attr('r-f-t'),
                                umonth: m,
                                datepickerReceive: $('#datepickerReceive').val(),
                                note: $('#note').val(),
                                imgPath: fileName,
                                'g-recaptcha-response': $('#g-recaptcha-response').val(),
                                route: $('#route').val()?$('#route').val():'0',
                                clientId: clientID,
                                imageString : strImage,
                                cardcode:$('#cardcode').val(),
                                limited: $($('#limited input:checked')[0]).attr('value')==='1'?true : false,
                                dateExprired: $('#dateLimited').val()
                            },
                        //data: JSON.stringify({ obj: arForm }),
                        //dataType: "json",
                        success: function (result) {
                            grecaptcha.reset();
                            $("#g-recaptcha-response").val("");
                            if (result.firstChild.innerHTML && result.firstChild.innerHTML != '')
                                showPopupDisable(result.firstChild.innerHTML, BootstrapDialog.TYPE_DANGER, 'Cảnh báo');
                            else {
                                //showPopupDisable($('#submit').text() + ' thành công', BootstrapDialog.TYPE_SUCCESS, 'Thông báo');
                                OpenUpdate(true);
                            }
                            $('.loader').hide();
                        },
                        error: function (xhr, status) {
                            $('.loader').hide();
                            console.log("Có lỗi xảy ra: " + status);
                        }
                    });


                }
                else {
                    alert('Trình duyệt của bạn không hỗ trợ tải file! Hãy thử lại với trình duyệt khác.')
                }
            }
        });
        $(':checkbox').each(function () {
            $(this).change(function (event) {
                updateUI();
            });
        });
        $(':radio').each(function () {
            $(this).change(function (event, element) {

                if(this.id !='rdlm01' &&this.id !='rdlm02' )
                {
                    $('#cardcode').val('');
                    $.each($('#stmonth input:checkbox'), function (val, ele) {
                        $(ele).prop('disabled',false);
                    });
                    if (this.id == "radio3" || this.id == "radio4") {
                        $("#route").attr('disabled', 'disabled');
                        $("#routeReg").hide();
                    }
                    else {
                        $("#route").removeAttr('disabled');
                        $("#routeReg").show();
                    }
                }


                updateUI();
            });
        });

        $.fn.serializeFiles = function () {
            var form = $(this),
                formData = new FormData()
            formParams = form.serializeArray();

            $.each(form.find('input[type="file"]'), function (i, tag) {
                $.each($(tag)[0].files, function (i, file) {
                    formData.append(tag.name, file);
                });
            });

            $.each(formParams, function (i, val) {
                formData.append(val.name, val.value);
            });

            return formData;
        };


    });
    function updateUI() {
        var pricem = 0;
        var umon = $('#stmonth input:checked').length;
        $('#pricemonth input:checked').each(function (item, element) {
            pricem = element.value;
            var priorityId = $('#priority');
            var limitedId = $('#limited');
            var DateExpriredID = $('#DateExprired');
            var rd1 = $('#rdlm01');
            var rd2 = $('#rdlm02');
            var cc = $('#cardcode');
            var dl = $('#dateLimited');
            if(element.getAttribute('stm-type')==="1"){
                cc.rules('add', {
                    required: {
                        depends: function () {
                            return $.trim($(this).val()) == "";
                        }
                    },
                    maxlength: 50
                });
                priorityId.show();
                limitedId.show();
                if(rd1.prop('checked')){
                    DateExpriredID.show();
                    dl.rules('add', {
                        required: {
                            depends: function () {
                                return $.trim($(this).val()) == "";
                            }
                        }
                    });
                }
                else{
                    DateExpriredID.hide();
                    dl.rules('remove', 'required');
                }

            }else{
                cc.rules('remove', 'required');
                dl.rules('remove', 'required');
                priorityId.hide();
                limitedId.hide();
                DateExpriredID.hide();
            }
        });
        $("#totalMoney").html((((pricem * umon) + parseInt($($('#ShipMoney')).attr('rvl'))) / 1000).toFixed(3).replace('.', ',') + ' đ');
        $('#stampMoney').html(((pricem * umon) / 1000).toFixed(3).replace('.', ',') + ' đ');
        //New

    }
    function validateCardCode(element){
        debugger;
        if(element.value){
            $.ajax({
                url: "Reg.asmx/GetCardCodeStatus",
                type: "POST",
                data:
                    {
                        cardcode: element.value,
                        listmonth: '4,5,6'
                    },
                success: function (result) {
                    if (result.firstChild.innerHTML && result.firstChild.innerHTML != ''){
                        $('#msgAlert').html('Bạn đã mua tem ưu tiên tháng '+ result.firstChild.innerHTML + ' bạn không thể mua lại tem cho các tháng này.', BootstrapDialog.TYPE_DANGER, 'Cảnh báo');
                        $.each(result.firstChild.innerHTML.split(','),function(a,b,c){
                            $('#chk'+b).prop('checked',false);
                            $('#chk'+b).prop('disabled',true);
                        });
                    }
                    else{
                        $('#msgAlert').html('');
                        $.each($('#stmonth input:checkbox'), function (val, ele) {
                            $(ele).prop('disabled',false);
                        });
                    }

                },
                error: function (xhr, status) {
                    console.log("Có lỗi xảy ra: " + status);
                }
            });
        }

    }
    function OpenUpdate(IsReg) {
        IsReg =IsReg||false;
        if ($('#fullname').valid() && $('#dateBirth').valid() && $('#phone').valid()) {
            $.ajax({
                url: "Reg.asmx/RequestInfo",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data:
                    JSON.stringify({
                        fullname: $('#fullname').val(),
                        dateBirth: $('#dateBirth').val(),
                        phone: $('#phone').val()
                    }),
                success: function (data) {
                    if (data.d) {
                        EnableForUpdate(data.d,IsReg);
                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                    console.log(xmlHttpRequest.responseText);
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            });
        }
    }
    function EnableForUpdate(obj,IsReg) {
        //Locked Default
        $('#fullname').prop("disabled", true);
        $("#dateBirth").datepicker("option", "disabled", true);
        $('#phone').prop("disabled", true);
        //END LOCKED
        $('#state').val(obj.DistricID).change();
        if(obj.RegisterFleet>0)
            $('#route').val(obj.RegisterFleet).change();
        $('#address').val(obj.Address);
        if ($('#dynamic').length > 0) {
            $('#dynamic').attr('src', obj.ImagePath);
        }
        else {
            var img = $('<img/>', {
                id: 'dynamic',
                style: 'width: 100%'
            });
            img.attr('src', obj.ImagePath);
            $(".image-preview").attr("data-content", $(img)[0].outerHTML);
        }
        $(".image-preview-filename").val(obj.ImagePath.substring(obj.ImagePath.lastIndexOf('/') + 1));
        $(".image-preview").popover("show");

        if(obj.States<6){
            //$('#imgPath').rules('remove', 'required');
            $.each(obj.RegisterMonths.split(','), function (e, a, c) {
                $('#chk' + a).prop('checked', true).change();
            });
            $('#chkAgre').prop('checked', true).change();
            //Date
            var dateString = obj.ReceiveDate.substr(6);
            var currentTime = new Date(parseInt(dateString));
            var month = currentTime.getMonth() + 1;
            var day = currentTime.getDate();
            var year = currentTime.getFullYear();
            var date = day + "-" + month + "-" + year;


            //Stamp type
            if (obj.StampType == 1) {
                if(obj.ExpireDate){
                    //Date
                    var dateStringE = obj.ExpireDate.substr(6);
                    var currentTimeExpired = new Date(parseInt(dateStringE));
                    var monthE = currentTimeExpired.getMonth() + 1;
                    var dayE = currentTimeExpired.getDate();
                    var yearE = currentTimeExpired.getFullYear();
                    var dateE = dayE + "-" + monthE + "-" + yearE;
                    $('#rdlm01').prop('checked', true).change();
                    $("#dateLimited").datepicker('setDate', dateE);
                }
                else{
                    $('#rdlm02').prop('checked', true).change();
                }
                if (obj.FleetType == 1)
                    $('#radio1').prop('checked', true).change();
                else
                    $('#radio3').prop('checked', true).change();

                $('#cardcode').val(obj.CardCode);
            }
            else {
                if (obj.FleetType == 1)
                    $('#radio2').prop('checked', true).change();
                else
                    $('#radio4').prop('checked', true).change();
            }


            $("#datepickerReceive").datepicker('setDate', date);
            $('#note').val(obj.NoteCustomer);

            $('#submit').text('Cập nhật');
            switch(obj.States)
            {
                case 1:
                {
                    $("#switbottom").html('<a class="btn btn-lg btn-warning btn-block" id="resform" onclick="showPopupConfirm();">Hủy hồ sơ</a>')
                    showPopupDisable((IsReg?'<p>Đơn đăng ký của Quý khách đã được gửi đến Trung Tâm Vé - Transerco.</p>': '')+'Bạn có đơn đăng ký mua tem ngày <strong>' + date + '</strong> có trạng thái <strong>' + obj.NameStates + '</strong>. Bạn có thể: <p class="text-pad-exam">+ Sửa các thông tin: Địa chỉ nhận tem và Thông tin đặt tem</p><p class="text-pad-exam">+ Hủy đơn đăng ký</p>', BootstrapDialog.TYPE_PRIMARY, 'Thông báo');
                }
                    break;
                case 2:
                {
                    $("#switbottom").html('<a class="btn btn-lg btn-warning btn-block" id="resform" onclick="showPopupConfirm();">Hủy hồ sơ</a>')
                    showPopupDisable('Đơn đặt hàng mua tem ngày <strong>' + date + '</strong> cho các tháng <strong>' + obj.RegisterMonths + '</strong> đang ở trạng thái <strong>' + obj.NameStates + '</strong>. Quý khách vui lòng chỉnh sửa hồ sơ theo nội dung sau: <strong>'+obj.NoteForCustomer+'</strong> . Hoặc liên hệ với trung tâm vé theo số hotline <strong>1900.1296</strong>', BootstrapDialog.TYPE_PRIMARY, 'Thông báo');
                }
                    break;
                default:
                {
                    $("#switbottom").html('<button onclick="resetform()" class="btn btn-lg btn-warning btn-block" id="resform">Nhập lại</button>');
                    $("form :input").attr("disabled", "disabled");
                    showPopupDisable('Đơn đặt hàng mua tem ngày <strong>' + date + '</strong> cho các tháng <strong>' + obj.RegisterMonths + '</strong> đang ở trạng thái <strong>' + obj.NameStates + '</strong> bạn không thể sửa đổi. Vui lòng liên hệ số tổng đài <strong>1900.1296</strong> khi có yêu cầu thay đổi thông tin', BootstrapDialog.TYPE_DANGER, 'Thông báo');
                }
            }
        }
        else{
            showPopupDisable('Bạn đã có hồ sơ đăng ký mua tem lưu trên hệ thống. Bạn có thể sửa hồ sơ cũ hoặc đăng ký mới.',BootstrapDialog.TYPE_PRIMARY, 'Thông báo');
            //Stamp type
            if (obj.StampType == 1) {
                if(obj.ExpireDate){
                    //Date
                    var dateStringE = obj.ExpireDate.substr(6);
                    var currentTimeExpired = new Date(parseInt(dateStringE));
                    var monthE = currentTimeExpired.getMonth() + 1;
                    var dayE = currentTimeExpired.getDate();
                    var yearE = currentTimeExpired.getFullYear();
                    var dateE = dayE + "-" + monthE + "-" + yearE;
                    $('#rdlm01').prop('checked', true).change();
                    $("#dateLimited").datepicker('setDate', dateE);
                }
                else{
                    $('#rdlm02').prop('checked', true).change();
                }
                if (obj.FleetType == 1)
                    $('#radio1').prop('checked', true).change();
                else
                    $('#radio3').prop('checked', true).change();
                $('#cardcode').val(obj.CardCode).change();
            }
            else {
                if (obj.FleetType == 1)
                    $('#radio2').prop('checked', true).change();
                else
                    $('#radio4').prop('checked', true).change();
            }
        }
        updateUI();
    }
    function uuidv4() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
            var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
        });
    }
    //BootstrapDialog.TYPE_DEFAULT,
    //BootstrapDialog.TYPE_INFO,
    //BootstrapDialog.TYPE_PRIMARY,
    //BootstrapDialog.TYPE_SUCCESS,
    //BootstrapDialog.TYPE_WARNING,
    //BootstrapDialog.TYPE_DANGER
    function showPopupDisable(msg, type, title) {
        BootstrapDialog.show({
            type: type,
            title: title,
            message: msg,
            buttons: [{
                label: 'Đóng',
                action: function (dialogItself) {
                    dialogItself.close();
                }
            }]
        });
    }
    function resetform(){
        $('#fullname').prop("disabled", false);
        $("#dateBirth").datepicker("option", "disabled", false);
        $('#phone').prop("disabled", false);

        $('#regisForm').trigger('reset');
        $('#btnImgDelete').hide();$('.image-preview').popover('hide');
        $.each($('#stmonth input:checkbox'), function (val, ele) {
            $(ele).prop('disabled',false);
        });
        $('#msgAlert').html('');
    }
    function loadterms() {
        if ($('#termsandcon').css('display') == 'none') {
            $('#termsandcon').show();
        }
        else
            $('#termsandcon').hide();
        return false;
    }
    function checkvalid() {
        $('#groupMonth').valid();
    }
    function showPopupConfirm() {
        var $textAndPic = $('<div class="form-group"><label for="address" class="cols-sm-2 control-label">Lý do hủy (<span>*</span>)</label><div class="cols-sm-10"><div class="input-group"><span class="input-group-addon"><i class="fa fa-address-book-o fa" aria-hidden="true"></i></span><div class="input-controls-container"><textarea class="form-control" name="cancelStamp" id="cancelStamp" placeholder="Nhập lý do hủy" style="min-height: 42px"></textarea></div></div></div></div>');
        BootstrapDialog.show({
            title: 'Hủy hồ sơ',
            message: $textAndPic,
            type: BootstrapDialog.TYPE_WARNING, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            closable: true, // <-- Default value is false
            buttons: [{
                label: 'Đồng ý',
                action: function (dialogRef) {
                    var res = $('#cancelStamp').val();
                    if (res) {
                        $.ajax({
                            url: "Reg.asmx/CancelRegister",
                            type: "POST",
                            //data: $("#regisForm").serialize(),
                            data:
                                {
                                    fullname: $('#fullname').val(),
                                    dateBirth: $('#dateBirth').val(),
                                    phone: $('#phone').val(),
                                    note: $('#cancelStamp').val(),
                                },
                            //data: JSON.stringify({ obj: arForm }),
                            //dataType: "json",
                            success: function (result) {
                                if (result.firstChild.innerHTML && result.firstChild.innerHTML != '')
                                    showPopupDisable(result.firstChild.innerHTML, BootstrapDialog.TYPE_DANGER, 'Cảnh báo');
                                else {
                                    showPopupDisable('Hủy thành công', BootstrapDialog.TYPE_SUCCESS, 'Thông báo');
                                    $('#regisForm').trigger('reset');
                                    $('#btnImgDelete').hide();
                                    $('.image-preview').popover('hide');
                                    $('#submit').text('Đăng ký');
                                    $("#dateBirth").datepicker("option", "disabled", false);
                                    $('#totalMoney').html('0 đ');
                                    $('#stampMoney').html('0 đ');
                                    $("#switbottom").html('<button onclick="resetform()" class="btn btn-lg btn-warning btn-block" id="resform">Nhập lại</button>');
                                    $("form :input").removeAttr('disabled');
                                    dialogRef.close();
                                }
                            },
                            error: function (xhr, status) {
                                console.log("Có lỗi xảy ra: " + status);
                            }
                        });
                    }
                    else {
                        alert('Nhập lý do hủy');
                    }

                }
            }, {
                label: 'Hủy',
                action: function (dialogRef) {
                    dialogRef.close();
                }
            }]
            //callback: function (result) {
            //    if (result === true) {

            //    }
            //}
        });

    }

    //$('input[type="text"]').each(function() {
    //    $(this).rules('remove', 'required');
    //});

    //$('input[name="myfield"]').rules('add', {
    //    required: true
    //});
</script>

</body>
</html>