<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/jquery-ui.css" rel="stylesheet">
    <link href="./assets/css/ticket.register.css" rel="stylesheet">
    <link href="./assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="./assets/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="./assets/css/jquery-confirm.min.css" rel="stylesheet">

</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-1.12.4.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/moment.js"></script>
<script src="./assets/js/jquery-ui.js"></script>
<script src="./assets/js/bootstrap-select.min.js"></script>
<script src="./assets/js/jquery.validate.min.js"></script>
<script src="./assets/js/additional-methods.min.js"></script>
<script src="./assets/js/bootstrap-dialog.min.js"></script>
<script src="./assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="./assets/js/bootstrap-tooltip.js"></script>
<script src="./assets/js/ticket.search.js"></script>
<script src="./assets/js/jquery-confirm.min.js"></script>

<script type="text/javascript">
    //! Khởi tạo đối tượng tìm kiếm
    var traCuu = new TraCuu();
    var danhsachLoaiVe = 'Hồ sơ đang được xử lý,Hồ sơ đăng ký cần bổ sung ,Hồ sơ đang được xử lý,Thẻ đang được xử lý,Thẻ tại điểm bán vé,Khách hàng đã nhận thẻ,Thẻ đang được xử lý,Thẻ đang được xử lý,Giao dịch bị hủy,Khách hàng đã nhận thẻ,Khách hàng đã nhận thẻ,Giao dịch bị hủy,Giao dịch bị hủy,Giao dịch bị hủy,Giao dịch bị hủy,Giao dịch bị hủy';
    danhsachLoaiVe = danhsachLoaiVe.split(",");
    //! Đối tượng tùy chọn
    var tuyChon = {
        danhSachTrangThaiVe: danhsachLoaiVe,
        isM:false
    };
    traCuu.khoiTao(tuyChon);
</script>

</body>
</html>