<div class="container" style="padding-right: 0px; padding-left: 0px">
    <div class="row">
        <div class="col-xs-12 no-padding">
            <div class="tab">
                <a class="tablinks active" id="dangKyVeThang">Đăng ký<span class="hidden-xs"> vé tháng</span></a>
                <a class="tablinks" id="traCuuThongTin" href="/timbus/build/tra-cuu-ve.html">Tra cứu<span class="hidden-xs"> thông tin vé</span></a>
                <a class="tablinks" id="huongDanSuDung" href="/timbus/build/huong-dan-su-dung.html">Hướng dẫn<span class="hidden-xs"> sử dụng</span></a>
            </div>

            <div id="dangKy" class="container tabcontent">
                <div class="row">
                    <div class="col-xs-12 col-md-6 cot-trai">
                        <div class="header">
                            ĐĂNG KÝ VÉ THÁNG
                            <p class="visible-xs visible-sm"><a href="#anchorLuuY">(Xem lưu ý trước khi đăng ký tại đây)</a></p>
                        </div>

                        <form action="#" id="frmDangKyThe" name="frmDangKyThe" method="post" data-action="add">
                            <input type="text" name="txtTicketId" id="txtTicketId" class="hidden" />
                            <input type="hidden" value="0" id="txtOldState" name="txtOldState" />
                            <input type="hidden" value="0" id="txtCreatedDate" name="txtCreatedDate" />
                            <input type="hidden" value="" id="hdIdTruong" name="hdIdTruong" />
                            <input type="hidden" value="" id="hdIdKCN" name="hdIdKCN" />
                            <input type="hidden" value="" id="hdIdDiaChi" name="hdIdDiaChi" />
                            <div class="panel panel-info no-radius" style="margin-bottom: 0; border-bottom: none;">
                                <div class="panel-heading fix-heading">
                                    <h5>Thông tin cá nhân</h5>
                                </div>
                                <div class="panel-body fix-panel-body">
                                    <fieldset class="form-group">
                                        <div class="row">
                                            <label class="col-sm-4 col-xs-12 required  form-label-align">Đối tượng</label>
                                            <div class="col-sm-4 col-xs-6 padding-right-0">
                                                <input type="radio" name="rdDoiTuong" id="rdDoiTuong_BinhThuong" value="1" checked>
                                                <label for="rdDoiTuong_BinhThuong">Bình thường</label>
                                            </div>
                                            <div class="col-sm-4 col-xs-6">
                                                <input type="radio" name="rdDoiTuong" id="rdDoiTuong_UuTien" value="2">
                                                <label for="rdDoiTuong_UuTien">Ưu tiên</label>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-group row hidden">
                                        <label for="slLoaiDoiTuong" class="col-sm-4 col-xs-12 required  form-label-align">Ưu tiên</label>
                                        <div class="col-sm-8 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-equalizer"></span>
                                                </span>
                                                <select class="form-control selectpicker combobox-fix" name="slLoaiDoiTuong" id="slLoaiDoiTuong" data-live-search="true">
                                                    <option value="0">Chọn loại đối tượng</option>
                                                    <option value="1">Học sinh, sinh viên</option>
                                                    <option value="2">Công nhân khu công nghiệp</option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtHoTen" class="col-sm-4 col-xs-12 required  form-label-align">Họ tên</label>
                                        <div class="col-sm-8 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-user"></span>
                                                </span>
                                                <input type="text" class="form-control" id="txtHoTen" name="txtHoTen" placeholder="Họ và tên" value="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtNgaySinh" class="col-sm-4 col-xs-12 required  form-label-align">Ngày sinh</label>
                                        <div class="col-sm-8 col-xs-12">
                                            <div class='input-group date' id='dtpNgaySinh'>
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                                <input type='text' class="form-control" id="txtNgaySinh" name="txtNgaySinh" placeholder="Ngày/Tháng/Năm" value="" />

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtDienThoai" class="col-sm-4 col-xs-12 required  form-label-align">Điện thoại</label>
                                        <div class="col-sm-8 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-phone"></span>
                                                </span>
                                                <input type="text" class="form-control" id="txtDienThoai" name="txtDienThoai" value="" placeholder="Nhập số điện thoại">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="slDiaChi" class="col-sm-4 col-xs-12 required  form-label-align">Địa chỉ</label>
                                        <div class="col-sm-8 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-map-marker"></span>
                                                </span>

                                                <select class="form-control selectpicker" name="slDiaChi" id="slDiaChi" data-live-search="true">
                                                    <option value="">Chọn địa chỉ</option>

                                                    <option value="4063">Ba Đình - Hà Nội</option>

                                                    <option value="3972">Hòa Bình</option>

                                                    <option value="3973">Tuyên Quang</option>

                                                    <option value="3974">Hà Nam</option>

                                                    <option value="3975">Bắc Ninh</option>

                                                    <option value="3976">Vĩnh Phúc</option>

                                                    <option value="3977">Nam Định</option>

                                                    <option value="3978">Thanh Hóa</option>

                                                    <option value="3979">Bắc Giang</option>

                                                    <option value="3980">Hải Dương</option>

                                                    <option value="3981">Hà Tĩnh</option>

                                                    <option value="3982">Thái Bình</option>

                                                    <option value="3983">Hưng Yên</option>

                                                    <option value="3984">Phú Thọ</option>

                                                    <option value="3985">Quảng Ninh</option>

                                                    <option value="3986">Nghệ An</option>

                                                    <option value="3987">Yên Bái</option>

                                                    <option value="3988">Hải Phòng</option>

                                                    <option value="3989">Lào Cai</option>

                                                    <option value="3990">Ninh Bình</option>

                                                    <option value="3991">Cao Bằng</option>

                                                    <option value="3992">Thái Nguyên</option>

                                                    <option value="3993">Quảng Trị</option>

                                                    <option value="3994">Lạng Sơn</option>

                                                    <option value="3995">Hà Giang</option>

                                                    <option value="3996">Bạc Liêu</option>

                                                    <option value="3997">Quảng Bình</option>

                                                    <option value="3998">Lai Châu</option>

                                                    <option value="3999">Bình Định</option>

                                                    <option value="4000">Bắc Kạn</option>

                                                    <option value="4001">Gia Lai</option>

                                                    <option value="4002">Sơn La</option>

                                                    <option value="4003">Phú Yên</option>

                                                    <option value="4004">An Giang</option>

                                                    <option value="4005">Trà Vinh</option>

                                                    <option value="4006">Tiền Giang</option>

                                                    <option value="4007">Quảng Ngãi</option>

                                                    <option value="4008">Lâm Đồng</option>

                                                    <option value="4009">Đồng Nai</option>

                                                    <option value="4010">Phú Thọ</option>

                                                    <option value="4011">Đà Nẵng</option>

                                                    <option value="4012">Cà Mau</option>

                                                    <option value="4013">Kiên Giang</option>

                                                    <option value="4014">Bình Phước</option>

                                                    <option value="4015">Tây Ninh</option>

                                                    <option value="4017">Ba Vì - Hà Nội</option>

                                                    <option value="4018">Bắc Từ Liêm - Hà Nội</option>

                                                    <option value="4019">Cầu Giấy - Hà Nội</option>

                                                    <option value="4020">Chương Mỹ - Hà Nội</option>

                                                    <option value="4021">Đan Phượng - Hà Nội</option>

                                                    <option value="4022">Đông Anh - Hà Nội</option>

                                                    <option value="4023">Đống Đa - Hà Nội</option>

                                                    <option value="4024">Gia Lâm - Hà Nội</option>

                                                    <option value="4025">Hà Đông - Hà Nội</option>

                                                    <option value="4026">Hai Bà Trưng - Hà Nội</option>

                                                    <option value="4027">Hoài Đức - Hà Nội</option>

                                                    <option value="4028">Hoàn Kiếm - Hà Nội</option>

                                                    <option value="4029">Hoàng Mai - Hà Nội</option>

                                                    <option value="4030">Long Biên - Hà Nội</option>

                                                    <option value="4031">Mê Linh - Hà Nội</option>

                                                    <option value="4032">Mỹ Đức - Hà Nội</option>

                                                    <option value="4033">Nam Từ Liêm - Hà Nội</option>

                                                    <option value="4034">Phú Xuyên - Hà Nội</option>

                                                    <option value="4035">Phúc Thọ - Hà Nội</option>

                                                    <option value="4036">Quốc Oai - Hà Nội</option>

                                                    <option value="4037">Sóc Sơn - Hà Nội</option>

                                                    <option value="4038">Sơn Tây - Hà Nội</option>

                                                    <option value="4039">Tây Hồ - Hà Nội</option>

                                                    <option value="4040">Thanh Xuân - Hà Nội</option>

                                                    <option value="4041">Thường Tín - Hà Nội</option>

                                                    <option value="4042">Từ Liêm - Hà Nội</option>

                                                    <option value="4043">Ứng Hòa - Hà Nội</option>

                                                    <option value="4044">Bà Rịa Vũng Tàu</option>

                                                    <option value="4045">Bến Tre</option>

                                                    <option value="4046">Bình Dương</option>

                                                    <option value="4047">Bình Thuận</option>

                                                    <option value="4048">Cần Thơ</option>

                                                    <option value="4049">Đắk Lắk</option>

                                                    <option value="4050">Đắk Nông</option>

                                                    <option value="4051">Điện Biên Phủ</option>

                                                    <option value="4052">Đồng Tháp</option>

                                                    <option value="4053">Hậu Giang</option>

                                                    <option value="4054">Khánh Hòa</option>

                                                    <option value="4055">Kon Tum</option>

                                                    <option value="4056">Long An</option>

                                                    <option value="4057">Ninh Thuận</option>

                                                    <option value="4058">Quảng Nam</option>

                                                    <option value="4059">Sóc Trăng</option>

                                                    <option value="4060">Thừa Thiên Huế</option>

                                                    <option value="4061">TP. Hồ Chí Minh</option>

                                                    <option value="4062">Vĩnh Long</option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row hidden" data-control="hocSinh">
                                        <label for="txtTenTruong" class="col-sm-4 col-xs-12 required  form-label-align">Trường</label>
                                        <div class="col-sm-8 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-education"></span>
                                                </span>
                                                <input type="text" name="txtTenTruong" id="txtTenTruong" class="form-control" placeholder="Nhập tên trường" />

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row hidden" data-control="congNhan">
                                        <label for="slKhuCongNghiep" class="col-sm-4 col-xs-12 required  form-label-align">Khu CN</label>
                                        <div class="col-sm-8 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-road"></span>
                                                </span>
                                                <input type="text" name="txtTenKCN" id="txtTenKCN" class="form-control" placeholder="Nhập tên khu công nghiệp" />

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row hidden" data-control="hocSinh">
                                        <label for="slNienKhoa" class="col-sm-4 col-xs-12 required  form-label-align">Niên khóa</label>
                                        <div class="col-sm-8 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                                <select class="form-control selectpicker combobox-fix" name="slNienKhoa" id="slNienKhoa" data-live-search="true">
                                                    <option value="">Chọn năm ra trường</option>

                                                    <option value="2021">2021</option>

                                                    <option value="2022">2022</option>

                                                    <option value="2023">2023</option>

                                                    <option value="2024">2024</option>

                                                    <option value="2025">2025</option>

                                                    <option value="2026">2026</option>

                                                    <option value="2027">2027</option>

                                                    <option value="2028">2028</option>

                                                    <option value="2029">2029</option>

                                                    <option value="2030">2030</option>

                                                    <option value="2031">2031</option>

                                                    <option value="2032">2032</option>

                                                    <option value="2033">2033</option>

                                                    <option value="2034">2034</option>

                                                    <option value="2035">2035</option>

                                                    <option value="2036">2036</option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtAnhLamThe" class="col-sm-4 col-xs-12 required  form-label-align">
                                            Ảnh làm thẻ<br />
                                            Kích thước 2x3</label>
                                        <div class="col-sm-6 col-xs-10">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-picture"></span>
                                                </span>
                                                <input type="text" class="form-control" readonly="readonly" id="txtAnhLamThe" name="txtAnhLamThe" placeholder="Chọn hình ảnh">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-info hidden" type="button" id="prvChonAnhThe" data-toggle="popover" data-trigger="hover" data-placement="left"><span class="glyphicon glyphicon-picture"></span></button>
                                                    <button type="button" class="btn btn-primary" id="btnChonAnhThe">Chọn</button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-xs-2 no-padding">
                                            <p data-sample="txtAnhLamThe" data-href="http://timbus.vn/images/samples/AnhThe.gif" class="anh-mau" data-toggle="popover" data-title="Ảnh mẫu" data-placement="left">Ảnh mẫu</p>
                                        </div>
                                    </div>
                                    <div class="form-group row hidden" data-control="hocSinh">
                                        <label for="txtAnhCMNDMatTruoc" class="col-sm-4 col-xs-12 required  form-label-align">
                                            Thẻ CN (Mặt trước)</label>
                                        <div class="col-sm-6 col-xs-10">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-picture"></span>
                                                </span>
                                                <input type="text" class="form-control" readonly="readonly" id="txtAnhCMNDMatTruoc" name="txtAnhCMNDMatTruoc" placeholder="Mặt trước">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-info hidden" type="button" id="prvMatTruoc" data-toggle="popover" data-trigger="hover" data-placement="left"><span class="glyphicon glyphicon-picture"></span></button>
                                                    <button type="button" class="btn btn-primary" id="btnMatTruoc">Chọn</button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-xs-2 no-padding">
                                            <p data-sample="txtAnhCMNDMatTruoc" class="anh-mau" data-toggle="popover" data-title="Ảnh mẫu" data-placement="left">Ảnh mẫu</p>
                                        </div>
                                    </div>
                                    <div class="form-group row hidden" data-control="hocSinh">
                                        <label for="txtAnhCMNDMatSau" class="col-sm-4 col-xs-12 required  form-label-align">Thẻ CN (Mặt sau)</label>
                                        <div class="col-sm-6 col-xs-10">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-picture"></span>
                                                </span>
                                                <input type="text" class="form-control" readonly="readonly" id="txtAnhCMNDMatSau" name="txtAnhCMNDMatSau" placeholder="Mặt sau">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-info hidden" type="button" id="prvMatSau" data-toggle="popover" data-trigger="hover" data-placement="left"><span class="glyphicon glyphicon-picture"></span></button>
                                                    <button type="button" class="btn btn-primary" id="btnMatSau">Chọn</button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-xs-2 no-padding">
                                            <p data-sample="txtAnhCMNDMatSau" class="anh-mau" data-toggle="popover" data-title="Ảnh mẫu" data-placement="left">Ảnh mẫu</p>
                                        </div>
                                    </div>
                                    <div class="form-group row hidden" data-control="hocSinh">
                                        <label for="txtDonDangKy" class="col-sm-4 col-xs-12 required  form-label-align">Đơn đăng ký</label>
                                        <div class="col-sm-6 col-xs-10">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-picture"></span>
                                                </span>
                                                <input type="text" class="form-control" readonly="readonly" id="txtDonDangKy" name="txtDonDangKy" placeholder="Đơn đăng ký">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-info hidden" type="button" id="prvDonDangKy" data-toggle="popover" data-trigger="hover" data-placement="left"><span class="glyphicon glyphicon-picture"></span></button>
                                                    <button type="button" class="btn btn-primary" id="btnDonDangKy">Chọn</button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-xs-2 no-padding">
                                            <p data-sample="txtDonDangKy" data-href="http://timbus.vn/images/register/don-hs.jpg" class="anh-mau" data-toggle="popover" data-title="Ảnh mẫu" data-placement="left">Ảnh mẫu</p>
                                        </div>
                                    </div>
                                    <div class="form-group row hidden" data-control="congNhan">
                                        <label for="txtDonXacNhan" class="col-sm-4 col-xs-12 required  form-label-align">Xác nhận KCN</label>
                                        <div class="col-sm-6 col-xs-10">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-picture"></span>
                                                </span>
                                                <input type="text" class="form-control" readonly="readonly" id="txtDonXacNhan" name="txtDonXacNhan" placeholder="Đơn xác nhận">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-info hidden" type="button" id="prvDonXacNhan" data-toggle="popover" data-trigger="hover" data-placement="left"><span class="glyphicon glyphicon-picture"></span></button>
                                                    <button type="button" class="btn btn-primary" id="btnDonXacNhan">Chọn</button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-xs-2 no-padding">
                                            <p class="anh-mau" data-sample="txtDonXacNhan" data-href="http://timbus.vn/images/register/don-kcn.jpg" data-toggle="popover" data-title="Ảnh mẫu" data-placement="left">Ảnh mẫu</p>
                                        </div>
                                    </div>
                                    <div class="form-group row mauDon">
                                        <label for="txtDonXacNhan" class="col-sm-4 hidden-xs form-label-align"></label>
                                        <div class="col-sm-6 col-xs-12">
                                            <strong>Tải mẫu đơn đăng ký <a href="http://timbus.vn/TicketRegister/template/Mau%20don%20dang%20ky%20lam%20the%204.2016.doc" class="text-info">tại đây</a></strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-info no-radius">
                                <div class="panel-heading fix-heading">
                                    <h5>Thông tin đăng ký thẻ</h5>
                                </div>
                                <div class="panel-body fix-panel-body">
                                    <fieldset class="form-group">
                                        <div class="row">
                                            <label class="col-sm-4 col-xs-12 required  form-label-align">Loại thẻ</label>
                                            <div class="col-sm-4 col-xs-6">
                                                <input type="radio" name="rdLoaiThe" id="rdLoaiThe_MotTuyen" value="1" checked>
                                                <label for="rdLoaiThe_MotTuyen">
                                                    Một tuyến
                                                </label>
                                            </div>
                                            <div class="col-sm-4 col-xs-6 col-sm-offset-0">
                                                <input type="radio" name="rdLoaiThe" id="rdLoaiThe_LienTuyen" value="2">
                                                <label for="rdLoaiThe_LienTuyen">Liên tuyến</label>
                                            </div>
                                            <div class="col-sm-8 col-sm-offset-4 col-xs-12 padding-right-0">
                                                <input type="checkbox" id="chkNhanTaiNha" name="chkNhanTaiNha">
                                                <label for="chkNhanTaiNha">Đăng ký nhận thẻ tại nhà</label>
                                            </div>
                                        </div>
                                    </fieldset>

                                    <div class="form-group row" data-control="motTuyen">
                                        <label for="slTuyen" class="col-sm-4 col-xs-12 required  form-label-align">Tuyến</label>
                                        <div class="col-sm-8 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-road"></span>
                                                </span>
                                                <select class="form-control selectpicker combobox-fix" name="slTuyen" id="slTuyen" data-live-search="true">
                                                    <option value="">Chọn tuyến</option>

                                                    <option value="1">01-Bến xe Gia Lâm - Bến xe Yên Nghĩa</option>

                                                    <option value="2">02-Bác Cổ - Bến xe Yên Nghĩa</option>

                                                    <option value="3">03A-Bến xe Giáp Bát - Bến xe Gia Lâm</option>

                                                    <option value="803">03B-Bến xe Nước Ngầm - Giang Biên (Long Biên)</option>

                                                    <option value="4">04-Long Biên - Bệnh viện Nội tiết trung ương cơ sở 2</option>

                                                    <option value="5">05-KĐT Linh Đàm - Phú Diễn</option>

                                                    <option value="6">06A-Bến xe Giáp Bát - Cầu Giẽ</option>

                                                    <option value="806">06B-Bến xe Giáp Bát - Hồng Vân</option>

                                                    <option value="866">06C-Bến xe Giáp Bát - Phú Minh</option>

                                                    <option value="876">06D-Bến xe Giáp Bát - Tân Dân</option>

                                                    <option value="886">06E-Bến xe Giáp Bát - Phú Túc</option>

                                                    <option value="7">07-Cầu Giấy - Nội Bài</option>

                                                    <option value="8">08A-Long Biên - Đông Mỹ</option>

                                                    <option value="708">08B-Long Biên - Vạn Phúc</option>

                                                    <option value="409">09A-Bờ Hồ - Cầu Giấy - Khu Liên cơ quan Sở ngành HN</option>

                                                    <option value="609">09B-Bờ Hồ - Công viên Thống Nhất - Bến xe Mỹ Đình</option>

                                                    <option value="100">100-Long Biên - Khu đô thị Đặng Xá</option>

                                                    <option value="101">101A-Bến xe Giáp Bát - Vân Đình</option>

                                                    <option value="901">101B-Bến xe Giáp Bát - Đại Cường (Ứng Hòa)</option>

                                                    <option value="102">102-Bến xe Yên Nghĩa - Vân Đình</option>

                                                    <option value="103">103A-Bến xe Mỹ Đình - Hương Sơn</option>

                                                    <option value="903">103B-Bến xe Mỹ Đình - Hồng Quang - Hương Sơn</option>

                                                    <option value="104">104-Mỹ Đình - BX Nước Ngầm</option>

                                                    <option value="105">105-Đô Nghĩa - Cầu Giấy</option>

                                                    <option value="106">106-KĐT Mỗ Lao - TTTM Aeon Mall Long Biên</option>

                                                    <option value="107">107-Kim Mã - Làng văn hóa du lịch các dân tộc VN</option>

                                                    <option value="108">108-Bến xe Thường Tín - Minh Tân</option>

                                                    <option value="109">109-Mỹ Đình - Nội Bài</option>

                                                    <option value="10">10A-Long Biên - Từ Sơn</option>

                                                    <option value="810">10B-Long Biên - Trung Mầu</option>

                                                    <option value="11">11-Công viên Thống Nhất - Học Viện Nông Nghiệp</option>

                                                    <option value="110">110-BX Sơn Tây - Vườn Quốc gia Ba Vì - Đá Chông</option>

                                                    <option value="111">111-BX Sơn Tây - Bất Bạt</option>

                                                    <option value="112">112-Nam Thăng Long - Thạch Đà (Mê Linh)</option>

                                                    <option value="113">113-Đại Thắng (Phú Xuyên) - Bến đò Vườn Chuối</option>

                                                    <option value="114">114-Bến xe Yên Nghĩa - Miếu Môn</option>

                                                    <option value="115">115-Thị trấn Vân Đình - Xuân Mai</option>

                                                    <option value="116">116-Yên Trung (Thạch Thất) - KCN Phú Nghĩa</option>

                                                    <option value="117">117-Hòa Lạc - Nhổn</option>

                                                    <option value="119">119-Hòa Lạc - Bất Bạt (Ba Vì)</option>

                                                    <option value="12">12-Công viên Nghĩa Đô - Đại Áng</option>

                                                    <option value="122">122-Bến xe Gia Lâm - KCN Bắc Thăng Long</option>

                                                    <option value="125">125-Bến xe Thường Tín - Tế Tiêu</option>

                                                    <option value="13">13-CV nước Hồ Tây - Cổ Nhuế (HVCS)</option>

                                                    <option value="14">14-Bờ Hồ - Cổ Nhuế</option>

                                                    <option value="15">15-Bến xe Gia Lâm - Phố Nỉ</option>

                                                    <option value="816">16-Bến xe Mỹ Đình - Bến xe Nước Ngầm</option>

                                                    <option value="17">17-Long Biên - Nội Bài</option>

                                                    <option value="18">18-ĐH Kinh tế QD - ĐH Kinh tế QD</option>

                                                    <option value="19">19-Trần Khánh Dư - Học viện chính sách và phát triển</option>

                                                    <option value="20">20A-Cầu Giấy - Bến xe Sơn Tây</option>

                                                    <option value="820">20B-Nhổn - Bến xe Sơn Tây</option>

                                                    <option value="21">21A-Bến xe Giáp Bát - Bến xe Yên Nghĩa</option>

                                                    <option value="821">21B-Khu đô thị Pháp Vân - Bến xe Mỹ Đình</option>

                                                    <option value="22">22A-Bến xe Gia Lâm - KĐT Trung Văn</option>

                                                    <option value="822">22B-BX Mỹ Đình - KĐT Kiến Hưng</option>

                                                    <option value="922">22C-Bến xe Giáp Bát - Khu đô thị Dương Nội</option>

                                                    <option value="23">23-Nguyễn Công Trứ - Nguyễn Công Trứ</option>

                                                    <option value="24">24-Long Biên - Cầu Giấy</option>

                                                    <option value="25">25-BV Nhiệt đới TW Cơ sở 2 - Bến xe Giáp Bát</option>

                                                    <option value="26">26-Mai Động - SVĐ Quốc gia</option>

                                                    <option value="27">27-Bến xe Yên Nghĩa - Bến xe Nam Thăng Long</option>

                                                    <option value="28">28-BX Nước Ngầm - Đông Ngạc - Đại học Mỏ</option>

                                                    <option value="29">29-BX Giáp Bát - Tân Lập</option>

                                                    <option value="30">30-Khu đô thị Gamuda - Bến xe Mỹ Đình</option>

                                                    <option value="31">31-Bách Khoa - Chèm (ĐH Mỏ)</option>

                                                    <option value="32">32-Bến xe Giáp Bát - Nhổn</option>

                                                    <option value="33">33-Cụm Công nghiệp Thanh Oai - Xuân Đỉnh</option>

                                                    <option value="34">34-Bến xe Mỹ Đình - Bến xe Gia Lâm</option>

                                                    <option value="35">35A-Trần Khánh Dư - Nam Thăng Long</option>

                                                    <option value="835">35B-Nam Thăng Long - Thanh Lâm</option>

                                                    <option value="36">36-Yên Phụ - Khu đô thị Linh Đàm</option>

                                                    <option value="37">37-Bến xe Giáp Bát - Chương Mỹ</option>

                                                    <option value="38">38-BX Nam Thăng Long - Mai Động</option>

                                                    <option value="39">39-Công viên Nghĩa Đô - Bệnh viện Nội tiết TW CS II</option>

                                                    <option value="40">40-Công viên Thống Nhất - Văn Lâm</option>

                                                    <option value="41">41-Nghi Tàm - BX Giáp Bát</option>

                                                    <option value="42">42-Giáp Bát - Đức Giang</option>

                                                    <option value="43">43-Công viên Thống Nhất - Thị trấn Đông Anh</option>

                                                    <option value="44">44-Trần Khánh Dư - BX Mỹ Đình</option>

                                                    <option value="45">45-Time City - Bến xe Nam Thăng Long</option>

                                                    <option value="46">46-Bến xe Mỹ Đình - Thị trấn Đông Anh</option>

                                                    <option value="47">47A-Long Biên - Bát Tràng</option>

                                                    <option value="847">47B-Đại học Kinh tế Quốc dân - Kiêu Kỵ</option>

                                                    <option value="48">48-Bến xe Nước Ngầm - Chương Dương - Phúc Lợi (Long Biên)</option>

                                                    <option value="49">49-Trần Khánh Dư - Nhổn</option>

                                                    <option value="50">50-Long Biên - Khu đô thị Vân Canh</option>

                                                    <option value="51">51-Trần Khánh Dư - Trần Vỹ (Học vện Tư Pháp)</option>

                                                    <option value="52">52A-Công viên Thống nhất - Lệ Chi</option>

                                                    <option value="852">52B-Công viên Thống Nhất - Đặng Xá</option>

                                                    <option value="53">53A-Hoàng Quốc Việt - Đông Anh</option>

                                                    <option value="853">53B-Bến xe Mỹ Đình - Kim Hoa (Mê Linh)</option>

                                                    <option value="54">54-Long Biên - Bắc Ninh</option>

                                                    <option value="55">55A-Khu đô thị Times City - Cầu Giấy</option>

                                                    <option value="855">55B-TTTM Aeon Mall - Cầu Giấy</option>

                                                    <option value="56">56A-Bến xe Nam Thăng Long - Núi Đôi</option>

                                                    <option value="856">56B-Học viện Phật Giáo VN - Xuân Giang - Bắc Phú - Học viện Phật Giáo VN</option>

                                                    <option value="57">57-Nam Thăng Long - Khu công nghiệp Phú Nghĩa</option>

                                                    <option value="58">58-Long Biên - Thạch Đà</option>

                                                    <option value="59">59-TT Đông Anh - Học viện Nông nghiệp Việt Nam</option>

                                                    <option value="60">60A-KĐT Pháp Vân, Tứ Hiệp - Công Viên Nước Hồ Tây</option>

                                                    <option value="860">60B-Bến xe Nước Ngầm - BV Bệnh nhiệt đới TƯ (CS2)</option>

                                                    <option value="861">61-Vân Hà (Đông Anh) - CV Cầu Giấy</option>

                                                    <option value="62">62-Bến xe Yên Nghĩa - Bến xe Thường Tín</option>

                                                    <option value="63">63-Khu công nghiệp Bắc Thăng Long - Tiến Thịnh (Mê Linh)</option>

                                                    <option value="64">64-BX Mỹ Đình - Phố Nỉ - TTTM Bình An</option>

                                                    <option value="65">65-Thụy Lâm (Đông Anh) - Long Biên (ĐCT Long Biên)</option>

                                                    <option value="66">66-Bến xe Yên Nghĩa - Phùng</option>

                                                    <option value="67">67-Phùng - Bến xe Sơn Tây</option>

                                                    <option value="69">69-Bác Cổ - Dương Quang (Gia Lâm)</option>

                                                    <option value="72">72-Bến xe Yên Nghĩa - Xuân Mai</option>

                                                    <option value="74">74-Bến xe Mỹ Đình - Xuân Khanh</option>

                                                    <option value="84">84-Cầu Diễn - Khu đô thị Linh Đàm</option>

                                                    <option value="85">85-Công viên Nghĩa Đô - Khu đô thị Thanh Hà</option>

                                                    <option value="87">87-Bến xe Mỹ Đình - Quốc Oai - Xuân Mai</option>

                                                    <option value="88">88-Bến xe Mỹ Đình - Hòa Lạc - Xuân Mai</option>

                                                    <option value="89">89-Bến xe Yên Nghĩa - Thạch Thất - Bến xe Sơn Tây</option>

                                                    <option value="90">90-Hào Nam - Cầu Nhật Tân - Sân bay Nội Bài</option>

                                                    <option value="91">91-Bến xe Yên Nghĩa - Kim Bài - Phú Túc</option>

                                                    <option value="92">92-Nhổn - Sơn Tây - Tây Đằng</option>

                                                    <option value="93">93-Nam Thăng Long - Bắc Sơn (Sóc Sơn)</option>

                                                    <option value="94">94-Bến xe Giáp Bát - Kim Bài</option>

                                                    <option value="95">95-Nam Thăng Long - Xuân Hòa</option>

                                                    <option value="96">96-Công viên Nghĩa Đô - Đông Anh</option>

                                                    <option value="97">97-Hoài Đức - Công viên Nghĩa Đô</option>

                                                    <option value="98">98-Yên Phụ - Gia Thụy - Aeon Mall Long Biên</option>

                                                    <option value="99">99-Kim Mã - Ngũ Hiệp (Thanh Trì)</option>

                                                    <option value="918">BRT01-Bến xe Yên Nghĩa - Kim Mã</option>

                                                    <option value="205">CNG01-Bến xe Mỹ Đình - Bến xe Sơn Tây</option>

                                                    <option value="206">CNG02-Bến xe Yên Nghĩa - Khu đô thị Đặng Xá</option>

                                                    <option value="207">CNG03-Bệnh viện Bệnh nhiệt đới Trung ương cơ sở 2 - Khu đô thị Times City.</option>

                                                    <option value="208">CNG04-Kim Lũ (Sóc Sơn) - Nam Thăng Long</option>

                                                    <option value="209">CNG05-Cầu Giấy - Tam Hiệp (Thanh Trì)</option>

                                                    <option value="210">CNG06-Nhổn - Thọ An (Đan Phượng)</option>

                                                    <option value="211">CNG07-BX Yên Nghĩa - Hoài Đức</option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row" data-control="khongTaiNha">
                                        <label for="slNoiNhan" class="col-sm-4 col-xs-12 required  form-label-align">Điểm nhận thẻ</label>
                                        <div class="col-sm-8 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-map-marker"></span>
                                                </span>
                                                <select class="form-control selectpicker combobox-fix" name="slNoiNhan" id="slNoiNhan" data-live-search="true">
                                                    <option value="">Chọn nơi nhận</option>

                                                    <option value="1">A01-BX Giáp Bát</option>

                                                    <option value="40">A02-Học viện Nông Nghiệp</option>

                                                    <option value="2">A03-Công viên Thống nhất</option>

                                                    <option value="3">A04-Công viên Thủ Lệ</option>

                                                    <option value="4">A05-BX Gia Lâm</option>

                                                    <option value="74">A06-Điểm bán vé Nhà chờ BRT Vũ Ngọc Phan</option>

                                                    <option value="6">A07-Công viên Hòa Bình</option>

                                                    <option value="73">A08-Điểm bán vé Nhà chờ Trung Văn</option>

                                                    <option value="46">A09-Bx Mỹ Đình</option>

                                                    <option value="10">A11-Học viện Bưu chính viễn thông</option>

                                                    <option value="11">A12-Học Viện Quân y</option>

                                                    <option value="12">A13-Kim Ngưu</option>

                                                    <option value="70">A14-Nguyễn Công Trứ</option>

                                                    <option value="14">A15-Long Biên</option>

                                                    <option value="16">A17-Bách Khoa</option>

                                                    <option value="17">A18-BX Yên Nghĩa</option>

                                                    <option value="53">A19-Kiều Mai</option>

                                                    <option value="19">A20-Công viên Nghĩa Đô</option>

                                                    <option value="68">A21-Giảng Võ</option>

                                                    <option value="58">A22-Hoàng Đạo Thúy</option>

                                                    <option value="42">A23-Siêu thị HC 549 Nguyễn Văn Cừ (Đức Giang)</option>

                                                    <option value="45">A45-ĐH Lao động và Xã hội</option>

                                                    <option value="44">A46-Kim Chung</option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row hidden" data-control="coTaiNha">
                                        <label for="slQuan" class="col-sm-4 col-xs-12 required  form-label-align">Quận</label>
                                        <div class="col-sm-8 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-flag"></span>
                                                </span>
                                                <select class="form-control selectpicker combobox-fix" name="slQuan" id="slQuan" data-live-search="true">
                                                    <option value="">Chọn quận</option>

                                                    <option value="1">Hoàn Kiếm</option>

                                                    <option value="2">Hai Bà Trưng</option>

                                                    <option value="4">Đống Đa</option>

                                                    <option value="3">Tây Hồ</option>

                                                    <option value="5">Ba Đình</option>

                                                    <option value="6">Cầu Giấy</option>

                                                    <option value="7">Thanh Xuân</option>

                                                    <option value="8">Long Biên</option>

                                                    <option value="9">Hà Đông</option>

                                                    <option value="10">Nam Từ Liêm</option>

                                                    <option value="11">Bắc Từ Liêm</option>

                                                    <option value="12">Hoàng Mai</option>

                                                    <option value="13">Ba Vì</option>

                                                    <option value="14">Chương Mỹ</option>

                                                    <option value="15">Đan Phượng</option>

                                                    <option value="16">Đông Anh</option>

                                                    <option value="17">Gia Lâm</option>

                                                    <option value="18">Hoài Đức</option>

                                                    <option value="19">Mê Linh</option>

                                                    <option value="20">Mỹ Đức</option>

                                                    <option value="21">Phúc Thọ</option>

                                                    <option value="22">Phú Xuyên</option>

                                                    <option value="23">Quốc Oai</option>

                                                    <option value="24">Sóc Sơn</option>

                                                    <option value="25">Sơn Tây</option>

                                                    <option value="26">Thạch Thất</option>

                                                    <option value="27">Thanh Oai</option>

                                                    <option value="28">Thanh Trì</option>

                                                    <option value="29">Thường Tín</option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row hidden" data-control="coTaiNha">
                                        <label for="txtDiaChiNhanThe" class="col-sm-4 col-xs-12 required  form-label-align">Địa chỉ nhận thẻ</label>
                                        <div class="col-sm-8 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-map-marker"></span>
                                                </span>
                                                <input type="text" class="form-control" id="txtDiaChiNhanThe" name="txtDiaChiNhanThe">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="txtNgayNhanThe" class="col-sm-4 col-xs-12 required form-label-align">Ngày nhận thẻ</label>
                                        <div class="col-sm-8 col-xs-12">
                                            <div class='input-group date' id='dtpNgayNhanThe'>
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                                <input type='text' class="form-control" id="txtNgayNhanThe" name="txtNgayNhanThe" placeholder="Ngày/Tháng/Năm" />

                                            </div>
                                        </div>
                                    </div>
                                    <fieldset class="form-group">
                                        <div class="row hidden" data-control="coTaiNha">
                                            <label class="col-sm-4 col-xs-12 required form-label-align">Đăng ký mua tem</label>
                                            <div class="col-sm-8 col-xs-12 padding-left-0">
                                                <div class="col-sm-4 col-xs-4">
                                                    <input class="thangTem" type="checkbox" id="chkThangThu1">
                                                    <label for="chkThangThu1">Tháng</label>
                                                </div>
                                                <div class="col-sm-4 col-xs-4">
                                                    <input class="thangTem" type="checkbox" id="chkThangThu2">
                                                    <label for="chkThangThu2">Tháng</label>
                                                </div>
                                                <div class="col-sm-4 col-xs-4">
                                                    <input class="thangTem" type="checkbox" id="chkThangThu3">
                                                    <label for="chkThangThu3">Tháng</label>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-group row hidden" data-control="coTaiNha">
                                        <div class="col-xs-12">
                                            <div class="panel panel-info no-radius">
                                                <div class="panel-body text-info text-italic text-justify">
                                                    <p><strong>Thông tin thanh toán:</strong></p>
                                                    <ul>
                                                        <li>Tiền tem: <span id="tienTem"></span></li>
                                                        <li>Tiền ship: <span id="tienShip">25,000</span> vnđ</li>
                                                        <li>Tổng tiền: <span id="tongTien"></span></li>
                                                    </ul>
                                                    <p><strong>Lưu ý:</strong></p>
                                                    <ul>
                                                        <li>HanoiBus phục vụ giao tem tại 12 quận nội thành, các khu vực khác Quý khách vui lòng tới quầy dịch vụ vé tháng.</li>
                                                        <li>Thời gian nhận thẻ sau 3 ngày, trừ Chủ Nhật, ngày Lễ Tết (tính từ thời điểm khách hàng đăng ký thành công).</li>
                                                        <li>Khách hàng là đối tượng ưu tiên khi ra lấy thẻ phải mang theo bản đăng ký đã có dấu xác nhận của trường (KCN, CMTND phô tô) và nộp lại cho nhân viên bán tem..</li>
                                                        <li>Khách hàng thanh toán tiền dán tem vé tháng và phí vận chuyển cho nhân viên giao thẻ.</li>
                                                        <li>Lưu ý: Chúng tôi miễn phí giao lại 02 lần nếu lần đầu không thành công. Sau 24h kể từ khi giao lần 3 không thành công và không nhận được yêu cầu giao lại từ khách hàng, chúng tôi sẽ hủy đăng ký thẻ.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtCaptcha" class="col-sm-4 col-xs-12 required  form-label-align">Mã xác thực</label>
                                        <div class="col-sm-8 col-xs-12">
                                            <img id="imgCatchaValidate" name="imgCatchaValidate" src="./assets/img/captchaImg.aspx" class="img-responsive" />
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-barcode"></span>
                                                </span>
                                                <input id="txtCaptcha" name="txtCaptcha" class="form-control" placeholder="Nhập mã xác thực bên trên" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row hidden" id="termsandcon">
                                        <p class="col-xs-12 text-bold">Điều khoản sử dụng dịch vụ</p>
                                        <div class="col-xs-12">
                                            <div class="input-group">
                                                <div style="border: 1px solid #e5e5e5; height: 100px; overflow: auto; padding: 10px">
                                                    <p style="font-weight: bold">I . Trách nhiệm của Tổng công ty Vận tải Hà Nội:</p>
                                                    <p>- Cung cấp đúng chủng loại tem vé tháng theo thông tin đăng ký của khách hàng</p>
                                                    <p>- Thu tiền theo mệnh giá in trên tem và dán tem vào thẻ cho khách.</p>
                                                    <p>- Thực hiện giao tem theo địa chỉ thuộc các quận nội thành Hà Nội.</p>
                                                    <p>- Phí dịch vụ chuyển phát do công ty chuyển phát nhanh thu và công khai giá trên trang web.</p>
                                                    <p>- Thời gian giao tem từ 02 đến 04 ngày kể từ ngày khách hàng đăng ký mua tem.</p>
                                                    <p>- Các trường hợp khách hàng không nghe máy điện thoại đến 3 lần, dẫn đến không giao được tem theo tiến độ, Tổng công ty Vận tải Hà Nội có thể hủy đơn hàng.</p>
                                                    <p style="font-weight: bold">II. Trách nhiệm của khách hàng:</p>
                                                    <p>- Đăng ký đầy đủ, chính xác thông tin; số điện thoại người nhận, địa chỉ nhận, loại tem mua theo đúng loại thẻ khách hàng sử dụng, kèm file ảnh.</p>
                                                    <p>- Giữ thông tin liên lạc trong thời gian chờ nhận tem.</p>
                                                    <p>- Xuất trình thẻ cho nhân viên chuyển phát để dán tem.</p>
                                                    <p>- Thanh toán đầy đủ tiền tem và phí giao tem cho nhân viên chuyển phát.</p>
                                                    <p>- Trong trường hợp tem không đúng loại so với đăng ký, khách hàng có thể từ chối nhận và không phải thanh toán phí giao hàng.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xs-12">
                                            <div class="alert alert-info fix-alert text-italic">
                                                Với việc nhấn chọn ô xác thực bên trên, đồng nghĩa với việc bạn đã đọc kỹ và đồng ý các <span class="text-capitalize linkToTab" id="lnkDieuKhoan"><strong>điều khoản</strong></span> của chúng tôi.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-9 col-sm-offset-3 col-xs-12 text-center">
                                            <button type="submit" class="btn btn-primary" id="btnDangKy">Đăng ký</button>
                                            <button type="button" class="btn btn-danger hidden" id="btnHuyHoSo">Hủy hồ sơ</button>
                                            <button type="reset" class="btn btn-default" id="btnNhapLai">Nhập lại</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="col-xs-12 col-md-6 cot-phai">
                        <a name="anchorLuuY"></a>
                        <div class="header">Lưu ý đăng ký vé tháng Online</div>
                        <div class="panel panel-warning no-radius">
                            <div class="panel-heading fix-heading">
                                <h5>(*) Khách hàng có thể sửa hoặc hủy hồ sơ ở trạng thái chờ duyệt</h5>
                            </div>
                            <div class="panel-body fix-panel-body">
                                <ul>
                                    <li><strong>Họ tên</strong>: Yêu cầu nhập đầy đủ họ tên.</li>
                                    <li><strong>Ảnh thẻ</strong>: Kích thước ảnh 2x3. Chấp nhận ảnh tự chụp đúng quy cách, mặt nhìn thẳng, rõ mặt, nét ảnh, nền 1 màu. Ảnh chụp không quá 6 tháng.<br />
                                        <img src="./assets/img/AnhThe.gif" alt="Ảnh minh họa" class="img-thumbnail img-responsive center-block">
                                    </li>
                                    <li><strong>Loại thẻ ưu tiên</strong>:
                                        <ul>
                                            <li>Học sinh, sinh viên: Đơn phải có đóng dấu xác nhận của nhà trường.</li>
                                            <li>Công nhân các khu công nghiệp: Đơn phải có đóng dấu xác nhận của công ty (doanh nghiệp) hiện đang làm việc và ban quản lý khu công nghiệp.</li>

                                        </ul>
                                    </li>
                                    <li>Khách hàng là đối tượng ưu tiên khi ra lấy thẻ phải mang theo bản đăng ký đã có dấu xác nhận của trường (KCN, CMTND phô tô) và nộp lại cho nhân viên bán tem.</li>
                                    <li><strong>Các mục có dấu * là bắt buộc phải nhập đầy đủ thông tin</strong>.</li>
                                </ul>
                                <p class="text-red">Nếu "<strong>Đơn đăng ký</strong>" không đúng các quy định trên, hệ thống sẽ tự động hủy đơn.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="dangKyHoanThanh" class="hidden">
                <div class="padding20">
                    <p class="text-red text-bold noticeTitle">Hồ sơ đăng ký của quý khách đã được gửi đến Trung Tâm Vé - Transerco thành công</p>
                    <p>Xin lưu ý</p>
                    <ul>
                        <li>Đối với khách hàng đăng ký nhận thẻ tại nhà, chúng tôi sẽ liên hệ trước khi giao thẻ</li>
                        <li>Đối với khách hàng đăng ký nhận vé tại điểm bán vé
                            <ul>
                                <li>Vào  trang <a href="TraCuu.aspx" class="text-primary text-bold linkToTab text-uppercase">Tra cứu thông tin vé</a>
                                </li>
                                <li>Nhập các thông tin: Họ tên, ngày sinh, số điện thoại để xem trạng thái của đơn</li>
                                <li>Nếu trạng thái thẻ là <span class="text-red">Thẻ tại điểm bán vé</span>, xin quý khách vui lòng đến lấy thẻ</li>
                            </ul>
                        </li>
                        <li>Để theo dõi đơn đăng ký của mình, xin quý khách vui lòng vào  trang <a href="TraCuu.aspx" class="text-primary text-bold text-uppercase linkToTab">Tra cứu thông tin vé </a> và làm theo hướng dẫn.</li>
                        <li>Để thay đổi thông tin hoặc hủy đơn đã đăng ký, khách hàng vui lòng vào  trang <a href="Default.aspx" class="text-primary text-bold text-uppercase linkToTab">Đăng ký vé tháng</a>
                            <ul>
                                <li>Nếu hồ sơ của bạn ở trạng thái <span class="text-red">Hồ sơ chờ duyệt hoặc Hồ sơ cần bổ sung</span></li>
                                <li>Nhập các thông tin: Họ tên, ngày sinh, số điện thoại</li>
                            </ul>
                        </li>
                    </ul>
                    <p class="text-red text-bold text-uppercase">Cảm ơn quý khách đã tin tưởng và sử dụng dịch vụ của Tổng công ty vận tải Hà Nội - Transerco</p>

                    <p class="text-info text-bold"><a href="/" class="text-underline text-uppercase">Quay về trang chủ</a><a href="TraCuu.aspx" class="text-primary text-bold  text-uppercase" style="padding-left: 40px;" data-type="linkToTab">Tra cứu thông tin vé</a><a href="Default.aspx" class="text-primary text-bold  text-uppercase" style="padding-left: 40px;" data-type="linkToTab">Đăng ký vé</a></p>

                </div>
            </div>
        </div>
    </div>
    <div id="imgManager" title="Trình chỉnh sửa ảnh">
    </div>
    <div class="hidden">
        <canvas id="preview"></canvas>
    </div>
    <div id="fsModal"
         class="modal animated bounceIn"
         tabindex="-1"
         role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div style="width: 200px;height: auto;background: #fff;margin: auto;padding: 5px;">
                        <i class="fa fa-spinner fa-spin"></i><p style="">Vui lòng đợi trong giây lát...</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="toTop"></div>

</div>