<div class="container" style="padding-right: 0px; padding-left: 0px">
    <ul class="nav nav-tabs device-small" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Đăng ký</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Lưu ý</a></li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active col col-xs-12 col-sm-7" id="home" style="padding: 0px;">
            <div class="row main" style="margin-right: 4px; /*padding: 15px 15px 0; */ background-color: white; box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4); -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4); -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);">
                <div class="main-login main-center">
                    <h3 style="text-align: center; color: white; background-color: #f8931d; padding: 20px 10px 10px 10px; margin: 0px; font-weight: bold;">
                        <p>ĐĂNG KÝ MUA TEM VÉ THÁNG TRỰC TUYẾN</p>
                        <p style="font-size: 12px;">(Giao tem tại địa chỉ khách hàng)</p>
                    </h3>
                    <form method="post" id="regisForm">
                        <p class="formTitle">THÔNG TIN KHÁCH HÀNG ĐĂNG KÝ</p>
                        <div class="formRangeBolder">
                            <div class="form-group">
                                <label for="fullname" class="cols-sm-2 control-label">Họ và tên (<span>*</span>)</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control" name="fullname" id="fullname" placeholder="Nhập họ và tên" onchange="OpenUpdate();" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="dateBirth" class="cols-sm-2 control-label">Ngày sinh (<span>*</span>)</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-birthday-cake fa" aria-hidden="true"></i></span>
                                        <input id="dateBirth" type="text" class="form-control" name="dateBirth" placeholder="Nhập ngày sinh" readonly="readonly" onchange="OpenUpdate();" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="phone" class="cols-sm-2 control-label">Điện thoại nhận (<span>*</span>)</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-phone fa" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control" name="phone" id="phone" placeholder="Nhập số điện thoại người nhận" onchange="OpenUpdate();" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="username" class="cols-sm-2 control-label">Địa chỉ nhận</label>
                                <div class="cols-sm-10">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="district" class="cols-sm-2 control-label">Quận (<span>*</span>)</label>
                                <div class="cols-sm-10 selectContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-list" aria-hidden="true"></i></span>
                                        <select name="state" class="form-control" id="state">

                                            <option value="1">Hoàn Kiếm</option>

                                            <option value="2">Hai Bà Trưng</option>

                                            <option value="4">Đống Đa</option>

                                            <option value="3">Tây Hồ</option>

                                            <option value="5">Ba Đình</option>

                                            <option value="6">Cầu Giấy</option>

                                            <option value="7">Thanh Xuân</option>

                                            <option value="8">Long Biên</option>

                                            <option value="9">Hà Đông</option>

                                            <option value="10">Nam Từ Liêm</option>

                                            <option value="11">Bắc Từ Liêm</option>

                                            <option value="12">Hoàng Mai</option>

                                            <option value="13">Ba Vì</option>

                                            <option value="14">Chương Mỹ</option>

                                            <option value="15">Đan Phượng</option>

                                            <option value="16">Đông Anh</option>

                                            <option value="17">Gia Lâm</option>

                                            <option value="18">Hoài Đức</option>

                                            <option value="19">Mê Linh</option>

                                            <option value="20">Mỹ Đức</option>

                                            <option value="21">Phúc Thọ</option>

                                            <option value="22">Phú Xuyên</option>

                                            <option value="23">Quốc Oai</option>

                                            <option value="24">Sóc Sơn</option>

                                            <option value="25">Sơn Tây</option>

                                            <option value="26">Thạch Thất</option>

                                            <option value="27">Thanh Oai</option>

                                            <option value="28">Thanh Trì</option>

                                            <option value="29">Thường Tín</option>

                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="address" class="cols-sm-2 control-label">Địa chỉ chi tiết (<span>*</span>)</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="far fa-address-book"></i></span>
                                        <div class="input-controls-container">
                                            <textarea class="form-control" name="address" id="address" placeholder="Nhập chi tiết địa chỉ giao tem" style="min-height: 42px"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="username" class="cols-sm-2 control-label">Ảnh mặt trước thẻ vé tháng (<span>*</span>)</label>
                                <div class="cols-sm-10">
                                    <div class="input-group" style="width: 100%">
                                        <div class="input-group image-preview">
                                            <input type="text" class="form-control image-preview-filename" readonly="readonly" id="imgUp" name="imgUp" style="background-color: white">
                                            <div class="input-group-btn">

                                                <div class="btn btn-default image-preview-input" style="padding: 10px 9px 11px 9px" onclick="openImageManager()">
                                                    <span class="glyphicon glyphicon-folder-open"></span>
                                                    <input type="hidden" value="" id="hdAnhTem" name="hdAnhTem" />
                                                    <span class="image-preview-input-title">Tải ảnh</span>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <p class="formTitle">THÔNG TIN ĐĂNG KÝ MUA TEM</p>
                        <div class="formRangeBolder">
                            <div class="form-group">
                                <label for="name" class="cols-sm-2 control-label">Loại tem (<span>*</span>)</label>
                                <div class="cols-sm-10" id="pricemonth">
                                    <div class="row">

                                        <div class="col-sm-6">
                                            <div class="radio">
                                                <input type="radio" name="rdStamp" id="radio1" checked value="55000.0000" r-f-t="1" stm-type="1">
                                                <label for="radio1">
                                                    Ưu tiên - Một tuyến: <strong>55,000 đ</strong>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="radio">
                                                <input type="radio" name="rdStamp" id="radio2"  value="100000.0000" r-f-t="2" stm-type="2">
                                                <label for="radio2">
                                                    Bình thường - Một tuyến: <strong>100,000 đ</strong>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="radio">
                                                <input type="radio" name="rdStamp" id="radio3"  value="100000.0000" r-f-t="3" stm-type="1">
                                                <label for="radio3">
                                                    Ưu tiên - Liên tuyến: <strong>100,000 đ</strong>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="radio">
                                                <input type="radio" name="rdStamp" id="radio4"  value="200000.0000" r-f-t="4" stm-type="2">
                                                <label for="radio4">
                                                    Bình thường - Liên tuyến: <strong>200,000 đ</strong>
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="form-group" id="priority">
                                <label for="route" class="cols-sm-2 control-label">Mã thẻ (<span>*</span>)</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-address-card fa" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control" name="cardcode" id="cardcode" placeholder="Nhập mã thẻ" onchange="validateCardCode(this);" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" id="limited">
                                <label for="route" class="cols-sm-2 control-label">Hạn sử dụng thẻ (<span>*</span>)</label>
                                <div class="cols-sm-10">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="radio">
                                                <input type="radio" name="rdLimited" id="rdlm01" checked value="1" />
                                                <label for="rdlm01">
                                                    Có thời hạn
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="radio">
                                                <input type="radio" name="rdLimited" id="rdlm02" value="0" />
                                                <label for="rdlm02">
                                                    Không thời hạn
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" id="DateExprired">
                                <label for="datepickerReceive" class="cols-sm-2 control-label">Ngày hết hạn (<span>*</span>)</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i></span>
                                        <input id="dateLimited" type="text" class="form-control" name="dateLimited" placeholder="Nhập ngày hết hạn" readonly="readonly" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" id="routeReg">
                                <label for="route" class="cols-sm-2 control-label">Tuyến đăng ký (<span>*</span>)</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-bus fa" aria-hidden="true"></i></span>
                                        <select id="route" class="form-control">

                                            <option value="1">01-Bến xe Gia Lâm - Bến xe Yên Nghĩa</option>

                                            <option value="2">02-Bác Cổ - Bến xe Yên Nghĩa</option>

                                            <option value="3">03A-Bến xe Giáp Bát - Bến xe Gia Lâm</option>

                                            <option value="803">03B-Bến xe Nước Ngầm - Giang Biên (Long Biên)</option>

                                            <option value="4">04-Long Biên - Bệnh viện Nội tiết trung ương cơ sở 2</option>

                                            <option value="5">05-KĐT Linh Đàm - Phú Diễn</option>

                                            <option value="6">06A-Bến xe Giáp Bát - Cầu Giẽ</option>

                                            <option value="806">06B-Bến xe Giáp Bát - Hồng Vân</option>

                                            <option value="866">06C-Bến xe Giáp Bát - Phú Minh</option>

                                            <option value="876">06D-Bến xe Giáp Bát - Tân Dân</option>

                                            <option value="886">06E-Bến xe Giáp Bát - Phú Túc</option>

                                            <option value="7">07-Cầu Giấy - Nội Bài</option>

                                            <option value="8">08A-Long Biên - Đông Mỹ</option>

                                            <option value="708">08B-Long Biên - Vạn Phúc</option>

                                            <option value="409">09A-Bờ Hồ - Cầu Giấy - Khu Liên cơ quan Sở ngành HN</option>

                                            <option value="609">09B-Bờ Hồ - Công viên Thống Nhất - Bến xe Mỹ Đình</option>

                                            <option value="100">100-Long Biên - Khu đô thị Đặng Xá</option>

                                            <option value="101">101A-Bến xe Giáp Bát - Vân Đình</option>

                                            <option value="901">101B-Bến xe Giáp Bát - Đại Cường (Ứng Hòa)</option>

                                            <option value="102">102-Bến xe Yên Nghĩa - Vân Đình</option>

                                            <option value="103">103A-Bến xe Mỹ Đình - Hương Sơn</option>

                                            <option value="903">103B-Bến xe Mỹ Đình - Hồng Quang - Hương Sơn</option>

                                            <option value="104">104-Mỹ Đình - BX Nước Ngầm</option>

                                            <option value="105">105-Đô Nghĩa - Cầu Giấy</option>

                                            <option value="106">106-KĐT Mỗ Lao - TTTM Aeon Mall Long Biên</option>

                                            <option value="107">107-Kim Mã - Làng văn hóa du lịch các dân tộc VN</option>

                                            <option value="108">108-Bến xe Thường Tín - Minh Tân</option>

                                            <option value="109">109-Mỹ Đình - Nội Bài</option>

                                            <option value="10">10A-Long Biên - Từ Sơn</option>

                                            <option value="810">10B-Long Biên - Trung Mầu</option>

                                            <option value="11">11-Công viên Thống Nhất - Học Viện Nông Nghiệp</option>

                                            <option value="110">110-BX Sơn Tây - Vườn Quốc gia Ba Vì - Đá Chông</option>

                                            <option value="111">111-BX Sơn Tây - Bất Bạt</option>

                                            <option value="112">112-Nam Thăng Long - Thạch Đà (Mê Linh)</option>

                                            <option value="113">113-Đại Thắng (Phú Xuyên) - Bến đò Vườn Chuối</option>

                                            <option value="114">114-Bến xe Yên Nghĩa - Miếu Môn</option>

                                            <option value="115">115-Thị trấn Vân Đình - Xuân Mai</option>

                                            <option value="116">116-Yên Trung (Thạch Thất) - KCN Phú Nghĩa</option>

                                            <option value="117">117-Hòa Lạc - Nhổn</option>

                                            <option value="119">119-Hòa Lạc - Bất Bạt (Ba Vì)</option>

                                            <option value="12">12-Công viên Nghĩa Đô - Đại Áng</option>

                                            <option value="122">122-Bến xe Gia Lâm - KCN Bắc Thăng Long</option>

                                            <option value="125">125-Bến xe Thường Tín - Tế Tiêu</option>

                                            <option value="13">13-CV nước Hồ Tây - Cổ Nhuế (HVCS)</option>

                                            <option value="14">14-Bờ Hồ - Cổ Nhuế</option>

                                            <option value="15">15-Bến xe Gia Lâm - Phố Nỉ</option>

                                            <option value="816">16-Bến xe Mỹ Đình - Bến xe Nước Ngầm</option>

                                            <option value="17">17-Long Biên - Nội Bài</option>

                                            <option value="18">18-ĐH Kinh tế QD - ĐH Kinh tế QD</option>

                                            <option value="19">19-Trần Khánh Dư - Học viện chính sách và phát triển</option>

                                            <option value="20">20A-Cầu Giấy - Bến xe Sơn Tây</option>

                                            <option value="820">20B-Nhổn - Bến xe Sơn Tây</option>

                                            <option value="21">21A-Bến xe Giáp Bát - Bến xe Yên Nghĩa</option>

                                            <option value="821">21B-Khu đô thị Pháp Vân - Bến xe Mỹ Đình</option>

                                            <option value="22">22A-Bến xe Gia Lâm - KĐT Trung Văn</option>

                                            <option value="822">22B-BX Mỹ Đình - KĐT Kiến Hưng</option>

                                            <option value="922">22C-Bến xe Giáp Bát - Khu đô thị Dương Nội</option>

                                            <option value="23">23-Nguyễn Công Trứ - Nguyễn Công Trứ</option>

                                            <option value="24">24-Long Biên - Cầu Giấy</option>

                                            <option value="25">25-BV Nhiệt đới TW Cơ sở 2 - Bến xe Giáp Bát</option>

                                            <option value="26">26-Mai Động - SVĐ Quốc gia</option>

                                            <option value="27">27-Bến xe Yên Nghĩa - Bến xe Nam Thăng Long</option>

                                            <option value="28">28-BX Nước Ngầm - Đông Ngạc - Đại học Mỏ</option>

                                            <option value="29">29-BX Giáp Bát - Tân Lập</option>

                                            <option value="30">30-Khu đô thị Gamuda - Bến xe Mỹ Đình</option>

                                            <option value="31">31-Bách Khoa - Chèm (ĐH Mỏ)</option>

                                            <option value="32">32-Bến xe Giáp Bát - Nhổn</option>

                                            <option value="33">33-Cụm Công nghiệp Thanh Oai - Xuân Đỉnh</option>

                                            <option value="34">34-Bến xe Mỹ Đình - Bến xe Gia Lâm</option>

                                            <option value="35">35A-Trần Khánh Dư - Nam Thăng Long</option>

                                            <option value="835">35B-Nam Thăng Long - Thanh Lâm</option>

                                            <option value="36">36-Yên Phụ - Khu đô thị Linh Đàm</option>

                                            <option value="37">37-Bến xe Giáp Bát - Chương Mỹ</option>

                                            <option value="38">38-BX Nam Thăng Long - Mai Động</option>

                                            <option value="39">39-Công viên Nghĩa Đô - Bệnh viện Nội tiết TW CS II</option>

                                            <option value="40">40-Công viên Thống Nhất - Văn Lâm</option>

                                            <option value="41">41-Nghi Tàm - BX Giáp Bát</option>

                                            <option value="42">42-Giáp Bát - Đức Giang</option>

                                            <option value="43">43-Công viên Thống Nhất - Thị trấn Đông Anh</option>

                                            <option value="44">44-Trần Khánh Dư - BX Mỹ Đình</option>

                                            <option value="45">45-Time City - Bến xe Nam Thăng Long</option>

                                            <option value="46">46-Bến xe Mỹ Đình - Thị trấn Đông Anh</option>

                                            <option value="47">47A-Long Biên - Bát Tràng</option>

                                            <option value="847">47B-Đại học Kinh tế Quốc dân - Kiêu Kỵ</option>

                                            <option value="48">48-Bến xe Nước Ngầm - Chương Dương - Phúc Lợi (Long Biên)</option>

                                            <option value="49">49-Trần Khánh Dư - Nhổn</option>

                                            <option value="50">50-Long Biên - Khu đô thị Vân Canh</option>

                                            <option value="51">51-Trần Khánh Dư - Trần Vỹ (Học vện Tư Pháp)</option>

                                            <option value="52">52A-Công viên Thống nhất - Lệ Chi</option>

                                            <option value="852">52B-Công viên Thống Nhất - Đặng Xá</option>

                                            <option value="53">53A-Hoàng Quốc Việt - Đông Anh</option>

                                            <option value="853">53B-Bến xe Mỹ Đình - Kim Hoa (Mê Linh)</option>

                                            <option value="54">54-Long Biên - Bắc Ninh</option>

                                            <option value="55">55A-Khu đô thị Times City - Cầu Giấy</option>

                                            <option value="855">55B-TTTM Aeon Mall - Cầu Giấy</option>

                                            <option value="56">56A-Bến xe Nam Thăng Long - Núi Đôi</option>

                                            <option value="856">56B-Học viện Phật Giáo VN - Xuân Giang - Bắc Phú - Học viện Phật Giáo VN</option>

                                            <option value="57">57-Nam Thăng Long - Khu công nghiệp Phú Nghĩa</option>

                                            <option value="58">58-Long Biên - Thạch Đà</option>

                                            <option value="59">59-TT Đông Anh - Học viện Nông nghiệp Việt Nam</option>

                                            <option value="60">60A-KĐT Pháp Vân, Tứ Hiệp - Công Viên Nước Hồ Tây</option>

                                            <option value="860">60B-Bến xe Nước Ngầm - BV Bệnh nhiệt đới TƯ (CS2)</option>

                                            <option value="861">61-Vân Hà (Đông Anh) - CV Cầu Giấy</option>

                                            <option value="62">62-Bến xe Yên Nghĩa - Bến xe Thường Tín</option>

                                            <option value="63">63-Khu công nghiệp Bắc Thăng Long - Tiến Thịnh (Mê Linh)</option>

                                            <option value="64">64-BX Mỹ Đình - Phố Nỉ - TTTM Bình An</option>

                                            <option value="65">65-Thụy Lâm (Đông Anh) - Long Biên (ĐCT Long Biên)</option>

                                            <option value="66">66-Bến xe Yên Nghĩa - Phùng</option>

                                            <option value="67">67-Phùng - Bến xe Sơn Tây</option>

                                            <option value="69">69-Bác Cổ - Dương Quang (Gia Lâm)</option>

                                            <option value="72">72-Bến xe Yên Nghĩa - Xuân Mai</option>

                                            <option value="74">74-Bến xe Mỹ Đình - Xuân Khanh</option>

                                            <option value="84">84-Cầu Diễn - Khu đô thị Linh Đàm</option>

                                            <option value="85">85-Công viên Nghĩa Đô - Khu đô thị Thanh Hà</option>

                                            <option value="87">87-Bến xe Mỹ Đình - Quốc Oai - Xuân Mai</option>

                                            <option value="88">88-Bến xe Mỹ Đình - Hòa Lạc - Xuân Mai</option>

                                            <option value="89">89-Bến xe Yên Nghĩa - Thạch Thất - Bến xe Sơn Tây</option>

                                            <option value="90">90-Hào Nam - Cầu Nhật Tân - Sân bay Nội Bài</option>

                                            <option value="91">91-Bến xe Yên Nghĩa - Kim Bài - Phú Túc</option>

                                            <option value="92">92-Nhổn - Sơn Tây - Tây Đằng</option>

                                            <option value="93">93-Nam Thăng Long - Bắc Sơn (Sóc Sơn)</option>

                                            <option value="94">94-Bến xe Giáp Bát - Kim Bài</option>

                                            <option value="95">95-Nam Thăng Long - Xuân Hòa</option>

                                            <option value="96">96-Công viên Nghĩa Đô - Đông Anh</option>

                                            <option value="97">97-Hoài Đức - Công viên Nghĩa Đô</option>

                                            <option value="98">98-Yên Phụ - Gia Thụy - Aeon Mall Long Biên</option>

                                            <option value="99">99-Kim Mã - Ngũ Hiệp (Thanh Trì)</option>

                                            <option value="918">BRT01-Bến xe Yên Nghĩa - Kim Mã</option>

                                            <option value="205">CNG01-Bến xe Mỹ Đình - Bến xe Sơn Tây</option>

                                            <option value="206">CNG02-Bến xe Yên Nghĩa - Khu đô thị Đặng Xá</option>

                                            <option value="207">CNG03-Bệnh viện Bệnh nhiệt đới Trung ương cơ sở 2 - Khu đô thị Times City.</option>

                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="cols-sm-2 control-label">Dán tem các tháng (<span>*</span>)</label>
                                <div class="cols-sm-10">
                                    <div class="input-group" id="stmonth">
                                        <input type="hidden" name="groupMonth" id="groupMonth" />

                                        <div class="col-sm-4">
                                            <input type="checkbox" name="checkboxes_4" id="chk4" value="4" onchange="checkvalid()" />
                                            <div class="btn-group">
                                                <label for="chk4" class="btn btn-default">
                                                    <span class="fa fa-check-square-o fa-lg"></span>
                                                    <span class="fa fa-square-o fa-lg"></span>
                                                    <span class="content">Tháng 4</span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <input type="checkbox" name="checkboxes_5" id="chk5" value="5" onchange="checkvalid()" />
                                            <div class="btn-group">
                                                <label for="chk5" class="btn btn-default">
                                                    <span class="fa fa-check-square-o fa-lg"></span>
                                                    <span class="fa fa-square-o fa-lg"></span>
                                                    <span class="content">Tháng 5</span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <input type="checkbox" name="checkboxes_6" id="chk6" value="6" onchange="checkvalid()" />
                                            <div class="btn-group">
                                                <label for="chk6" class="btn btn-default">
                                                    <span class="fa fa-check-square-o fa-lg"></span>
                                                    <span class="fa fa-square-o fa-lg"></span>
                                                    <span class="content">Tháng 6</span>
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                    <p style="color: red" id="msgAlert"></p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="datepickerReceive" class="cols-sm-2 control-label">Ngày nhận (<span>*</span>)</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i></span>
                                        <input id="datepickerReceive" type="text" class="form-control" name="datepickerReceive" placeholder="Nhập ngày nhận" readonly="readonly" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="note" class="cols-sm-2 control-label">Yêu cầu khác nếu có</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="far fa-address-book"></i></span>
                                        <div class="input-controls-container">
                                            <textarea class="form-control" name="note" id="note" placeholder="Ghi chú thêm" style="min-height: 42px"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p class="formTitle">THÔNG TIN THANH TOÁN</p>
                        <div class="formRangeBolder">

                            <div class="row">
                                <div class="col-sm-3">
                                    <label>Tổng tiền</label>
                                </div>
                                <div class="col-sm-3">
                                    <p id="totalMoney" style="color: red">0 đ</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3">
                                    <label>Bao gồm</label>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-sm-3">+ Tiền tem</div>
                                <div class="col-sm-3">
                                    <p id="stampMoney">0 đ</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3">+ Phí vận chuyển</div>
                                <div class="col-sm-3">
                                    <p id="ShipMoney" rvl="25000">25,000 đ</p>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="g-recaptcha" data-sitekey="6LdFzksUAAAAAOF7NTdyPjXzA0A-y60raElQoyLC"></div>
                            </div>

                            <div class="form-group" id="termsandcon">
                                <label class="cols-sm-2 control-label">Điều khoản sử dụng dịch vụ</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <div style="border: 1px solid #e5e5e5; height: 100px; overflow: auto; padding: 10px">
                                            <p style="font-weight: bold">I . Trách nhiệm của Tổng công ty Vận tải Hà Nội:</p>
                                            <p>- Cung cấp đúng chủng loại tem vé tháng theo thông tin đăng ký của khách hàng</p>
                                            <p>- Thu tiền theo mệnh giá in trên tem và dán tem vào thẻ cho khách.</p>
                                            <p>- Thực hiện giao tem theo địa chỉ thuộc các quận nội thành Hà Nội.</p>
                                            <p>- Phí dịch vụ chuyển phát do công ty chuyển phát nhanh thu và công khai giá trên trang web.</p>
                                            <p>- Thời gian giao tem từ 02 đến 04 ngày kể từ ngày khách hàng đăng ký mua tem.</p>
                                            <p>- Các trường hợp khách hàng không nghe máy điện thoại đến 3 lần, dẫn đến không giao được tem theo tiến độ, Tổng công ty Vận tải Hà Nội có thể hủy đơn hàng.</p>
                                            <p style="font-weight: bold">II. Trách nhiệm của khách hàng:</p>
                                            <p>- Đăng ký đầy đủ, chính xác thông tin; số điện thoại người nhận, địa chỉ nhận, loại tem mua theo đúng loại thẻ khách hàng sử dụng, kèm file ảnh.</p>
                                            <p>- Giữ thông tin liên lạc trong thời gian chờ nhận tem.</p>
                                            <p>- Xuất trình thẻ cho nhân viên chuyển phát để dán tem.</p>
                                            <p>- Thanh toán đầy đủ tiền tem và phí giao tem cho nhân viên chuyển phát.</p>
                                            <p>- Trong trường hợp tem không đúng loại so với đăng ký, khách hàng có thể từ chối nhận và không phải thanh toán phí giao hàng.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-12" style="padding-right: 0px; padding-left: 0px">
                                    <div class="input-group">
                                        <input type="checkbox" name="chkAgre" id="chkAgre" autocomplete="off" />
                                        <div class="btn-group">
                                            <label for="chkAgre" class="btn btn-default">
                                                <span class="fa fa-check-square-o fa-lg"></span>
                                                <span class="fa fa-square-o fa-lg"></span>
                                                <span class="content">Tôi đồng ý với <a href="javascript:void(0)" onclick="loadterms()">điều khoản dịch vụ</a> và chịu trách nhiệm về thông tin đã đăng ký</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <button type="submit" class="btn btn-lg btn-primary btn-block" value="Đăng ký" id="submit">Đăng ký</button>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6" id="switbottom">
                                    <button onclick="resetform()" class="btn btn-lg btn-warning btn-block" id="resform">Nhập lại</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane col-xs-12 col-sm-5" id="profile" style="padding: 0px;">
            <div class="row main" style="/*padding: 15px 15px 0; */ background-color: white; box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4); -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4); -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);">
                <div class="main-login main-center">
                    <h3 style="text-align: center; color: white; background-color: #0058a0; padding: 20px 10px 10px 10px; margin: 0px; font-weight: bold;">
                        <p>LƯU Ý KHI ĐĂNG KÝ MUA TEM</p>
                        <p style="font-size: 12px;">(Khách hàng có thể sửa hoặc hủy hồ sơ ở trạng thái chờ duyệt)</p>
                    </h3>
                    <div class="formRangeBolder" style="background-color: #bce0ff;">
                        <p style="font-weight: bold">1. Địa chỉ giao tem</p>
                        <p class="text-pad-exam">- Giao tem tại 12 quận nội thành</p>
                        <p class="text-pad-exam">- Các khu vực khác vui lòng mua tại quầy dịch vụ vé tháng.</p>
                        <p style="font-weight: bold">2. Khách hàng ghi đầy đủ, chính xác thông tin.</p>
                        <p class="text-pad-exam">- Địa chỉ nhận tem (số nhà, đường phố, quận...)</p>
                        <p class="text-pad-exam">- Số điện thoại nhận tem</p>
                        <p style="font-weight: bold">3. Chụp ảnh vé tháng</p>
                        <div class="form-group" style="text-align: center">
                            <img src="./assets/img/IMG_02032018_152715_0.png" style="width: 100%; max-width: 350px !important; border: 10px #4b95dc solid;" />
                        </div>
                        <p style="text-align: center">Ảnh chụp rõ nét các thông tin trên thẻ</p>
                        <p style="font-weight: bold">4. Thẻ ĐK mua tem không rách, nát, mờ chữ... và còn hạn sử dụng</p>
                        <p style="font-weight: bold">5. Mang theo thẻ khi dán tem</p>
                        <p style="font-weight: bold">6. Thanh toán cho nhân viên chuyển tem số tiền gồm:</p>
                        <p class="text-pad-exam">- Giá trị tiền tem</p>
                        <p class="text-pad-exam" style="margin: 0px">- Phí vận chuyển: <strong>25,000 đ</strong></p>
                    </div>
                </div>
            </div>

            <div class="row main" style="/*padding: 15px 15px 0; */ background-color: white; box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4); -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4); -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);">
                <div class="main-login main-center">
                    <h3 style="text-align: center; color: white; background-color: #5796cb; padding: 20px 10px 10px 10px; margin: 0px; font-weight: bold;">
                        <p>HƯỚNG DẪN SỬA VÀ HỦY HỒ SƠ</p>
                        <p style="font-size: 12px;">(Dành cho hồ sơ có trạng thái "Hồ sơ chờ duyệt")</p>
                    </h3>
                    <div class="formRangeBolder" style="background-color: #bce0ff;">
                        <p>Hệ thống cho phép khách hàng có thể <span style="color: red">Chỉnh sửa</span> hoặc <span style="color: red">Hủy hồ sơ</span> đã đăng ký ngay trên trang <strong>ĐĂNG KÝ MUA TEM</strong></p>
                        <p style="font-weight: bold">1. Chỉnh sửa hồ sơ:</p>
                        <p class="text-pad-exam">- Nhập đầy đủ 3 thông tin: Họ và tên, Ngày sinh, Số điện thoại</p>
                        <p class="text-pad-exam">- Bấm Enter hoặc Tab thực hiện thay đổi theo thông báo hướng dẫn</p>
                        <p class="text-pad-exam">- Bấm nút Cập nhật</p>
                        <p style="font-weight: bold">2. Hủy hồ sơ</p>
                        <p class="text-pad-exam" style="margin: 0px">- Nhập đầy đủ 3 thông tin: Họ và tên, Ngày sinh, Số điện thoại</p>
                        <p class="text-pad-exam">- Bấm nút Hủy hồ sơ</p>
                        <p class="text-pad-exam">- Nhập lý do hủy</p>
                        <p class="text-pad-exam"><span style="color: red">Quý khách vui lòng xem hướng dẫn chi tiết </span><a href="../Upload/HuongDanDangKyTem.docx" target="_blank">tại đây</a></p>
                    </div>
                    <p style="font-weight: bold; color: white; margin: 0px; padding: 10px; background-color: #045ba2">Mọi vấn đề khác xin liên hệ số tổng đài <span style="font-size: 15px;">1900.1296</span></p>
                </div>
            </div>

        </div>
    </div>
    <div id="imgManager" title="Trình chỉnh sửa ảnh" style="width: 100%; height: 100%">
    </div>

    <div class="loader" style="display: none"></div>
</div>