<table class="register-bound">
    <tr>
        <td width="30%">
            <table width="330">
                <tr>
                    <td height="30" style="border-right:solid 1px #ea8b1f;border-bottom:solid 1px #ea8b1f;">
                        &nbsp;</td>
                </tr>
                <tr>
                    <td id="mn-Timbus" class="feedback-menuitem-none"><a href="./feedback.html">Ý kiến khách hàng về website timbus.vn</a></td>
                </tr>
                <tr>
                    <td class="feedback-menuitem-none">Ý kiến khách hàng về dịch vụ xe buýt của Hanoibus</td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td id="mn-Hanoibus" class="feedback-menuitem-sub-none"><a href="./feedback1.html">Phản ánh về dịch vụ xe buýt</a></td>
                            </tr>
                            <tr>
                                <td id="mn-Statistics" class="feedback-menuitem-sub-selected"><a href="./feedback2.html">Phiếu khảo sát sự hài lòng của khách hàng</a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="450" style="border-right:solid 1px #ea8b1f;"></td>
                </tr>
            </table>
        </td>
        <td>
            <table id="tb-Statistics">
                <tr>
                    <td class="feedback-title" colspan="2">Khảo sát sự hài lòng của khách hàng về dịch vụ xe buýt của Hanoibus</td>
                </tr>
                <tr>
                    <td class="feedback-blank-left">&nbsp;</td>
                    <td class="feedback-question" colspan="2">1. Quý khách thường xuyên đi xe buýt không?</td>
                </tr>
                <tr>
                    <td class="feedback-blank-left">&nbsp;</td>
                    <td class="feedback-control" style="padding:2px 0 8px 0;">
                        <table id="rblQuestion01" border="0">
                            <tr>
                                <td><input id="rblQuestion01_0" type="radio" name="rblQuestion01" value="1" /><label for="rblQuestion01_0">Thường xuyên</label></td><td><input id="rblQuestion01_1" type="radio" name="rblQuestion01" value="2" /><label for="rblQuestion01_1">Thỉnh thoảng</label></td><td><input id="rblQuestion01_2" type="radio" name="rblQuestion01" value="3" /><label for="rblQuestion01_2">Rất ít đi</label></td>
                            </tr>
                        </table>
                    </td>
                    <td class="feedback-validate">
                        <span id="rfvQuestion01" style="color:Red;visibility:hidden;">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="feedback-blank-left">&nbsp;</td>
                    <td class="feedback-question" colspan="2">2. Quý khách đang sử dụng loại vé nào khi đi xe buýt?</td>
                </tr>
                <tr>
                    <td class="feedback-blank-left">&nbsp;</td>
                    <td class="feedback-control" style="padding:2px 0 8px 0;">
                        <table id="rblQuestion02" border="0">
                            <tr>
                                <td><input id="rblQuestion02_0" type="radio" name="rblQuestion02" value="1" /><label for="rblQuestion02_0">Vé lượt</label></td><td><input id="rblQuestion02_1" type="radio" name="rblQuestion02" value="2" /><label for="rblQuestion02_1">ƯT 1 tuyến</label></td><td><input id="rblQuestion02_2" type="radio" name="rblQuestion02" value="3" /><label for="rblQuestion02_2">ƯT liên tuyến</label></td><td><input id="rblQuestion02_3" type="radio" name="rblQuestion02" value="4" /><label for="rblQuestion02_3">BT 1 tuyến</label></td><td><input id="rblQuestion02_4" type="radio" name="rblQuestion02" value="5" /><label for="rblQuestion02_4">BT liên tuyến</label></td>
                            </tr>
                        </table>
                    </td>
                    <td class="feedback-validate">
                        <span id="rfvQuestion02" style="color:Red;visibility:hidden;">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="feedback-blank-left">&nbsp;</td>
                    <td class="feedback-question" colspan="2">3. Quý khách đánh giá về thái độ phục vụ nhân viên lái xe, bán vé?</td>
                </tr>
                <tr>
                    <td class="feedback-blank-left">&nbsp;</td>
                    <td class="feedback-control" style="padding:2px 0 8px 0;">
                        <table id="rblQuestion03" border="0">
                            <tr>
                                <td><input id="rblQuestion03_0" type="radio" name="rblQuestion03" value="1" /><label for="rblQuestion03_0">Rất hài lòng</label></td><td><input id="rblQuestion03_1" type="radio" name="rblQuestion03" value="2" /><label for="rblQuestion03_1">Hài lòng</label></td><td><input id="rblQuestion03_2" type="radio" name="rblQuestion03" value="3" /><label for="rblQuestion03_2">Bình thường</label></td><td><input id="rblQuestion03_3" type="radio" name="rblQuestion03" value="4" /><label for="rblQuestion03_3">Không hài lòng</label></td><td></td>
                            </tr>
                        </table>
                    </td>
                    <td class="feedback-validate">
                        <span id="rfvQuestion03" style="color:Red;visibility:hidden;">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="feedback-blank-left">&nbsp;</td>
                    <td class="feedback-question" colspan="2">4. Quý khách đánh giá việc dừng đỗ đón trả khách và vận hành xe buýt của Lái xe?</td>
                </tr>
                <tr>
                    <td class="feedback-blank-left">&nbsp;</td>
                    <td class="feedback-control" style="padding:2px 0 8px 0;">
                        <table id="rblQuestion04" border="0">
                            <tr>
                                <td><input id="rblQuestion04_0" type="radio" name="rblQuestion04" value="1" /><label for="rblQuestion04_0">Rất tốt</label></td><td><input id="rblQuestion04_1" type="radio" name="rblQuestion04" value="2" /><label for="rblQuestion04_1">Tốt</label></td><td><input id="rblQuestion04_2" type="radio" name="rblQuestion04" value="3" /><label for="rblQuestion04_2">Trung bình</label></td><td><input id="rblQuestion04_3" type="radio" name="rblQuestion04" value="4" /><label for="rblQuestion04_3">Yếu</label></td>
                            </tr>
                        </table>
                    </td>
                    <td class="feedback-validate">
                        <span id="rfvQuestion04" style="color:Red;visibility:hidden;">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="feedback-blank-left">&nbsp;</td>
                    <td class="feedback-question" colspan="2">5. Quý khách đánh giá về chất lượng phương tiện xe Buýt?</td>
                </tr>
                <tr>
                    <td class="feedback-blank-left">&nbsp;</td>
                    <td class="feedback-control" style="padding:2px 0 8px 0;">
                        <table id="rblQuestion05" border="0">
                            <tr>
                                <td><input id="rblQuestion05_0" type="radio" name="rblQuestion05" value="1" /><label for="rblQuestion05_0">Rất tốt</label></td><td><input id="rblQuestion05_1" type="radio" name="rblQuestion05" value="2" /><label for="rblQuestion05_1">Tốt</label></td><td><input id="rblQuestion05_2" type="radio" name="rblQuestion05" value="3" /><label for="rblQuestion05_2">Trung bình</label></td><td><input id="rblQuestion05_3" type="radio" name="rblQuestion05" value="4" /><label for="rblQuestion05_3">Yếu</label></td>
                            </tr>
                        </table>
                    </td>
                    <td class="feedback-validate">
                        <span id="rfvQuestion05" style="color:Red;visibility:hidden;">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="feedback-blank-left">&nbsp;</td>
                    <td class="feedback-question" colspan="2">6. Quý khách đánh giá tính hợp lý, thuận tiện của hệ thống điểm dừng, nhà chờ xe buýt?</td>
                </tr>
                <tr>
                    <td class="feedback-blank-left">&nbsp;</td>
                    <td class="feedback-control" style="padding:2px 0 8px 0;">
                        <table id="rblQuestion06" border="0">
                            <tr>
                                <td><input id="rblQuestion06_0" type="radio" name="rblQuestion06" value="1" /><label for="rblQuestion06_0">Rất tốt</label></td><td><input id="rblQuestion06_1" type="radio" name="rblQuestion06" value="2" /><label for="rblQuestion06_1">Tốt</label></td><td><input id="rblQuestion06_2" type="radio" name="rblQuestion06" value="3" /><label for="rblQuestion06_2">Trung bình</label></td><td><input id="rblQuestion06_3" type="radio" name="rblQuestion06" value="4" /><label for="rblQuestion06_3">Yếu</label></td>
                            </tr>
                        </table>
                    </td>
                    <td class="feedback-validate">
                        <span id="rfvQuestion06" style="color:Red;visibility:hidden;">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="feedback-blank-left">&nbsp;</td>
                    <td class="feedback-question" colspan="2">7. Quý khách có đóng góp ý kiến gì thêm để Hanoibus nâng cao chất lượng dịch vụ?</td>
                </tr>
                <tr>
                    <td class="feedback-blank-left">&nbsp;</td>
                    <td class="feedback-control">
                                <textarea name="txtQuestion07" rows="2" cols="20" id="txtQuestion07" class="feedback-control-item ui-lft-rt-opt-tx" style="height:100px;width:500px;">
</textarea>
                    </td>
                    <td class="feedback-validate">
                        <span id="rfvQuestion07" style="color:Red;display:none;">*</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding:7px 7px 0 0; text-align: right;"><input type="submit" name="btnStatistics" value="Gửi" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;btnStatistics&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, false))" id="btnStatistics" class="feedback-button" /></td>
                    <td class="feedback-validate"></td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;">
            <span id="lbMessage" class="feedback-result-message"></span>
        </td>
    </tr>
</table>