<table class="register-bound">
    <tr>
        <td width="30%" valign="top" align="right">
            <table cellpadding="0" cellspacing="0" border="0" width="330">
                <tr>
                    <td height="30" style="border-right:solid 1px #ea8b1f;border-bottom:solid 1px #ea8b1f;">
                        &nbsp;</td>
                </tr>
                <tr>
                    <td id="mn-Timbus" class="feedback-menuitem-none"><a href="./feedback.html">Ý kiến khách hàng về website timbus.vn</a></td>
                </tr>
                <tr>
                    <td class="feedback-menuitem-none">Ý kiến khách hàng về dịch vụ xe buýt của Hanoibus</td>
                </tr>
                <tr>
                    <td align="right">
                        <table cellpadding="0" cellspacing="0" border="0" width="300">
                            <tr>
                                <td id="mn-Hanoibus" class="feedback-menuitem-sub-selected"><a href="./feedback1.html">Phản ánh về dịch vụ xe buýt</a></td>
                            </tr>
                            <tr>
                                <td id="mn-Statistics" class="feedback-menuitem-sub-none"><a href="./feedback2.html">Phiếu khảo sát sự hài lòng của khách hàng</a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="500" style="border-right:solid 1px #ea8b1f;"></td>
                </tr>
            </table>
        </td>
        <td align="left" valign="top">

            <table id="tb-Hanoibus" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="feedback-title" colspan="3">Khách hàng đóng góp ý kiến</td>
                </tr>
                <tr>
                    <td class="feedback-text">Tên khách hàng:</td>
                    <td class="feedback-control">
                        <input name="txtHNBFullName" type="text" id="txtHNBFullName" class="feedback-control-item ui-lft-rt-opt-tx" />
                    </td>
                    <td class="feedback-validate">
                        <span id="rfvHNBFullName" style="color:Red;display:none;">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="feedback-text">Địa chỉ:</td>
                    <td class="feedback-control"><input name="txtHNBAddress" type="text" id="txtHNBAddress" class="feedback-control-item ui-lft-rt-opt-tx" /></td>
                    <td class="feedback-validate"></td>
                </tr>
                <tr>
                    <td class="feedback-text">Email:</td>
                    <td class="feedback-control">
                        <input name="txtHNBEmail" type="text" id="txtHNBEmail" class="feedback-control-item ui-lft-rt-opt-tx" />
                    </td>
                    <td class="feedback-validate">
                        <span id="rfvHNBEmail" style="color:Red;display:none;">*</span>
                        <span id="revHNBEmail" style="color:Red;visibility:hidden;">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="feedback-text">Số điện thoại:</td>
                    <td class="feedback-control"><input name="txtHNBPhone" type="text" id="txtHNBPhone" class="feedback-control-item ui-lft-rt-opt-tx" /></td>
                    <td class="feedback-validate"></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="feedback-text">Ngày:</td>
                                <td class="feedback-control"><input name="txtHNBDate" type="text" id="txtHNBDate" class="feedback-control-item-01 ui-lft-rt-opt-tx" readonly="readonly" /></td>
                                <td class="feedback-validate">
                                    <span id="rfvHNBDate" style="color:Red;display:none;">*</span>
                                </td>
                                <td class="feedback-text-01">Giờ:</td>
                                <td class="feedback-control"><input name="txtHNBTime" type="text" id="txtHNBTime" class="feedback-control-item-01 ui-lft-rt-opt-tx" readonly="readonly" /></td>
                                <td class="feedback-validate">
                                    <span id="rfvHNBTime" style="color:Red;display:none;">*</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="feedback-text">Tuyến:</td>
                                <td class="feedback-control"><input name="txtHNBFleet" type="text" id="txtHNBFleet" class="feedback-control-item-01 ui-lft-rt-opt-tx" /></td>
                                <td class="feedback-validate">
                                    <span id="rfvHNBFleet" style="color:Red;display:none;">*</span>
                                </td>
                                <td class="feedback-text-01">Biển số:</td>
                                <td class="feedback-control"><input name="txtHNBVehiclePlate" type="text" id="txtHNBVehiclePlate" class="feedback-control-item-01 ui-lft-rt-opt-tx" /></td>
                                <td class="feedback-validate">
                                    <span id="rfvHNBVehiclePlate" style="color:Red;display:none;">*</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="feedback-text">Địa điểm:</td>
                    <td class="feedback-control"><input name="txtHNBLocation" type="text" id="txtHNBLocation" class="feedback-control-item ui-lft-rt-opt-tx" /></td>
                    <td class="feedback-validate">
                        <span id="rfvHNBLocation" style="color:Red;display:none;">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="feedback-text">Phản ánh về:</td>
                    <td class="feedback-control" style="padding:2px 0 8px 0;">
                        <table id="rblHNBProblem" border="0">
                            <tr>
                                <td><input id="rblHNBProblem_0" type="radio" name="rblHNBProblem" value="1" /><label for="rblHNBProblem_0">Thái độ phục vụ</label></td><td><input id="rblHNBProblem_3" type="radio" name="rblHNBProblem" value="4" /><label for="rblHNBProblem_3">ATTT, ATGT</label></td>
                            </tr><tr>
                            <td><input id="rblHNBProblem_1" type="radio" name="rblHNBProblem" value="2" /><label for="rblHNBProblem_1">Dừng đỗ vận hành</label></td><td><input id="rblHNBProblem_4" type="radio" name="rblHNBProblem" value="5" /><label for="rblHNBProblem_4">Mạng lưới tuyến, hạ tầng</label></td>
                        </tr><tr>
                            <td><input id="rblHNBProblem_2" type="radio" name="rblHNBProblem" value="3" /><label for="rblHNBProblem_2">Chất lượng phương tiện</label></td><td></td>
                        </tr>
                        </table>
                    </td>
                    <td class="feedback-validate">
                        <span id="rfvHNBProblem" style="color:Red;visibility:hidden;">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="feedback-text">Nội dung góp ý:</td>
                    <td class="feedback-control">
                                <textarea name="txtHNBContent" rows="2" cols="20" id="txtHNBContent" class="feedback-control-item ui-lft-rt-opt-tx" style="height:200px;">
</textarea>
                    </td>
                    <td class="feedback-validate">
                        <span id="rfvHNBContent" style="color:Red;display:none;">*</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="right" style="padding:7px 7px 0 0;"><input type="submit" name="btnHNBSend" value="Gửi" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;btnHNBSend&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, false))" id="btnHNBSend" class="feedback-button" /></td>
                    <td class="feedback-validate"></td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td colspan="2" align="center">
            <span id="lbMessage" class="feedback-result-message"></span>
        </td>
    </tr>
</table>