<table class="register-bound">
    <tr>
        <td width="30%">
            <table>
                <tr>
                    <td height="30" style="border-right:solid 1px #ea8b1f;border-bottom:solid 1px #ea8b1f;">
                        &nbsp;</td>
                </tr>
                <tr>
                    <td id="mn-Timbus" class="feedback-menuitem-selected">Ý kiến khách hàng về website timbus.vn</td>
                </tr>
                <tr>
                    <td class="feedback-menuitem-none"><a href="./feedback1.html">Ý kiến khách hàng về dịch vụ xe buýt của Hanoibus</a></td>
                </tr>
                <tr>
                    <td height="400" style="border-right:solid 1px #ea8b1f;"></td>
                </tr>
            </table>
        </td>
        <td>

            <table id="tb-Timbus">
                <tr>
                    <td class="feedback-title" colspan="3">Khách hàng đóng góp ý kiến</td>
                </tr>
                <tr>
                    <td class="feedback-text">Tên khách hàng:</td>
                    <td class="feedback-control">
                        <input name="txtTBFullName" type="text" id="txtTBFullName" class="feedback-control-item ui-lft-rt-opt-tx" />
                    </td>
                    <td class="feedback-validate">
                        <span id="rfvTBFullName" style="color:Red;display:none;">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="feedback-text">Địa chỉ:</td>
                    <td class="feedback-control"><input name="txtTBAddress" type="text" id="txtTBAddress" class="feedback-control-item ui-lft-rt-opt-tx" /></td>
                    <td class="feedback-validate"></td>
                </tr>
                <tr>
                    <td class="feedback-text">Email:</td>
                    <td class="feedback-control">
                        <input name="txtTBEmail" type="text" id="txtTBEmail" class="feedback-control-item ui-lft-rt-opt-tx" />
                    </td>
                    <td class="feedback-validate">
                        <span id="rfvTBEmail" style="color:Red;display:none;">*</span>
                        <span id="revTBEmail" style="color:Red;visibility:hidden;">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="feedback-text">Số điện thoại:</td>
                    <td class="feedback-control"><input name="txtTBPhone" type="text" id="txtTBPhone" class="feedback-control-item ui-lft-rt-opt-tx" /></td>
                    <td class="feedback-validate"></td>
                </tr>
                <tr>
                    <td class="feedback-text">Tốc độ truyền dữ liệu:</td>
                    <td class="feedback-control" style="padding:2px 0 8px 0;">
                        <table id="rblTBSpeedData" border="0">
                            <tr>
                                <td><input id="rblTBSpeedData_0" type="radio" name="rblTBSpeedData" value="1" /><label for="rblTBSpeedData_0">Rất tốt</label></td><td><input id="rblTBSpeedData_1" type="radio" name="rblTBSpeedData" value="2" /><label for="rblTBSpeedData_1">Tốt</label></td><td><input id="rblTBSpeedData_2" type="radio" name="rblTBSpeedData" value="3" /><label for="rblTBSpeedData_2">Trung bình</label></td><td><input id="rblTBSpeedData_3" type="radio" name="rblTBSpeedData" value="4" /><label for="rblTBSpeedData_3">Yếu</label></td>
                            </tr>
                        </table>
                    </td>
                    <td class="feedback-validate">
                        <span id="rfvTBSpeedData" style="color:Red;visibility:hidden;">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="feedback-text">Tính năng sử dụng:</td>
                    <td class="feedback-control" style="padding:2px 0 8px 0;">
                        <table id="rblTBFunctionUsed" border="0">
                            <tr>
                                <td><input id="rblTBFunctionUsed_0" type="radio" name="rblTBFunctionUsed" value="1" /><label for="rblTBFunctionUsed_0">Rất tốt</label></td><td><input id="rblTBFunctionUsed_1" type="radio" name="rblTBFunctionUsed" value="2" /><label for="rblTBFunctionUsed_1">Tốt</label></td><td><input id="rblTBFunctionUsed_2" type="radio" name="rblTBFunctionUsed" value="3" /><label for="rblTBFunctionUsed_2">Trung bình</label></td><td><input id="rblTBFunctionUsed_3" type="radio" name="rblTBFunctionUsed" value="4" /><label for="rblTBFunctionUsed_3">Yếu</label></td>
                            </tr>
                        </table>
                    </td>
                    <td class="feedback-validate">
                        <span id="rfvTBFunctionUsed" style="color:Red;visibility:hidden;">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="feedback-text">Tính chính xác tư vấn:</td>
                    <td class="feedback-control" style="padding:2px 0 8px 0;">
                        <table id="rblTBExactlySuggest" border="0">
                            <tr>
                                <td><input id="rblTBExactlySuggest_0" type="radio" name="rblTBExactlySuggest" value="1" /><label for="rblTBExactlySuggest_0">Rất tốt</label></td><td><input id="rblTBExactlySuggest_1" type="radio" name="rblTBExactlySuggest" value="2" /><label for="rblTBExactlySuggest_1">Tốt</label></td><td><input id="rblTBExactlySuggest_2" type="radio" name="rblTBExactlySuggest" value="3" /><label for="rblTBExactlySuggest_2">Trung bình</label></td><td><input id="rblTBExactlySuggest_3" type="radio" name="rblTBExactlySuggest" value="4" /><label for="rblTBExactlySuggest_3">Yếu</label></td>
                            </tr>
                        </table>
                    </td>
                    <td class="feedback-validate">
                        <span id="rfvTBExactlySuggest" style="color:Red;visibility:hidden;">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="feedback-text">Nội dung góp ý:</td>
                    <td class="feedback-control">
                                <textarea name="txtTBContent" rows="2" cols="20" id="txtTBContent" class="feedback-control-item ui-lft-rt-opt-tx" style="height:200px;">
</textarea>
                    </td>
                    <td class="feedback-validate">
                        <span id="rfvTBContent" style="color:Red;display:none;">*</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding:7px 7px 0 0; text-align: right;"><input type="submit" name="btnTBSend" value="Gửi" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;btnTBSend&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, false))" id="btnTBSend" class="feedback-button" /></td>
                    <td class="feedback-validate"></td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;">
            <span id="lbMessage" class="feedback-result-message"></span>
        </td>
    </tr>
</table>