<div class="content_left">
    <div class="left_menu_root">
        <div class="left_menu_root_title">HƯỚNG DẪN SỬ DỤNG</div>
        <div class="left_menu_root_item">
            <div class="left_menu_c1_title" onclick="openGuide('guide_table_cdud')">Cài đặt ứng dụng</div>
        </div>
        <div class="left_menu_root_item">
            <div class="left_menu_c1_title" onclick="openGuide('guide_table_tdxb')">Tìm đường xe buýt</div>
        </div>
        <div class="left_menu_root_item">
            <div class="left_menu_c1_title" onclick="openGuide('guide_table_xtdd')">Xe sắp tới điểm dừng</div>
        </div>
        <div class="left_menu_root_item">
            <div class="left_menu_c1_title" onclick="openGuide('guide_table_tctt')">Tra cứu thông tin</div>
        </div>
        <div class="left_menu_root_item">
            <div class="left_menu_c1_title" onclick="openGuide('guide_table_tkmr')">Tìm kiếm mở rộng</div>
        </div>
    </div>
</div>
<div class="content_right">
    <table class="guide_table" id="guide_table_cdud">
        <tr>
            <td style="width: 25%;"></td>
            <td class="left_menu_root_title">Cài đặt ứng dụng</td>
        </tr>
        <tr>
            <td></td>
            <td class="left_menu_c1_title">1.Giới thiệu chung</td>
        </tr>
        <tr>
            <td></td>
            <td>Ứng dụng ‘Tìm Buýt’ hiện đã có mặt cả trên 2 hệ điều hành phổ biến là Android và IOS. Người dùng có thể dễ dàng cài đặt ứng dụng từ 2 hệ điều hành như sau:</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="https://www.youtube.com/watch?v=70vo9mXdYBg" style="font-weight: bold; font-size: 14px;text-decoration: underline;" target="_blank">Xem video hướng dẫn cài đặt</a> </td>
        </tr>
        <tr>
            <td></td>
            <td class="left_menu_c1_title">2.Thao tác cài đặt</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <table>
                    <tr>
                        <td class="td_note" style="width: 40%;">
                            <br />
                            <div class="left_menu_c2_title">Hệ điều hành Android</div>

                            <br />
                            <div class="left_menu_c3_item"><b>Bước 1:</b> Ở màn hình Home của thiết bị,chọn ứng dụng <b>CH Play</b> <i>(Hình 1)</i> </div>
                            <br />
                            <div class="left_menu_c3_item"><b>Bước 2:</b>Tiếp tục chọn vào biểu tượng tìm kiếm và nhập <b>Tìm Buýt</b>  <i>(Hình 2)</i> </div>
                            <br />
                            <div class="left_menu_c3_item"><b>Bước 3:</b> Khi có kết quả tìm kiếm chọn vào ứng dụng <b>Tìm Buýt</b> và kích chọn <b>Cài Đặt</b>  <i>(Hình 3)</i></div>
                        </td>
                        <td class="td_img" style="width: 60%;">
                            <img src="./assets/img/HDCD_Android_1.jpg" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td class="td_note">
                            <div class="left_menu_c3_item"><b>Bước 4:</b> Sau khi cài đặt thành công, người dùng nhấn nút <b>Mở</b> để vào ứng dụng. Tiếp tục kích các nút <b>Tiếp theo</b> trên các màn hình Hướng dẫn để vào màn hình đăng nhập của ứng dụng</div>
                            <br />
                            <div class="left_menu_c3_item"><b>Bước 5:</b> Thực hiện đăng nhập vào ứng dụng qua FaceBook cá nhân hoặc bằng cách nhập số điện thoại để vào màn hình chính của ứng dụng</div>
                        </td>
                        <td class="td_img">
                            <img src="./assets/img/HDCD_Android_2.jpg" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td class="td_note" style="width: 40%;">
                            <br />
                            <div class="left_menu_c2_title">Hệ điều hành IOS</div>
                            <br />
                            <div class="left_menu_c3_item"><b>Bước 1:</b> Ở màn hình Home của thiết bị,chọn ứng dụng <b>App Store</b> <i>(Hình 1)</i> </div>
                            <br />
                            <div class="left_menu_c3_item"><b>Bước 2:</b>Tiếp tục chọn vào biểu tượng tìm kiếm và nhập <b>Tìm Buýt</b>. Khi có kết quả tìm kiếm chọn vào ứng dụng <b>Tìm Buýt</b><i>(Hình 2)</i> </div>
                            <br />
                            <div class="left_menu_c3_item"><b>Bước 3:</b>Kích chọn biểu tượng <b>Nhận</b> để download ứng dụng về máy<i>(Hình 3)</i></div>
                        </td>
                        <td class="td_img" style="width: 60%;">
                            <img src="./assets/img/HDCD_IOS_1.jpg" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td class="td_note">
                            <div class="left_menu_c3_item"><b>Bước 4:</b>Sau khi cài đặt thành công, người dùng nhấn nút <b>OPEN (Mở)</b> để mở ứng dụng. Kích các nút <b>Tiếp theo</b> trên các màn hình hướng dẫn để vào màn hình đăng nhập vào ứng dụng</div>
                            <br />
                            <div class="left_menu_c3_item"><b>Bước 5:</b> Thực hiện đăng nhập vào ứng dụng qua FaceBook cá nhân hoặc bằng cách nhập số điện thoại để vào màn hình chính của ứng dụng</div>
                        </td>
                        <td class="td_img">
                            <img src="./assets/img/HDCD_IOS_2.jpg" alt="" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table class="guide_table" style="display: none;" id="guide_table_tdxb">
        <tr>
            <td style="width: 25%;"></td>
            <td class="left_menu_root_title">Tìm đường xe buýt</td>
        </tr>
        <tr>
            <td></td>
            <td class="left_menu_c1_title">1.Giới thiệu chung</td>
        </tr>
        <tr>
            <td></td>
            <td>Với hệ thống tuyến buýt và điểm dừng phủ khắp thành phố, việc người dùng nhớ và tìm đường đi giữa hai điểm bất kỳ bằng xe buýt là rất khó khăn. Chức năng Tìm đường xe buýt của phần mềm cung cấp cho người dùng một công cụ tìm kiếm đường đi bằng xe buýt giữa hai điểm bất kỳ với các tùy chọn khác nhau (Đường đi ngắn nhất, Chuyển tuyến ít nhât, Đi bộ ít nhất). phần mềm sẽ đưa ra các phương án cho người dùng tham khảo và lựa chọn, các phương án được mô tả chi tiết các tuyến phải đi, các điểm dừng phải qua, các điểm chuyển tuyến, tổng quảng đường cần đi…và có hiển thị trực quan trên bản đồ.</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="https://www.youtube.com/watch?v=qUHeawdQ8wU" target="_blank" style="font-weight: bold; font-size: 16px;text-decoration: underline;"> Xem video hướng dẫn tìm đường </a></td>
        </tr>
        <tr>
            <td></td>
            <td class="left_menu_c1_title">2.Thao tác sử dụng</td>
        </tr>

        <tr>
            <td></td>
            <td>
                <table>
                    <tr>
                        <td class="td_note" style="width: 30%;">
                            <br />
                            <div class="left_menu_c2_title">Chọn điểm đi</div>
                            <br />
                            <div class="left_menu_c3_title">Cách 1: Chọn trực tiếp trên bản đồ</div>
                            <br />
                            <div class="left_menu_c3_item">Bước 1: Click chuột phải trên bản đồ (tại điểm cần đi)</div>
                            <div class="left_menu_c3_item">Bước 2: Chọn menu "Chọn điểm xuất phát"</div>
                            <div class="left_menu_c3_item">Kết quả: Điểm bắt đầu sẽ được đánh dấu trên bản đồ có hình</div>

                        </td>
                        <td class="td_img" style="width: 70%;">
                            <img src="./assets/img/from-1.png" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td class="td_note" style="width: 30%;">
                            <div class="left_menu_c3_title">Cách 2: Người dùng nhập địa điểm muốn bắt đầu đi</div>
                            <br />
                            <div class="left_menu_c3_item">Bước 1: Nhập địa chỉ vào ô Điểm đi (Có thể nhập tiếng việt có dấu hoặc không dấu)</div>
                            <div class="left_menu_c3_item">Bước 2: Gõ phím Enter để tìm vị trí của điểm đi trên bản đồ</div>
                            <div class="left_menu_c3_item">Kết quả: Điểm bắt đầu sẽ được đánh dấu trên bản đồ có hình</div>
                            <br />
                            <div class="left_menu_c3_title">Ví dụ: Người dùng muốn nhập điểm xuất phát từ 227 nguyen trai thì cần thao tác những thao tác sau</div>
                            <br />
                            <div class="left_menu_c3_item">Bước 1: Nhập "227 nguyen trai" từ  bàn phím</div>
                            <div class="left_menu_c3_item">Bước 2: Gõ phím Enter để tìm vị trí của điểm đi trên bản đồ</div>
                            <div class="left_menu_c3_item">Kết quả: Và kết quả là điểm người dùng nhập sẽ được đánh dấu trên bản đồ</div>
                        </td>
                        <td class="td_img" style="width: 70%;">
                            <img src="./assets/img/from.png" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                <table>
                    <tr>
                        <td class="td_note" style="width: 30%;">
                            <div class="left_menu_c2_title">Chọn điểm đến</div>
                            <br />
                            <div class="left_menu_c3_title">Cách 1: Chọn trực tiếp trên bản đồ</div>
                            <br />
                            <div class="left_menu_c3_item">Bước 1: Click chuột phải trên bản đồ (tại điểm cần đến)</div>
                            <div class="left_menu_c3_item">Bước 2: Chọn menu "Chọn điểm đến"</div>
                            <div class="left_menu_c3_item">Kết quả: Điểm đến sẽ được đánh dấu trên bản đồ có hình</div>

                        </td>
                        <td class="td_img" style="width: 70%;">
                            <img src="./assets/img/to-1.png" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td class="td_note" style="width: 30%;">
                            <div class="left_menu_c3_title">Cách 2: Người dùng nhập địa điểm muốn đến</div>
                            <br />
                            <div class="left_menu_c3_item">Bước 1: Nhập địa chỉ vào ô Điểm đến (Có thể nhập tiếng việt có dấu hoặc không dấu)</div>
                            <div class="left_menu_c3_item">Bước 2: Gõ phím Enter để tìm vị trí của điểm đến trên bản đồ</div>
                            <div class="left_menu_c3_item">Kết quả: Điểm đến sẽ được đánh dấu trên bản đồ có hình</div>
                            <br />
                            <div class="left_menu_c3_title">Ví dụ: Người dùng muốn nhập điểm đến là Hồ Tùng Mậu nhưng muốn biết cụ thể là 32 Nguyễn Công Trứ thì thực hiện các bước sau</div>
                            <br />
                            <div class="left_menu_c3_item">Bước 1: Nhập "32 nguyen cong tru" từ  bàn phím</div>
                            <div class="left_menu_c3_item">Bước 2: Gõ phím Enter để tìm vị trí của điểm đến trên bản đồ</div>
                            <div class="left_menu_c3_item">Kết quả: Và kết quả là điểm người dùng nhập sẽ được đánh dấu trên bản đồ</div>
                        </td>
                        <td class="td_img" style="width: 70%;">
                            <img src="./assets/img/from.png" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                <table>
                    <tr>
                        <td class="td_note" style="width: 60%;">
                            <div class="left_menu_c2_title">Tùy chọn</div>
                            <br />
                            <div class="left_menu_c3_title">Được dùng cho người dùng lựa chọn tiêu chí muốn tìm đường đi xe bus. Có 3 lựa chọn tiêu chí:</div>
                            <br />
                            <div class="left_menu_c3_item">Quãng đường ngắn nhất: Tổng quảng đường đi ngắn nhất</div>
                            <div class="left_menu_c3_item">Chuyển tuyến ít nhất: Có số lần chuyển tuyến xe buýt ít nhất</div>
                            <div class="left_menu_c3_item">Đi bộ ít nhất: Khoảng cách đi bộ ít nhất</div>

                        </td>
                        <td class="td_img" style="width: 40%;">
                            <img src="./assets/img/option.png" alt="" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                <table>
                    <tr>
                        <td class="td_note" style="width: 30%">
                            <div class="left_menu_c2_title">Tìm đường</div>
                            <br />
                            <div class="left_menu_c3_title">Tìm đường theo lựa chọn “Tùy chọn” của người dùng. Ví dụ: Người dùng muốn biết cách đi xe bus từ điểm bắt đầu là 277 Nguyễn Trãi, điểm đến là 32 Nguyễn Công Trứ và chuyển xe ít nhất thì thao tác</div>
                            <br />
                            <div class="left_menu_c3_item">Bước 1: Nhập điểm đi: “277 nguyen trai”</div>
                            <div class="left_menu_c3_item">Bước 2: Gõ phím Enter để tìm vị trí của điểm đi trên bản đồ</div>
                            <div class="left_menu_c3_item">Bước 3: Nhập điểm đến: “32 nguyen cong tru”</div>
                            <div class="left_menu_c3_item">Bước 4: Gõ phím Enter để tìm vị trí của điểm đến trên bản đồ</div>
                            <div class="left_menu_c3_item">Bước 5: Lựa chọn tiêu chí muốn tìm kiếm ở ô “Tùy chọn”</div>
                            <div class="left_menu_c3_item">Bước 6: Click nút "Tìm đường"</div>
                            <div class="left_menu_c3_item">Kết quả sẽ được hiển thị và hướng dẫn chi tiết theo từng lựa chọn được hiển thị. Kết quả tốt nhất sẽ được đưa lên trên cùng</div>
                        </td>
                        <td class="td_img" style="width: 70%">
                            <img src="./assets/img/result.png" alt="" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                <div class="left_menu_c2_title">Một số lưu ý và tiện ích hỗ trợ</div>
                <br />
                <div class="left_menu_c3_item">Người dùng muốn nhập vị trí hiện tại mà người dùng đang ở thì có thể dùng chuột nhấp vào biểu tượng   ngay bên cạnh mục nhập điểm đi, điểm đến.</div>
                <div class="left_menu_c3_item">Để xóa tất cả dữ liệu đã nhập trong ô Điểm đến, Điểm đi, kết quả tìm được thì người dùng có thể chọn dấu “x” bên cạnh Tìm đường  để xóa hết tất cả</div>
                <div class="left_menu_c3_item">Để đổi ngược dữ liệu từ Điểm đi thành Điểm đến và ngược lại thì người dùng lựa chọn biểu tượng mũi tên bên cạnh ô nhập Điểm đi, điểm đến</div>
            </td>
        </tr>
    </table>
    <table class="guide_table" style="display: none;" id="guide_table_xtdd">
        <tr>
            <td style="width: 25%;"></td>
            <td class="left_menu_root_title">Xe sắp tới điểm dừng</td>
        </tr>
        <tr>
            <td></td>
            <td class="left_menu_c1_title">1.Giới thiệu chung</td>
        </tr>
        <tr>
            <td></td>
            <td>Trong hệ thống điểm dừng xe buýt, tại mỗi điểm dừng sẽ có danh sách các tuyến đi qua. Với những thông tin đó chức năng này cung cấp cho người dùng một công cụ tra cứu các xe thuộc tuyến đi qua điểm dừng này đang cách điểm dừng bao xa. Dữ liệu này được tính toán theo thời gian thực và dựa vào vị trí GPS lắp trên xe buýt.</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="https://www.youtube.com/watch?v=ryqWUgsXpzQ" target="_blank" style="font-weight: bold; font-size: 16px;text-decoration: underline;"> Xem video hướng dẫn theo dõi xe trực tuyến </a></td>
        </tr>
        <tr>
            <td></td>
            <td class="left_menu_c1_title">2.Thao tác sử dụng</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <table>
                    <tr>
                        <td style="width: 32%; text-align: center;">
                            <img alt="" src="./assets/img/vehicle-input-1.png" />
                        </td>
                        <td style="width: 2%;"></td>
                        <td style="width: 32%; text-align: center;">
                            <img alt="" src="./assets/img/vehicle-input-2.png" />
                        </td>
                        <td style="width: 2%;"></td>
                        <td style="width: 32%; text-align: center;">
                            <img alt="" src="./assets/img/vehicle-input-3.png" />
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">
                            <div class="left_menu_c3_title">Bước 1: Chọn một điểm dừng bất kỳ (Từ kết quả tìm kiếm đường đi, Tra cứu thông tin, Tìm kiếm mở rộng...)</div>
                        </td>
                        <td style="width: 2%;"></td>
                        <td style="text-align: center;">
                            <div class="left_menu_c3_title">Bước 2: Chọn xem thông tin của điểm dừng</div>
                        </td>
                        <td style="width: 2%;"></td>
                        <td style="text-align: center;">
                            <div class="left_menu_c3_title">Bước 3: Chọn chức năng xe sắp tới điểm dừng</div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" style="text-align: center;">
                            <img src="./assets/img/vehicle-result-1.png" />
                            <div class="left_menu_c3_title">Kết quả: Hiển thị danh sách các xe sắp tới điểm dừng với các thông tin chi tiết kèm theo: Biển kiểm soát, Số hiệu tuyến, khoảng cách...</div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table class="guide_table" style="display: none;" id="guide_table_tctt">
        <tr>
            <td style="width: 25%;"></td>
            <td class="left_menu_root_title">Tra cứu thông tin</td>
        </tr>
        <tr>
            <td></td>
            <td class="left_menu_c1_title">1.Giới thiệu chung</td>
        </tr>
        <tr>
            <td></td>
            <td>Với hệ thống đầy đủ các tuyến buýt và điểm dừng, việc ghi nhớ tất cả là không thể. Chính vì thế chức năng này cung cấp cho người dùng công cụ tra cứu thông tin về hệ thống buýt (theo mã tuyến, tên tuyến, lộ trình…) cũng như hệ thống điểm dừng (tên điểm dừng, tuyến phố…). Bên cạnh đó chức năng này cũng cho phép người dùng tra cứu các đối tượng tiện ích liên quan như: Điểm bán vé xe buýt, Điểm trông giữ xe, Các điểm tham quan – dịch vụ (Công viên, Trường học, Điểm vui chơi…)</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="https://www.youtube.com/watch?v=8kxpGBGUmeU" target="_blank" style="font-weight: bold; font-size: 16px;text-decoration: underline;"> Xem video hướng dẫn tra cứu thông tin xe buýt </a></td>
        </tr>
        <tr>
            <td></td>
            <td class="left_menu_c1_title">2.Thao tác sử dụng</td>
        </tr>

        <tr>
            <td></td>
            <td>
                <table>
                    <tr>
                        <td style="width: 10%;"></td>
                        <td style="width: 10%;"></td>
                        <td style="width: 10%;"></td>
                        <td style="width: 10%;"></td>
                        <td style="width: 10%;"></td>
                        <td style="width: 10%;"></td>
                        <td style="width: 10%;"></td>
                        <td style="width: 10%;"></td>
                        <td style="width: 10%;"></td>
                        <td style="width: 10%;"></td>
                    </tr>
                    <tr>
                        <td class="td_note" colspan="5">
                            <div class="left_menu_c2_title">Thao tác chung</div>
                            <br />
                            <div class="left_menu_c3_item">Bước 1: Lựa chọn 1 trong 4 lựa chọn trong Combobox muốn tìm kiếm</div>
                            <div class="left_menu_c3_item">Bước 2: Nhập thông tin muốn tìm kiếm theo lựa chọn</div>
                            <div class="left_menu_c3_item">Bước 3: Gõ phím Enter để tìm kiếm</div>
                            <div class="left_menu_c3_item">Kết quả: Đưa ra danh sách tìm kiếm ở bên trái và hiển thị trực quan trên bản đồ</div>
                        </td>
                        <td class="td_img" colspan="5">
                            <img src="./assets/img/search-type.png" alt="" />
                        </td>
                    </tr>


                    <tr>
                        <td class="td_note" colspan="2">
                            <div class="left_menu_c2_title">Tìm kiếm tuyến buýt</div>
                            <br />
                            <div class="left_menu_c3_title">Khi lựa chọn tìm kiếm theo Tuyến bus thì sẽ hiển thị thông tin về xe bus đó hoặc hiển thị thông tin về những xe bus đi có lộ trình đi qua điểm bus đó. Ví dụ: Người dùng muốn biết xe bus đi qua Nhổn gồm những xe nào thì cần thao tác sau:</div>
                            <br />
                            <div class="left_menu_c3_item">Bước 1: Lựa chọn “Tuyến bus” trong Combobox tìm kiếm</div>
                            <div class="left_menu_c3_item">Bước 2: Nhập từ bàn phím “Nhổn”</div>
                            <div class="left_menu_c3_item">Bước 3: Gõ phím Enter để tìm kiếm</div>
                            <div class="left_menu_c3_item">Kết quả: Kết quả sẽ hiển thị ra danh sách những xe đi qua Nhổn ở phía bên trái màn hình</div>
                        </td>
                        <td class="td_img" colspan="8">
                            <img src="./assets/img/search-tuyen.png" />
                        </td>
                    </tr>
                    <tr>
                        <td class="td_note" colspan="2">
                            <div class="left_menu_c3_item"><i>Người dùng muốn biết chi tiết các điểm dừng chiều đi, điểm dừng chiều về, thông tin hoạt động của tuyến xe bus… thì có thể chọn vào tuyến bus đó, thông tin sẽ được hiển thị và vẽ trên bản đồ</i></div>
                        </td>
                        <td class="td_img" colspan="8">
                            <img src="./assets/img/search-tuyen-detail.png" alt="" />
                        </td>
                    </tr>

                    <tr>
                        <td class="td_note" colspan="3">
                            <div class="left_menu_c2_title">Tìm kiếm điểm dừng</div>
                            <br />
                            <div class="left_menu_c3_title">Giúp người dùng tìm kiếm thông tin các điểm dừng xe, các tuyến xe bus nào đi qua điểm dừng ở khu vực đó. Ví dụ: Người dùng muốn biết các điểm dừng ở đường Kim Mã, những tuyến bus nào đi qua điểm dừng đó thì cần thao tác sau:</div>
                            <br />
                            <div class="left_menu_c3_item">Bước 1: Lựa chọn “Điểm dừng” trong Combobox tìm kiếm</div>
                            <div class="left_menu_c3_item">Bước 2: Nhập từ bàn phím “Kim Mã”</div>
                            <div class="left_menu_c3_item">Bước 3: Gõ phím Enter để tìm kiếm</div>
                            <div class="left_menu_c3_item">Kết quả: Hiển thị dánh sách điểm dừng của xe bus (Điểm dừng của xe bus có hình  ) và cụ thể tên gọi từng điểm dừng của tuyến đó bên tay trái và hiển thị trực quan trên bản đồ</div>
                            <br />
                            <div class="left_menu_c3_item"><i>Khi người dùng chọn vào điểm dừng bên trái màn hình thì thông tin sẽ được hiển thị chi tiết về điểm dừng có những xe nào đi qua, người dùng có thể gán điểm dừng đó là Điểm xuất phát, điểm kết thúc để tìm kiếm bus.</i></div>
                        </td>
                        <td class="td_img" colspan="7">
                            <img src="./assets/img/search-station.png" />
                        </td>
                    </tr>


                    <tr>
                        <td colspan="4">
                            <div class="left_menu_c2_title">Tìm kiếm điểm bán vé xe buýt</div>

                        </td>
                        <td colspan="6">
                            <div class="left_menu_c3_title">Giúp người dùng tìm kiếm điạ điểm có chốt bán vé bus theo khu vực muốn biết</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_note" colspan="2">
                            <div class="left_menu_c2_title">Tìm kiếm điểm dịch vụ</div>
                            <br />
                            <div class="left_menu_c3_title">Giúp người dùng tìm kiếm thông tin các địa điểm có dịch vụ theo khu vực hoặc theo tên dịch vụ. Ví dụ: Người dùng muốn biết các trường học trên địa bàn Hà Nội thì cần thao tác:</div>
                            <br />
                            <div class="left_menu_c3_item">Bước 1: Lựa chọn “Điểm dịch vụ” trong Combobox tìm kiếm</div>
                            <div class="left_menu_c3_item">Bước 2: Nhập từ bàn phím “bao tang”</div>
                            <div class="left_menu_c3_item">Bước 3: Gõ phím Enter để tìm kiếm</div>
                            <div class="left_menu_c3_item">Kết quả: Các trường học sẽ được hiển thị bên trái màn hình và đánh dấu các trường học tìm được trên bản đồ (như hình).</div>
                        </td>
                        <td class="td_img" colspan="8">
                            <img src="./assets/img/search-other.png" />
                        </td>
                    </tr>
                    <tr>
                        <td class="td_note" colspan="2">
                            <div class="left_menu_c3_item"><i>Để xem chi tiết 1 số thông tin về 1 số kết quả trả về, người dùng có thể chọn vào đối tượng bên trái màn hình để hiển thị thông tin.</i></div>
                        </td>
                        <td class="td_img" colspan="8">
                            <img src="./assets/img/search-other-detail.png" alt="" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table class="guide_table" style="display: none;" id="guide_table_tkmr">
        <tr>
            <td style="width: 25%;"></td>
            <td class="left_menu_root_title">Tìm kiếm mở rộng</td>
        </tr>
        <tr>
            <td></td>
            <td class="left_menu_c1_title">1.Giới thiệu chung</td>
        </tr>
        <tr>
            <td></td>
            <td>Với tiện ích hiển thị trực quan trên bản đồ thì mỗi đối tượng sẽ có vị trí cụ thể, với dữ liệu này phần mềm cung cấp cho người dùng một công cụ truy vấn tìm kiếm các đối tượng gần xung quanh một điểm cho trước tính theo bán kính và loại địa điểm, đối tượng mà người dùng quan tâm. Với chức năng này, từ một vị trí cho trước được xác định trên bản đồ người sử dụng có thể tra cứu các điểm dừng, các điểm dịch vụ, các điểm bán vé xe buýt… có khoảng cách phù hợp với bán kính cho trước.</td>
        </tr>
        <tr>
            <td></td>
            <td class="left_menu_c1_title">2.Thao tác sử dụng</td>
        </tr>

        <tr>
            <td></td>
            <td>
                <table>
                    <tr>
                        <td class="td_note">
                            <div class="left_menu_c3_item">Bước 1: Dùng chuột phải click lên vị trí trên bản đồ địa điểm muốn tìm kiếm và chọn “ Tìm kiếm mở rộng”</div>
                            <div class="left_menu_c3_item">Bước 2: Chọn loại tìm kiếm mà người dùng muốn xem</div>
                            <div class="left_menu_c3_item">Bước 3: Nhập bán kính xung quanh điểm mà người dùng đã lựa chọn tìm kiếm trên bản đồ</div>
                            <div class="left_menu_c3_item">Bước 4: Nhấn nút "Tìm"</div>
                            <div class="left_menu_c3_item">Kết quả: Hiển thị các điểm xung quanh điểm lựa chọn trong bán kính mà người dùng muốn tìm kiếm ở phía bên trái và hiển thị trực quan trên bản đồ.</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_img">
                            <br />
                            <div class="left_menu_c3_title">Ví dụ: Người dùng muốn tìm kiếm Điểm dừng tại Hàng Bông với bán kính 600m. Kết quả hiển thị danh sách các điểm dừng xe bus trong bán kính 600m xung quanh Hàng Bông</div>
                            <img src="./assets/img/search-around-detail.png" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td class="td_img">
                            <br />
                            <div class="left_menu_c3_title">Để hiển thị chi tiết từng điểm dừng có những tuyến xe nào đi qua, xe sắp tới điểm dừng hoặc muốn gán điểm đó là điểm xuất phát hay kết thúc thì người dùng chọn điểm dừng muốn xem bên trái màn hình( có thể chọn biểu tượng trạm xe bus   trên bản đồ) để xem thông tin</div>
                            <img src="./assets/img/search-around-detail.png" alt="" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<div class="content_bottom">
    <span>©2017 - Bản quyền thuộc về <a href="http://transerco.com.vn/" target="_blank">Tổng công ty vận tải Hà Nội</a></span>
    <span> - </span>
    <span>Thiết kế và phát triển bởi <a href="http://binhanh.com.vn/" target="_blank">Công ty phát triển công nghệ điện tử Bình Anh</a></span>
</div>