<div style="height:20px;"> </div>
<div style="width: 100%; max-width: 800px; margin: auto;">
    <article class="post flex">
        <a href="" class="post__thumb"><img src="./assets/img/thumb1.png" alt=""></a>
        <div class="post__content">
            <h3><a href="">THƯ CẢM ƠN NHÂN VIÊN TUYẾN 52A</a></h3>
            <p>THƯ CẢM ƠN NHÂN VIÊN TUYẾN 52A</p>
        </div>
    </article>
    <article class="post flex">
        <a href="" class="post__thumb"><img src="./assets/img/thumb2.png" alt=""></a>
        <div class="post__content">
            <h3><a href="">	BẮT GIỮ ĐỐI TƯỢNG TRỘM CẮP TẠI ĐIỂM DỪNG XE BUÝT</a></h3>
            <p>Bắt Giữ Đối Tượng Trộm Cắp Tại Điểm Dừng Xe Buýt 549 Nguyễn Văn Cừ.</p>
        </div>
    </article>
    <article class="post flex">
        <a href="" class="post__thumb"><img src="./assets/img/thumb3.png" alt=""></a>
        <div class="post__content">
            <h3><a href="">	Bắt Giữ Đối Tượng Trộm Cắp Tại Điểm Dừng Xe Buýt Công Viên Thủ Lệ</a></h3>
            <p>Bắt Giữ Đối Tượng Trộm Cắp Tại Điểm Dừng Xe Buýt Công Viên Thủ Lệ</p>
        </div>
    </article>
</div>