<div class="container" style="padding-right: 0px; padding-left: 0px">
    <div class="row">
        <div class="col-xs-12 no-padding">
            <div class="tab">
                <a href="/timbus/build/dang-ky-ve-thang.html" class="tablinks" id="dangKyVeThang">Đăng ký<span class="hidden-xs"> vé tháng</span></a>
                <a class="tablinks active" id="traCuuThongTin">Tra cứu<span class="hidden-xs"> thông tin vé</span></a>
                <a class="tablinks" id="huongDanSuDung" href="/timbus/build/huong-dan-su-dung.html">Hướng dẫn<span class="hidden-xs"> sử dụng</span></a>
            </div>
            <div id="traCuu" class="container tabcontent">
                <form action="#" id="frmTimKiem" method="post">
                    <h3 class="text-center hidden-xs">Tra cứu thông tin đăng ký vé tháng</h3>
                    <h4 class="text-center visible-xs">Tra cứu thông tin đăng ký vé tháng</h4>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0">
                            <div class="form-group row">
                                <label class="col-xs-12 text-red padding-left-0">* Khách hàng nhập đồng thời 3 thông tin để tra cứu</label>
                            </div>
                            <div class="form-group row">
                                <label for="txtHoTen" class="col-md-3 col-xs-12 required no-padding form-label-align">Họ tên</label>
                                <div class="col-md-9 col-xs-12 no-padding">
                                    <input type="text" class="form-control" id="txtHoTen" name="txtHoTen" placeholder="Nhập vào đầy đủ họ tên mà bạn đã đăng ký">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txtNgaySinh" class="col-md-3 col-xs-12 required no-padding form-label-align">Ngày sinh</label>
                                <div class="col-md-9 col-xs-12 no-padding">
                                    <div class='input-group date' id='dtpNgaySinh'>
                                        <input type='text' class="form-control" id="txtNgaySinh" name="txtNgaySinh" placeholder="Ngày/Tháng/Năm" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txtDienThoai" class="col-md-3 col-xs-12 required no-padding form-label-align">Điện thoại</label>
                                <div class="col-md-9 col-xs-12 no-padding">
                                    <input type="text" class="form-control" id="txtDienThoai" name="txtDienThoai" placeholder="Nhập vào số điện thoại mà bạn đã dùng để đăng ký">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txtDienThoai" class="col-md-3 col-xs-12 required no-padding form-label-align">Mã xác thực</label>
                                <div class="col-md-9 col-xs-12 no-padding">
                                    <img id="imgCatchaValidate" name="imgCatchaValidate" src="./assets/img/captchaImg.aspx" class="img-responsive" />
                                    <input id="txtCaptcha" name="txtCaptcha" class="form-control" placeholder="Nhập mã xác thực bên trên" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-9 col-md-offset-3 col-xs-12 no-padding required">
                                    <button type="submit" class="btn btn-primary" id="btnTimKiem">Tìm kiếm</button>
                                </div>
                            </div>

                            <div class="ket-qua-tim-kiem">
                                <hr />
                            </div>
                            <div class="form-group row ket-qua-tim-kiem">
                                <label class="col-md-3 col-xs-12 no-padding form-label-align">Trạng thái: </label>
                                <div class="col-md-9 col-xs-12 no-padding row-bottom-dashed">
                                    <span id="lblTrangThai" class="text-bold text-uppercase"></span>
                                </div>
                            </div>
                            <div class="form-group row  ket-qua-tim-kiem noi-dung-can-bo-sung">
                                <label class="col-md-3 col-xs-12 no-padding form-label-align">Nội dung cần bổ sung: </label>
                                <div class="col-md-9 col-xs-12 no-padding row-bottom-dashed">
                                    <span id="lblNoiDungBoSung" class="text-bold text-uppercase text-red"></span>
                                </div>
                            </div>
                            <div class="form-group row ket-qua-tim-kiem">
                                <label class="col-md-3 col-xs-12 no-padding no-padding form-label-align">Ngày nhận thẻ: </label>
                                <div class="col-md-9 col-xs-12 no-padding row-bottom-dashed">
                                    <span id="lblNgayNhanThe"></span>
                                </div>
                            </div>
                            <div class="form-group row ket-qua-tim-kiem">
                                <label class="col-md-3 col-xs-12 no-padding no-padding form-label-align">Điểm nhận thẻ: </label>
                                <div class="col-md-9 col-xs-12 no-padding row-bottom-dashed">
                                    <span id="lblDiemNhanThe"></span>
                                </div>
                            </div>
                            <div class="form-group row ket-qua-tim-kiem">
                                <div class="col-xs-12  no-padding">
                                    <span id="lblNoiDungThongBao" class="text-red"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>