.image-preview-input {
  position: relative;
  overflow: hidden;
  margin: 0px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.image-preview-input input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.image-preview-input-title {
  margin-left: 2px;
}

hr {
  height: 4px;
  margin-left: 0px;
  margin-bottom: 14px;
}

.hr-primary {
  background-image: -webkit-linear-gradient(left, rgba(15,157,88,.8), rgba(15, 157, 88,.6), rgba(0,0,0,0));
}

.control-label span {
  color: red;
}

.input-controls-container {
  background-color: #fff;
  background-image: none;
  /*border: 1px solid #ccc;*/
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  display: block;
  font-size: 14px;
  padding: 0;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}

.input-controls-container .form-control {
  /*border: 0;*/
  /*height: 32px;*/
}

.input-controls-container.expand .form-control {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: auto;
}

.form-group input[type="checkbox"] {
  display: none;
}

.form-group input[type="checkbox"] + .btn-group > label {
  white-space: normal;
}

.form-group input[type="checkbox"] + .btn-group > label.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.form-group input[type="checkbox"] + .btn-group > label.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.form-group input[type="checkbox"] + .btn-group > label.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.form-group input[type="checkbox"] + .btn-group > label.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.form-group input[type="checkbox"] + .btn-group > label.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.form-group input[type="checkbox"] + .btn-group > label.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.form-group input[type="checkbox"] + .btn-group > label.btn-link {
  font-weight: normal;
  color: #428bca;
  border-radius: 0;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
  display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child + span {
  display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
  display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child + span {
  display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span[class*="fa-"] {
  width: 15px;
  float: left;
  margin: 4px 0 2px -2px;
}

.form-group input[type="checkbox"] + .btn-group > label span.content {
  margin-left: 10px;
}

.text-pad-exam {
  padding-left: 10px;
}
/* --------------- Responsive Fixes --------------- */
/* small device */
@media (max-width: 767px) {
  .device-big {
    display: none;
  }

  .device-small {
    display: block;
  }
}
/* big device */
@media only screen and (min-width : 768px) {
  .device-big, .tab-content > .tab-pane {
    display: block;
  }

  .device-small {
    display: none;
  }

  .tab-content > .tab-pane {
    display: block;
  }
}
/* --------------- / Responsive Fixes --------------- */
input[type="text"], input[type="email"], input[type="search"], input[type="password"], input[type="number"], input[type="tel"], textarea.form-control {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  /*-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2) inset;*/
  /*-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2) inset;*/
  /*box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2) inset;*/
  -webkit-appearance: none;
  /*background-color: #f3f3f3;*/
  border: 1px solid #ced4da;
  font-size: 14px;
  outline: none !important;
  padding: 10px 9px 11px 9px;
  width: 100%;
  height: inherit;
}

input[type="text"]:active, input[type="text"]:focus, input[type="email"]:active, input[type="email"]:focus, input[type="search"]:active, input[type="search"]:focus, input[type="password"]:active, input[type="password"]:focus, input[type="number"]:active, input[type="number"]:focus, input[type="tel"]:active, input[type="tel"]:focus, textarea.form-control:active, textarea.form-control:focus {
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
}

input[type="text"]:hover, input[type="email"]:hover, input[type="search"]:hover, input[type="password"]:hover, input[type="number"]:hover, input[type="tel"]:hover, textarea.form-control:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

.iradio {
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: #f3f3f3;
  height: 20px;
  margin-right: 10px;
  position: relative;
  width: 20px;
  top: -1px;
}

.iradio:after {
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  content: "";
  background-color: #2a2a2a;
}

.iradio.checked:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.checkbox.checbox-switch {
  padding-left: 0;
}

.checkbox.checbox-switch label,
.checkbox-inline.checbox-switch {
  display: inline-block;
  position: relative;
  padding-left: 0;
}

.checkbox.checbox-switch label input,
.checkbox-inline.checbox-switch input {
  display: none;
}

.checkbox.checbox-switch label span,
.checkbox-inline.checbox-switch span {
  width: 35px;
  border-radius: 20px;
  height: 18px;
  border: 1px solid #dbdbdb;
  background-color: rgb(255, 255, 255);
  border-color: rgb(223, 223, 223);
  box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;
  transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.checkbox.checbox-switch label span:before,
.checkbox-inline.checbox-switch span:before {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgb(255,255,255);
  content: " ";
  top: 0;
  position: relative;
  left: 0;
  transition: all 0.3s ease;
  box-shadow: 0 1px 4px rgba(0,0,0,0.4);
}

.checkbox.checbox-switch label > input:checked + span:before,
.checkbox-inline.checbox-switch > input:checked + span:before {
  left: 17px;
}

/* Switch Success */
.checkbox.checbox-switch.switch-success label > input:checked + span,
.checkbox-inline.checbox-switch.switch-success > input:checked + span {
  background-color: rgb(40, 167, 69);
  border-color: rgb(40, 167, 69);
  box-shadow: rgb(40, 167, 69) 0px 0px 0px 8px inset;
  transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}

.checkbox.checbox-switch.switch-success label > input:checked:disabled + span,
.checkbox-inline.checbox-switch.switch-success > input:checked:disabled + span {
  background-color: rgb(153, 217, 168);
  border-color: rgb(153, 217, 168);
  box-shadow: rgb(153, 217, 168) 0px 0px 0px 8px inset;
}

.highlight {
  border: 1px solid red;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 9999;
  margin:auto;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.formTitle {
  /*border-top: 2px solid #bfbfbf;
  border-bottom: 2px solid #bfbfbf;*/
  width: auto;
  padding: 10px 15px 10px 0px;
  /*margin-top: 15px;*/
  text-transform: uppercase;
  color: #1e5387;
  font-weight: bold;
  margin: 0px 0px;
  background-color: #edefee;
  text-align: center;
}

label {
  /*font-weight: normal;*/
  color: #1e5387;
  font-weight: bold;
}

.formRangeBolder {
  padding: 15px 15px 0;
}

