/* Style the tab */
@font-face {
  font-family: Glyphicons Halflings;
  src: url('../fonts/glyphicons-halflings-regular.ttf');
}
.tab {
  float: left;
  width: 100%;
  height: auto;
}

.combobox-fix {
  height: 100%;
}

.anh-mau {
  text-decoration: underline;
  cursor: pointer;
}

.mytooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.mytooltip .mytooltiptext {
  visibility: hidden;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 140%;
  left: 50%;
  margin-left: -93px;
}

.mytooltip .mytooltiptext:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.mytooltip:hover .mytooltiptext {
  visibility: visible;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  white-space: normal;
  height: 100%;
}
/* Style the buttons inside the tab */
.tab a {
  display: inline-block;
  color: black;
  padding: 8px 10px;
  width: auto;
  border: 1px solid #ddd;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
  border-radius: 5px 5px 0px 0px;
  background: #f5f5f5;
}

/* Change background color of buttons on hover */
.tab a:hover,
.tab a.active {
  background-color: #5496cf;
  color: white;
  text-decoration: none;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px;
  border: 1px solid #5496cf;
  width: 100%;
  height: auto;
  min-height: 300px;
}

.tablinks {
  text-decoration: none;
}

.cot-phai {
  padding: 10px 5px;
}

.cot-trai {
  padding: 10px 5px;
}

label {
  font-weight: normal;
}

.no-radius {
  border-radius: 0px !important;
}

.no-padding {
  padding: 0px !important;
}

.fix-heading {
  border-radius: 0px !important;
}

.fix-heading h4 {
  font-weight: 700 !important;
}

.fix-heading h5 {
  margin: 0;
  font-weight: bold;
}

.fix-panel-body {
  padding: 10px 5px !important;
}

label.required:after {
  content: "(*)";
  color: #a94442;
  padding-left: 2px;
}

.space-top-5 {
  margin-top: 5px;
}

.fix-alert {
  margin-bottom: 0px !important;
  margin-top: 20px;
}

.text-italic {
  font-style: italic;
}

#imgManager {
  width: 100%;
  height: 100%;
}

#tienTem,
#tienShip {
  font-weight: bold;
}

.padding-right-0 {
  padding-right: 0px !important;
}

.padding-left-0 {
  padding-left: 0px !important;
}

.thangTem {
  font-family: inherit;
}

.text-bold {
  font-weight: bold !important;
}

.padding20 {
  padding: 20px !important;
}

.linkToTab {
  text-decoration: underline;
  cursor: pointer;
}

.text-red {
  color: red;
  font-weight: bold !important;
}

label.form-label-align {
  text-align: left;
  font-weight: bold !important;
}

.popover {
  max-width: none !important;
}

.coTheHuy {
  font-size: inherit;
}

.cot-trai .header {
  text-align: center;
  color: white;
  background-color: #0058a0;
  padding: 20px 10px 10px 10px;
  margin: 0px;
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
}

.cot-trai .header p {
  font-size: 14px;
  font-weight: normal;
  text-transform: none;
  font-style: italic;
}

.cot-trai .header p a {
  color: white;
}

.cot-phai .header {
  text-align: center;
  color: white;
  background-color: #f8931d;
  padding: 20px 10px 10px 10px;
  margin: 0px;
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #efeded;
}

.ui-widget.ui-widget-content {
  background: #fff !important;
}

.has-error .form-control {
  border-color: #a94442 !important;
}

.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
/* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
* html .ui-autocomplete {
  height: 200px;
}

.modal-dialog {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

.modal-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0;
  box-shadow: none;
  background: transparent;
}

.modal-body {
  position: absolute;
  top: 30%;
  width: 100%;
  font-weight: 300;
  overflow: auto;
}

.btn-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -100px;
  width: 200px;
}
@media only screen and (max-width: 780px) {
  #toTop {
    background: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    bottom: 8px;
    color: #333;
    cursor: pointer;
    display: none;
    font-size: 11px;
    padding: 18px;
    position: fixed;
    right: 8px;
    text-align: center;
  }

  #toTop::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent #198708; /*Đổi #198708 bằng mã màu bạn muốn*/
    border-image: none;
    border-style: solid;
    border-width: 11px;
    content: "";
    height: 0;
    left: 7px;
    position: absolute;
    top: -4px;
    width: 0;
  }

  #toTop::after {
    background-color: #198708;
    content: "";
    height: 12px;
    left: 13px;
    position: absolute;
    top: 18px;
    width: 10px;
  }

  .tab a {
    display: inline-block !important;
  }
}
/*Phần dành cho mobile màn hình <= 320px*/
@media only screen and (max-width: 320px) {
  #frmDangKyThe label {
    font-size: 11px;
  }
}


#traCuu {
  padding: 10px 5px;
}

.row-bottom-dashed {
  border-bottom:1px dashed #dadada;
}
.row-bottom-dashed label {
  font-weight: bold;
}
.ket-qua-tim-kiem {
  display: none;
}
.noi-dung-can-bo-sung {
  display: none;
}

.guide-listing .panel-group .panel-heading .panel-title a {
  display: inline-flex;
  font-size: 14px;
  padding: 5px;
  width: 94%;
  text-decoration: none;
}

.guide-listing .panel-default .panel-body a {
  color: #333;
  display: inline-flex;
  font-size: 14px;
  padding: 5px;
  text-align: left;
  width: 95%;
}

.guide-listing .panel-group .panel-default .panel-body {
  background: #eaeaea none repeat scroll 0 0;
  padding: 5px 15px 5px 30px;
}

.guide-listing .panel-group .panel-body .panel-body {
  background: #f5f5f5 none repeat scroll 0 0;
}

.guide-listing .panel-default .panel-collapse .panel-body .checkbox {
  margin: 5px;
}

.guide-listing .accordian-arrow {
  color: #0058a0;
  height: 15px;
  margin-left: -5px;
  margin-right: 5px;
  padding: 1px 2px;
  position: relative;
  transition: all 0.3s ease-in-out 0s;
  width: 14px;
  text-align: center;
  font-size: 10px;
}

.hideOverflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}


.guide-listing .collapsed .accordian-arrow .fa-plus, .guide-listing .accordian-arrow .fa-minus {
  display:block;
}

.guide-listing .accordian-arrow .fa-plus, .guide-listing .collapsed  .accordian-arrow .fa-minus {
  display:none;
}

.nested-accordion .panel-group .panel-body li .panel .panel-heading {
  padding: 5px;
}

.nested-accordion .panel-body li .panel-group .panel-collapse .panel-body {
  padding: 5px 15px;
}
.panel-group {
  margin-bottom: 0px !important;
}
.panel-heading {
  padding: 5px !important;
}
.panel-group .panel {
  border-radius: 0px;
}
.footer {
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
  .guide-listing img {
    width: 100% !important;
    height: auto !important;
  }
}

