
body{margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
b{ font-weight:bold;}
a img {	border:none;}
img{max-width: 100%;}
label { font-weight:bold; }
fieldset { margin:0; padding:0; border:1px solid #ccc; }
legend { font-weight:bold; font-size:1.2em; }
input[type=text], input[type=password], textarea, select {margin:0 5px 0 0; padding:2px 5px;}
textarea { padding:5px; }
input[type=checkbox], input[type=radio] { position:relative; top:.1em !important; }
input[type=submit] {margin-top:0;}

/* typography.css ------------------------------------------------------------------------------------------------*/
h1 { font-size:48px; margin-bottom:0.5em; }
h2 { font-size:36px; margin-bottom:0.75em; }
h3 { font-size:24px; line-height:1; margin-bottom:1em; }
h4 { font-size:18px; line-height:1.25; margin-bottom:1.25em; }
h5 { font-size:16px; font-weight:bold; margin-bottom:1.5em; }
h6 { font-size:14px; font-weight:bold; }
h1 img, h2 img, h3 img, h4 img {margin:0;}
p {	margin:0 0 1em;}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
.clr-99{
  color:#999;
}
/*icon style*/
.icon-password{
  background:url('#{$img-path}/icon.png') no-repeat;
  width:16px;
  height:16px;
  display:inline-block;
  background-position:0 -21px;
  vertical-align:top;
}
.icon-accout{
  background:url('#{$img-path}/icon.png') no-repeat;
  width:16px;
  height:16px;
  display:inline-block;
  background-position:0 -42px;
  vertical-align:top;
}
.icon-logout{
  background:url('#{$img-path}/icon.png') no-repeat;
  width:16px;
  height:16px;
  display:inline-block;
  background-position:0 -69px;
  vertical-align:top;
}
.opt-way{
  background:url('#{$img-path}/icon.png') no-repeat;
  width:23px;
  height:59px;
  display:inline-block;
  background-position:0 -95px;
  vertical-align:top;
}
.opt-way-way{
  background:url('#{$img-path}/icon.png') no-repeat;
  width:21px;
  height:30px;
  display:inline-block;
  background-position:0 -166px;
  vertical-align:top;
}

/*form search*/
.form-search-way
{
  padding:30px 10px 0 10px;
}
.form-item{
  margin-bottom:10px;
}
.form-item label{
  float:left;
  width:100px;
  font-weight:normal;
  font-size:13px;
}
input.input-text{
  border:1px solid #e0e0e0;
  padding:7px 5px;
  color:#333;
  width:170px;
}
/* Header Style ------------------------------------------------------------------------------------------------*/
#header{
  background:url('#{$img-path}/header.png') repeat-x left bottom;
  min-height:80px;
  border-bottom:1px solid #4692d0;
  width:100%;
  position:fixed;
  z-index:99;
}
.logo-hanoibus{
  float:left;
  padding:0;
  margin-left:10px;
}
/*Box nav menu*/
.nav-menu-login{
  float:right;
}
.nav-menu ul{
  margin:0;
  padding:0;
  list-style:none;
  margin-top:35px;
  margin-right:20px;
}
.nav-menu ul li{
  float:left;
  color:#FFF;
  padding:0 15px;
}
.nav-menu ul li.sub-nav-menu{
  position:relative;
}
.nav-menu ul li.sub-nav-menu:hover{
  cursor:pointer;
}
.nav-menu ul li .more-link{
  background:#FFF;
  width:160px;
  position:absolute;
  top:26px;
  right:-68px;
  display:none;
}
.nav-menu ul li .sub-nav{
  padding:0;
  margin:0;
  position:relative;
  background:#FFF;
}
.nav-menu ul li .more-link li{
  float:none;
  padding:5px 5px;
  border-bottom:1px solid #ebebeb;
}
.nav-menu ul li .more-link li i{
  margin-right:5px;
}
.nav-menu ul li .more-link li a{
  color:#333;
  text-decoration:none;
}
.nav-menu ul li .more-link li a:hover{
  color:#02549e;
  text-decoration:none;
}
.nav-menu ul li.sub-nav-menu:hover .more-link{
  display:block;
}
.nav-menu ul li a{
  color:#FFF;
  text-decoration:none;
}
.more_button{
  background:url('#{$img-path}/icon.png') no-repeat;
  width:11px;
  height:11px;
  display:inline-block;
}
.arrow{
  width:0;
  height:0;
  border:8px solid transparent;
  border-bottom:8px solid #FFF;
  position:absolute;
  top:-16px;
  left:40%;
  display:block;
}
/*box search*/
.box-search{ float:left;}

.search-block{
  background:#FFF;
  margin-left:5px;
  height:25px;
  margin-top:15px;
}

.select-opt {
  position:relative;
  background:url('#{$img-path}/bg-opt.png') repeat-x left bottom #ffffff;
  height:26px;
  min-width:115px;
  display:inline-block;
  border-right:1px solid #e0e0e0;
}
.select-opt select{
  margin:0;
  background:none;
  border:none;
  width:100%;
  padding:5px;
  height:25px;

}
.select-opt select option{
  line-height:26px;
}
.select-opt:after {
  content:'â–¾';
  font:22px "Consolas", monospace;
  color:#999;
  -webkit-transform:rotate(0);
  -moz-transform:rotate(0);
  -ms-transform:rotate(0);
  transform:rotate(0);
  right:6px;
  top:0;
  padding:0 0 2px;
  border-bottom:none;
  position:absolute;
  pointer-events:none;
}
.select-opt:before {
  content:'';
  right:0;
  top:1px;
  width:25px;
  height:25px;
  background:url('#{$img-path}/bg-opt.png') repeat-x left bottom #ffffff;
  position:absolute;
  pointer-events:none;
  display:block;
}
.input-Search{
  width:90%;
}
.input-search-none{
  background:none !important;
}
.box-search-item{
  border:1px solid #e0e0e0;
  float:left;
  background:#FFF;
}

.search-btn{
  background-color: #E1E1E1;
  border:none;
  height:28px;
  display:inline-block;
  border:none;
  cursor:pointer;
}


/* Panel Left Style ------------------------------------------------------------------------------------------------*/
#panel-search-left{
  background:#FFF;
  width:370px;
  position:fixed;
  left:0;
  top:0;
  padding-top:90px;
  height:100%;
  z-index:0;
  border-right:1px solid #9d9d9d;
}
.panel-content{
  position:relative;
}
.panelarrow2{
  position:absolute;
  right:0;
  top:-17px;
  cursor:pointer;
}
label.select-opt-form {
  position:relative;
  background:#ffffff;
  height:28px;
  width:190px;
  display:inline-block;
  border:1px solid #e0e0e0;
}
.select-opt-form select{
  margin:0;
  background:none;
  border:none;
  width:100%;
  padding:5px;
  height:28px;
}
.select-opt-form select option{
  line-height:28px;
}
.select-opt-form:after {
  content:'â–¾';
  font:22px "Consolas", monospace;
  color:#999;
  -webkit-transform:rotate(0);
  -moz-transform:rotate(0);
  -ms-transform:rotate(0);
  transform:rotate(0);
  right:6px;
  top:1px;
  padding:0 0 2px;
  border-bottom:none;
  position:absolute;
  pointer-events:none;
}
.select-opt-form:before {
  content:'';
  right:0;
  top:0;
  width:25px;
  height:28px;
  background:#FFF;
  position:absolute;
  pointer-events:none;
  display:block;
}

.form-search-item{
  position:relative;
}
.option-way .fl{
  position:absolute;
  top:7px;
  right:20px;
}
.option-way .fr{
  position:absolute;
  top:22px;
  right:-5px;
}
.btn-block{
  text-align:right;

}
.input-form .search-btn{
  width:100px;
}

.results-form{
  border-top:1px solid #ebebeb;
  margin-left:-20px;
  margin-right:-20px;
  max-height:320px;
  overflow:auto;
}
/*Tabs 2*/
#content_2 h4{
  font-size:12px;
  font-weight:normal;
  margin-bottom:10px;
}
.content-tabs2{
  max-height:450px;
  overflow:auto;
  padding:20px 0;
}
.list-resust-search{
  padding:0;
  margin:0;
  list-style:none;
}
.list-resust-search td{
  padding-bottom:10px;
}
.list-resust-search td .icon{
  float:left;
  margin-right:5px;
}
.result-search{
  padding-left:22px;
}
.result-search a{
  color:#333;
  font-weight:bold;
  text-decoration:none;
}
/* Footer ------------------------------------------------------------------------------------------------*/
.footer{
  background:url('#{$img-path}/logo-footer.png') no-repeat left center;
  padding:5px;
  font-size:11px;
  text-align:right;
  border-top:1px solid #ebebeb;
}

.footer p{
  margin-bottom:5px;
  color:#999;
}
.footer a{
  text-decoration:none;
  color:#0072bc;
}


.register-bound {
  width: 900px;
  margin: auto;
  padding: 20px 0 20px 0;
}
.feedback-menuitem-none a{color: #fff !important;}
.feedback-menuitem-sub-none a{color: #575757 !important;}
.feedback-menuitem-sub-selected a{color: #000 !important;}

.register-bound-all {
  width: 100%;
  margin: auto;
  padding: 20px 0 20px 0;
}
.anh-mau {
  text-align: inherit;
}
.custom-combobox {
  position: relative;
  display: inline-block;
}
.custom-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
}
.custom-combobox-input {
  margin: 0;
  padding: 5px 10px;
}
.has-error .form-control {
  border-color: #a94442 !important;
}


#tabbed_box_1 {
  margin: 0px auto 0px auto;
  width:300px;
}
.tabbed_box h4 {
  font-family:Arial, Helvetica, sans-serif;
  font-size:23px;
  color:#ffffff;
  letter-spacing:-1px;
  margin-bottom:10px;
}
.tabbed_box h4 small {
  color:#e3e9ec;
  font-weight:normal;
  font-size:9px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  text-transform:uppercase;
  position:relative;
  top:-4px;
  left:6px;
  letter-spacing:0px;
}
.tabbed_area {
  border:1px solid #494e52;
  background-color:#636d76;
  padding:8px;
}

ul.tabs {
  margin:0px; padding:0px;
  margin-top:10px;
  padding-left:0px;
}
ul.tabs li {
  list-style:none;
  display:inline-block;
  float: left;
}
ul.tabs li#lft-hdr-li-rs{
  margin-left:-10px;
}
ul.tabs li a {
  background:url('#{$img-path}/tabs-normal.png') no-repeat left bottom;
  color:#333;
  text-decoration:none;
  display:block;
  width:171px;
  height:46px;
  line-height:60px;
  text-align:center;
  font-size:14px;
}
ul.tabs li a:hover, ul.tabs li a.active {
  background:url('#{$img-path}/tabs-active.png') no-repeat left bottom;
  color:#FFF;
}
.content {
  background:url('#{$img-path}/tabs-content.png') repeat-x left top #FFF;
  padding:10px;

}
#content_2, #content_3 { display:none; }

.x-menu-bound{
  position:absolute;
}
/*CSS for top menu*/
.x-menu-bound-top{

}
.x-menu-bound-top-left{
  float:left;
  background-image:url('#{$img-path}/bound_top_left.png') !important;
}
.x-menu-bound-top-midd{
  float:left;
  background-image:url('#{$img-path}/bound_top_mid.png');
}
.x-menu-bound-top-right{
  float:right;
  background-image:url('#{$img-path}/bound_top_right.png') !important;
}
/*CSS for content menu*/
.x-menu-bound-content{

}
.x-menu-bound-content-left{
  float:left;
  background-image:url('#{$img-path}/bound_content_left.png') !important;
}
.x-menu-bound-content-midd{
  float:left;
  background-image:url('#{$img-path}/bound_content_mid.png');
  background-color:#FFFFFF;
}
.x-menu-bound-content-right{
  float:right;
  background-image:url('#{$img-path}/bound_content_right.png') !important;
}
/*CSS for bottom menu*/
.x-menu-bound-bottom{

}
.x-menu-bound-bottom-left{
  float:left;
  background-image:url('#{$img-path}/bound_bottom_left.png') !important;
}
.x-menu-bound-bottom-midd{
  float:left;
  background-image:url('#{$img-path}/bound_bottom_mid.png');
}
.x-menu-bound-bottom-right{
  float:right;
  background-image:url('#{$img-path}/bound_bottom_right.png') !important;
}
.x-menu-clear{
  clear:both;
}


/*CSS for items menu*/
.x-menu-items{
  /*padding:5px 0 0 5px;*/
  width:100%;
  cursor:pointer;
  position:relative;
}
.x-menu-items-icon {
  float: left;
  background-image: url('#{$img-path}/arrow.gif');
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center right;
}
.x-menu-items-text{
  float:left;
  font-family:Tahoma;
  font-size:11px;
  padding:2px 0 0 5px;
  z-index:1;
  line-height:20px;
}
.x-menu-items-text-disabled{
  float:left;
  font-family:Tahoma;
  font-size:11px;
  color:#aca899;
  padding:2px 0 0 5px;
  z-index:1;
}
.x-menu-items-arrow{
  float:left;
  background-image:url('#{$img-path}/menu-arrow.png') !important;
  z-index:1;
}
.x-menu-separator{
  background-image:url('#{$img-path}/menu-separator.png') !important;
}
.x-menu-items-event{
  position:absolute;
  top:0px;
  left:0px;
  z-index:2;
  background-color:#FFFFFF;
  filter:alpha(opacity=1);
  -moz-opacity: 0.01;
  opacity: 0.01;
}

/*CSS test*/
.x-menu-items-home{
  background-image:url('#{$img-path}/home.gif') !important;
}

.jcarousel-skin-default .jcarousel-vertical, .jcarousel-skin-default .ver-ti-cal {
  position: relative;
  overflow: hidden;
  width: 332px;
  height: 265px;
  padding: 2px;
}

.jcarousel-skin-default .jcarousel-vertical ul, .jcarousel-skin-default .ver-ti-cal ul {
  width: 100%;
  height: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0px;
}

.jcarousel-skin-default .jcarousel-vertical li, .jcarousel-skin-default .ver-ti-cal li {
  margin: 0;
  padding: 0;
  border: solid 1px #ACACAC;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
}

/** Custom **/

.jcarousel-skin-default li img {
  border: 0;
  display: block;
}


.adv-item-nm
{
  font-size:12px;
  line-height:16px;
  font-weight:bold;
  color:#333333;
  padding:2px 0 0 4px;
}
.adv-item-ad
{
  font-size:12px;
  line-height:16px;
  padding:2px 0 0 4px;
}
.adv-item-mb
{
  font-size:12px;
  line-height:16px;
  padding:2px 0 0 4px;
}
.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  /* add padding to account for vertical scrollbar */
  padding-right: 20px;
}

body, html
{
  font-family:Tahoma;
}
.x-title-func
{
  font-size:16px;
  font-weight:bold;
  padding:5px 0 5px 5px;
  border-bottom:solid 1px #fba80d;
  cursor:pointer;
}
.x-title-03
{
  font-size:14px;
  font-weight:bold;
  line-height:18px;
  padding:4px 0 4px 0;
}
.x-content-03
{
  font-size:12px;
  line-height:18px;
}
.x-image-03
{
  border:0;
  text-align:center;
}
.x-title-04
{
  font-size:13px;
  font-weight:bold;
  line-height:18px;
  padding:2px 0 2px 0;
}
.x-title-05
{
  font-size:13px;
  font-weight:bold;
  line-height:18px;
  font-style:italic;
  color:#00781d;
  padding:2px 0 2px 0;
}

/*------------------------------------------*/

.m-fleet-bound
{
  border-right:solid 1px #DBDBDB;
  border-bottom:solid 1px #DBDBDB;
  border-spacing: 0;
  width: 90%;
  text-align: center;
}

.m-fleet-bound tr td {
  padding: 5px;
}

/*------------------------------------------*/



.m-fleet-title
{
  font-size:13px;
  font-weight:bold;
  line-height:18px;
  background-color:#60A7E1;
  padding:5px 0 5px 10px;
  color:White;
  text-transform: uppercase;
}

.m-fleet-title span {
  color: red;
  font-style: italic;
  font-weight: normal;

}

.m-fleet-item-title
{
  font-size:13px;
  padding:3px 0 3px 10px;
  border-left:solid 1px #DBDBDB;
  border-bottom:solid 1px #DBDBDB;
  font-weight:bolder;
}
.m-fleet-item-content
{
  font-size:13px;
  padding:3px 0 3px 10px;
  border-left:solid 1px #DBDBDB;
  border-bottom:solid 1px #DBDBDB;
}
.m-article-item-title
{
  font-size:13px;
  font-weight:bold;
  padding:3px 0 3px 10px;
  border-top:dotted 1px #DBDBDB;
  cursor:pointer;
  text-decoration:none;
}
.m-article-item-title a
{
  font-size:13px;
  text-decoration:none;
  color:#00559E;
}
.m-article-item-title a:hover
{
  font-size:13px;
  text-decoration:underline;
}
.m-article-item-content
{
  font-size:12px;
  font-style:italic;
  padding:3px 0 10px 15px;
}

.txtRoad-back-search , .txtRoad-go-search {
  text-align: left;
}

body, html
{
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  font-family: Arial,Tahoma ;
  font-size: 12px;
}

table {
  width: 100%;
  border: none;
  border-spacing: 0; /* cellspacing */
}

/*Layout trái phải*/

table tr td {
  padding: 0;
}

.content_top {
  width: 100%;
  position: fixed;
}

.content_left {
  width: 20%;
  margin-bottom: 50px;
  position: fixed;
  top: 80px;
}

.content_right {
  width: 100%;
  float: right;
  margin-bottom: 50px;
  margin-top: 10px;
  margin-right: 10px;
}

.content_bottom {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 10px 0;
  text-align: center;
  background-color: #5496CF;
  color: #fff;
}

.content_bottom span a {
  font-weight: bolder;
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

a ,a:hover,a:visited {
  text-decoration: none;
  color: #31ACE2;
}

.left_menu_root {
  margin-top: 10px;
  width: 100%;
  float: right;
  padding: 10px;
}

.left_menu_root_title {
  font-size: 1.1em;
  font-weight: bolder;
  color:#fff;
  background-color: #00A651;
  padding: 5px;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;

}

.left_menu_root_item {
  font-size: 1.1em;
  padding: 5px;
}

.left_menu_c1_title {
  font-size: 1.1em;
  font-weight: bolder;
  margin-left: 10px;
  color: #0059A0;
  padding: 4px;
  cursor: pointer;
}


.left_menu_c1_item {
  font-size: 1.1em;
  margin-left: 10px;
  padding: 4px;
}
.left_menu_c2_title {
  margin-left: 20px;
  padding: 3px;
  color: #0059A0;

}

.left_menu_c2_item {
  margin-left: 20px;
  padding: 3px;
}

.left_menu_c3_title {
  font-weight: bolder;
  margin-left: 30px;
  padding: 2px;
}

.left_menu_c3_item {
  margin-left: 30px;
  padding: 2px;
}

.focus_underline {
  text-decoration: underline;
}
table#MainTable {
  border-collapse: separate;
  border-spacing: 5px;
}
.guide_table {

}


.guide_table img {
  width: 100%;
  margin: auto;
  border: 2px solid #0059A0;
}

.td_img {
  text-align: center;
}

.td_note{
  vertical-align: top;
}


.post{
  img{max-width: 100%;}
  padding: 15px 0;
  border-bottom: 1px dotted #ccc;
  &:last-child{border-bottom: none;}
  &__thumb{width: 145px;}
  &__content{width: calc(100% - 145px); padding-left: 30px;}
  h3{font-size: 16px; font-weight: 700;}
  p{font-size: 16px; font-style: italic;}
}

#fleet_searchTable {
  width: 90%;
  padding: 10px 0;
  margin: auto auto 10px;
}
#fleet_searchTable input[type="text"] {
  width: 90%;
}
#fleet_searchTable tr td:nth-child(odd) {
  width: 10%;
  text-align: center;
  font-weight: bolder;
}