body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.x-warning-web-browser {
  border: solid 1px #FBA80D;
  text-align: center;
  padding: 10px 0 10px 0;
  background-color: #FEF5E9;
  z-index: 1000;
}

.x-warning-web-browser a {
  color: Blue;
  text-decoration: none;
}

.x-warning-web-browser a:hover {
  color: Blue;
  text-decoration: none;
}

.x-warning-web-browser-close {
  position: absolute;
  width: 16px;
  height: 16px;
  cursor: pointer;
  z-index: 1001;
}

.ui-header {
  height: 54px;
}

.ui-top-menu-option {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-image: url('#{$img-path}/menu-opt.png');
}

.ui-top-menu-item {
  font-family: Arial;
  font-size: 1.1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.ui-top-menu-item a {
  color: #FFF;
  text-decoration: none;
}

.ui-top-menu-item a:visited {
  color: #FFF;
  text-decoration: none;
}

.ui-top-menu-item a:hover {
  color: #FFF;
  text-decoration: none;
}

.ui-top-hotline {
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  vertical-align: bottom;
  padding-bottom: 4px;
  color: #ffffff;
}

.ui-top-menu-arw {
  position: absolute;
  right: 200px;
  top: 61px;
  width: 20px;
  height: 10px;
  overflow: hidden;
  background-image: url('#{$img-path}/menu-arrow.png');
  z-index: 11;
}

.ui-top-menu-bnd {
  position: absolute;
  right: 100px;
  top: 70px;
  width: 220px;
  height: 78px;
  direction: ltr;
  overflow: hidden;
  text-align: left;
  color: rgb(0, 0, 0);
  background: none repeat scroll 0 0 rgb(255, 255, 255);
  border: solid 1px #CCCCCC;
  z-index: 10;
  text-decoration: none;
}

.ui-top-menu-bnd a {
  text-decoration: none;
}

.ui-top-menu-itm {
  font-family: Arial;
  font-size: 12px;
  padding: 5px 0 5px 10px;
  cursor: pointer;
  text-decoration: none;
}

.ui-top-menu-itm:hover {
  background-color: #F8F8F8;
  text-decoration: none;
}

.ui-top-menu-itm a {
  text-decoration: none;
}

.m-b-h {
  position: absolute;
  height: 5px;
  width: 100%;
  border-top: solid 1px #ACACAC;
  z-index: 5;
  top: 0;
}

.m-b-h-o1 {
  position: absolute;
  background-color: #000000;
  height: 1px;
  opacity: 0.05;
  filter: alpha(opacity=5);
  width: 100%;
}

.m-b-h-o2 {
  position: absolute;
  background-color: #000000;
  height: 2px;
  opacity: 0.04;
  filter: alpha(opacity=4);
  width: 100%;
}

.m-b-h-o3 {
  position: absolute;
  background-color: #000000;
  height: 3px;
  opacity: 0.03;
  filter: alpha(opacity=3);
  width: 100%;
}

.m-b-h-o4 {
  position: absolute;
  background-color: #000000;
  height: 4px;
  opacity: 0.02;
  filter: alpha(opacity=2);
  width: 100%;
}

.m-b-h-o5 {
  position: absolute;
  background-color: #000000;
  height: 5px;
  opacity: 0.01;
  filter: alpha(opacity=1);
  width: 100%;
}


.m-b-w {
  position: absolute;
  width: 5px;
  z-index: 3;
  top: 0;
  left: 360px;
  border-left: solid 1px #ACACAC;
  height: 500px;
}

.m-b-w-o1 {
  position: absolute;
  background-color: #000000;
  width: 1px;
  opacity: 0.05;
  filter: alpha(opacity=5);
  height: 500px;
}

.m-b-w-o2 {
  position: absolute;
  background-color: #000000;
  width: 2px;
  opacity: 0.04;
  filter: alpha(opacity=4);
  height: 500px;
}

.m-b-w-o3 {
  position: absolute;
  background-color: #000000;
  width: 3px;
  opacity: 0.03;
  filter: alpha(opacity=3);
  height: 500px;
}

.m-b-w-o4 {
  position: absolute;
  background-color: #000000;
  width: 4px;
  opacity: 0.02;
  filter: alpha(opacity=2);
  height: 500px;
}

.m-b-w-o5 {
  position: absolute;
  background-color: #000000;
  width: 5px;
  opacity: 0.01;
  filter: alpha(opacity=1);
  height: 500px;
}

.ui-center-maps {
  position: absolute;
  width: 1240px;
  height: 670px;
  left: 360px;
  z-index: 1;
}

.ui-center-togger-left {
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-image: url('#{$img-path}/left-show.png');
  z-index: 2;
}


.ui-left {
  position: absolute;
  width: 360px;
  background-color: #FFFFFF;
  height: 260px;
  z-index: 4;
}

.ui-left-tog-map {
  position: absolute;
  top: 0;
  right: 0;
  width: 17px;
  cursor: pointer;
  border-left: solid 1px #ACACAC;
}

.ui-left-tog-map-img {
  position: absolute;
  border: 0;
}

.ui-lft-ftr-cpy-bnd {
  position: absolute;
  font-family: Arial;
  font-size: 12px;
  text-align: right;
  bottom: 5px;
  background-color: #ffffff;
  color: #585858;
  z-index: 3;
}

.ui-lft-ftr-cpy-ctn {
  position: absolute;
  top: 5px;
  background-image: url('#{$img-path}/copy-right-bg.png') !important;
}

.ui-lft-ftr-cpy-ctn a {
  color: #0072BB;
  font-weight: bold;
  text-decoration: none;
}

.ui-lft-rt-opt-bound {
  margin-top: 10px;
  position: relative;
  border-bottom: solid 1px #e0e0e0;
}

.ui-lft-rt-opt-bl {
  width: 5px;
}

.ui-lft-rt-opt-lb {
  font-family: Arial;
  font-size: 13px;
  width: 80px;
  padding-left:10px;
}

.ui-lft-rt-opt-lc {
  width: 20px;
}

.ui-lft-rt-opt-btm {
  position: relative;
  padding: 5px 4px 0 5px;
  text-align: right;
}

.ui-lft-rt-opt-clr {
  cursor: pointer;
}


.ui-lft-adv-bnd {
  width: 100%;
}

.ui-lft-rt-rlt-opt {
  position: relative;
  -moz-box-sizing: border-box;
  overflow-y: hidden;
  height: 40px;
}

.ui-lft-rt-rlt-bnd {
  position: relative;
  -moz-box-sizing: border-box;
  overflow-y: hidden;
}

.ui-lft-rt-rlt-cnt {
  position: absolute;
  left: 5px;
}


.ui-lft-rt-opt-tx {
  border: 1px solid #e0e0e0;
  padding: 7px 5px;
  color: #333;
  width: 170px !important;
  height: 28px;
}

.ui-lft-rt-opt-tx-search {
  border: 1px solid #e0e0e0;
  padding: 0 5px;
  color: #333;
  width: 238px;
  height: 22px;
}

.ui-lft-rt-rlt-opt-txt {
  padding: 10px 0 0 10px;
}

.ui-mid-search-around-tit {
  font-family: Tahoma;
  font-size: 13px;
  font-weight: bold;
  padding: 0 0 0 0;
}

table {
  width: 100%;
  border: none;
  border-spacing: 0; /* cellspacing */
}

table tr td {
  padding: 0;
}

//



.jcarousel, .tab {
  font-size: inherit;
}

.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  /* add padding to account for vertical scrollbar */
  padding-right: 6px;
  min-width: 240px;
}

/*Các style cho quảng cáo ở góc phải!*/
.float-ck {
  position: fixed;
  bottom: 0px;
  z-index: 9000
}

* html .float-ck {
  position: absolute;
  bottom: auto;
}

#float_content_right {
  border: 1px solid #01AEF0;
}

#hide_float_right {
  text-align: right;
  font-size: 11px;
}

#hide_float_right a {
  background: #01AEF0;
  padding: 2px 4px;
  color: #FFF;
}

.ui-widget.ui-widget-content::-webkit-scrollbar {
  width: 6px;
  background-color: #5496cf;
}

.ui-widget.ui-widget-content::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.ui-widget.ui-widget-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

#xe_sap_toi_diem,
#chi_tiet_tuyen{
  position: fixed;
  left: 50%;
  z-index: 9999;
  width: auto;
  height: auto;
}
/*.marquee {
       margin: 0 auto;
       white-space: nowrap;
       overflow: hidden;
       box-sizing: border-box;
   }*/

/*.marquee span {
    white-space: nowrap;
    display: inline-block;
    padding-left: 100%;
    animation: marquee 25s linear infinite;
    color: white;
    font-size: 1.2em;
    font-weight: bolder;
}*/

/*.marquee span:hover {
    animation-play-state: paused
}*/


/* Make it move */

/*@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}*/

.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  /* add padding to account for vertical scrollbar */
  padding-right: 20px;
}